{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="bst">{% block title %} Submit consensus classification to ClinVar {% endblock %}</h1>

    <div class="bst">The most recent consensus classification for this variant will be submitted to ClinVar:</div>
    <div>{{ variant[1] }}&nbsp;&nbsp; {{ variant[2] }}&nbsp;&nbsp; {{ variant[3] }}&nbsp;&nbsp; {{ variant[4] }}</div>

    <form action="" autocomplete="off" method="post" class="needs-validation bst" novalidate>
        <div class="form-group sst">
            <label for="condition" class="form-label">Condition (From {{ macros.external_link("Orphanet", "https://www.orpha.net") }})</label>
            <div class="autocomplete" style="width:100%">
                <input value="{{ request.form['condition'] }}" id="condition" class="form-control" type="text" name="condition" placeholder="Select an Orphanet disease condition... start search by typing">
            </div>
            <div class="invalid-feedback">
                Please select a condition
            </div>
        </div>

        <div class="form-group sst">
            <label for="gene" class="form-label">Gene</label>
            <select class="form-select" name="gene" id="gene" {% if genes | length == 0 %}disabled{% endif %}>
                {% for gene in genes %}
                   <option value="{{ gene }}" {% if (gene == request.form['gene']) %} selected="selected" {% endif %}> {{ gene }} </option>
                {% endfor %}
                {% if genes | length == 0 %}
                    <option value="None"> There is no gene associated to the variant consequences. Submission will be without gene. </option>
                {% endif %}
           </select>
        </div>

        <button class="bst btn btn-primary" type="submit">Submit to ClinVar</button>
    </form>
      
</div>

<!-- this extracts the orphanet codes and makes them available to the scripts -->
<script>
    const flaskData = JSON.parse('{{data | tojson | safe}}');
    const orphanet_codes = flaskData.orphanet_codes;
</script>

{% endblock %}

{% block special_scripts %}
<script src="/static/js/formValidator.js"></script>
<script src="/static/js/submit_clinvar.js"></script>
{% endblock%}