{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="bst">{% block title %} Submit consensus classification to ClinVar {% endblock %}</h1>

    <div class="bst">This classification will be submitted to ClinVar:</div>

    <div>{{ macros.add_variant_banner(variant) }}</div>    
    <div>{{ macros.draw_most_recent_consensus_classification(variant.get_recent_consensus_classification()) }}</div>

    <form action="" autocomplete="off" method="post" class="needs-validation bst" novalidate>

        <div class="form-group sst">
            <label for="gene" class="form-label">Select a gene</label>
            <select class="form-select" name="gene" id="gene" {% if genes | length == 0 %}disabled{% endif %}>
                {% for gene in genes %}
                   <option value="{{ gene.id }}" {% if (gene.id == request.form['gene']) %} selected="selected" {% endif %}> {{ gene.symbol }} </option>
                {% endfor %}
                {% if genes | length == 0 %}
                    <option value="None"> There is no gene associated to the variant consequences. Submission will be without gene. </option>
                {% endif %}
           </select>
        </div>

        <button class="bst btn btn-primary" type="submit">Submit to ClinVar</button>
    </form>
      
</div>


{% endblock %}

{% block special_scripts %}
{% endblock%}