{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="bst">{% block title %} Submit consensus classification to ClinVar {% endblock %}</h1>

    <div class="bst">This classification will be submitted to ClinVar:</div>

    <div>{{ macros.add_variant_banner(variant) }}</div>    
    <div>{{ macros.draw_most_recent_consensus_classification(variant.get_recent_consensus_classification()) }}</div>

    <form action="" autocomplete="off" method="post" class="needs-validation bst" novalidate>
        <div class="form-group sst">
            <label for="orpha_name" class="form-label">Select a condition (From {{ macros.external_link("Orphanet", "https://www.orpha.net") }})</label>
            <div class="autocomplete full_page">
                <input id="orpha_code" name="orpha_code" type="text" value="{{ request.form.get('orpha_code', '') }}" class="visually_hidden">
                <input value="{{ request.form.get('orpha_name', '') }}" id="orpha_name" class="form-control" type="text" name="orpha_name" placeholder="Select an Orphanet disease condition... start search by typing">
            </div>
            <div class="invalid-feedback">
                Please select a condition
            </div>
        </div>

        <div class="form-group sst">
            <label for="gene" class="form-label">Select a gene</label>
            <select class="form-select" name="gene" id="gene" {% if genes | length == 0 %}disabled{% endif %}>
                {% for gene in genes %}
                   <option value="{{ gene.id }}" {% if (gene.id == request.form['gene']) %} selected="selected" {% endif %}> {{ gene.symbol }} </option>
                {% endfor %}
                {% if genes | length == 0 %}
                    <option value="None"> There is no gene associated to the variant consequences. Submission will be without gene. </option>
                {% endif %}
           </select>
        </div>

        <button class="bst btn btn-primary" type="submit">Submit to ClinVar</button>
    </form>
      
</div>


<input type='hidden' id='flask_data' data-orphanet-codes='{{ orphanet_codes | tojson }}' />

<!-- this extracts the orphanet codes and makes them available to the scripts -->
<!--
<script>
    var orphanet_codes = JSON.parse('{{ orphanet_codes | tojson }}'.slice(1, -1));
</script>
-->

{% endblock %}

{% block special_scripts %}
<script src="/static/js/submit_clinvar.js"></script>
{% endblock%}