{% extends 'base.html' %}

{% block content %}
<div class="ssb">


    <h1 class="sst ssb">{% block title %} Classification history {% endblock %}</h1>


    {{ macros.add_variant_banner(variant) }}


    <div class="d-flex align-items-center">
        {% set most_recent_consensus_classification = variant.get_recent_consensus_classification() %}
        <div class="flex-grow-1">
            <!--<div class="card-subcaption ssb">Current consensus classification</div>-->
            {{ macros.draw_most_recent_consensus_classification(most_recent_consensus_classification) }}
        </div>

        <div class="ms-auto ssr">
            {% if most_recent_consensus_classification is not none %}
                {% set consensus_class = most_recent_consensus_classification.selected_class %}
            {% else %}
                {% set consensus_class = '-' %}
            {% endif %}

            {{ macros.render_consensus_classification_label(consensus_class) }}
        </div>
    </div>

</div>




<div class="ssb">


    <div class="card-subcaption">
        All classifications
    </div>

    <div class="table-responsive">
        <table class="table table-hover" id="historyTable">
            <thead>
                <tr>
                    <th id="type_col" class="width_small" asc="false"><div class="sortable">Type</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="submitter_col" class="width_small"><div class="sortable">Submitter</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="affiliation_col" class="width_small"><div class="sortable">Affiliation</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="class_col" class="width_very_small" ><div class="sortable">User defined class</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="date_col" asc="true" class="width_small"><div class="sortable">Date</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="comment_col"><div class="sortable">Comment</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="scheme_col" class="width_small"><div class="sortable">Scheme</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="selected_criteria_col" class="width_medium"><div class="sortable">Selected criteria</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="class_by_scheme_col" class="width_very_small"><div class="sortable">Class by scheme</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="literature_col" class="width_small"><div class="sortable">Literature</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="document_col" class="width_small">Document</th>
                </tr>
            </thead>
            <tbody>
                {% set all_classifications = [] %}
                {% if variant.consensus_classifications is not none %}
                    {% set all_classifications = all_classifications + variant.consensus_classifications %}
                {% endif %}
                {% if variant.user_classifications is not none %}
                    {% set all_classifications = all_classifications + variant.user_classifications %}
                {% endif %}
                {% for classification in all_classifications %}
                
                <tr>
                    <td class="{{classification.type | replace(' ', '_')}}_style">{{classification.type}}</td>
                    <td>{{classification.submitter.full_name}}</td>
                    <td>{{classification.submitter.affiliation}}</td>
                    <td>{{classification.selected_class}}</td>
                    <td class="nowrap">{{classification.date}}</td>
                    <td>{{classification.get_comment_display()}}</td>
                    <td>{{classification.scheme.display_name}}</td>
                    <td>{{ macros.draw_criteria_display(classification.scheme.criteria) }}</td>
                    <td>{{classification.scheme.selected_class}}</td>
                    <td>{{macros.selected_literature_display(classification.literature)}}</td>
                    <td>{% if 'consensus' in classification.type %}<a href="{{ url_for('download.evidence_document', consensus_classification_id=classification.id) }}">download</a>{% endif %}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>


</div>


<div class="bsb">
    <div>Color scheme:</div>

    <ul class="list-group list-group-horizontal-sm list-nopad-td list-nobackground" >
        <li class="list-group-item noborder d-flex  align-items-center">
            <div class="user_classification_style color_scheme_box ssr"></div>
            <div>user classification</div>
        </li>
        <li class="list-group-item noborder d-flex align-items-center">
            <div class="consensus_classification_style color_scheme_box ssr"></div>
            <div>consensus classification</div>
        </li>

    </ul>
</div>


{% endblock %}

{% block special_scripts %}
<script src="/static/js/classification_history.js"></script>
{% endblock%}