{% extends 'base.html' %}

{% block content %}
<div class="ssb">


    <h1 class="sst ssb">{% block title %} Classification history {% endblock %}</h1>


    {{ macros.add_variant_banner(variant_oi) }}


    <div class="d-flex align-items-center">
        <div class="flex-grow-1">
            <div class="card-subcaption ssb">Current consensus classification</div>
            {{ macros.draw_most_recent_consensus_classification(most_recent_consensus_classification) }}
        </div>

        <div class="ms-auto" style="margin-right:1em;">
            {% if most_recent_consensus_classification is not none %}
                {% set consensus_class = most_recent_consensus_classification[3] %}
            {% else %}
                {% set consensus_class = '-' %}
            {% endif %}

            {{ macros.render_consensus_classification_label(consensus_class) }}
        </div>
    </div>
    

</div>




<div class="ssb">


    <div class="card-subcaption">
        All classifications
    </div>

    <div class="table-responsive">
        <table class="table table-hover" id="historyTable" style="table-layout: auto;">
            <thead>
                <tr>
                    <th id="type_col" asc="false"><div class="sortable">Type</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="submitter_col"><div class="sortable">Submitter</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="affiliation_col"><div class="sortable">Affiliation</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="class_col" ><div class="sortable">User defined class</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="date_col" asc="true"><div class="sortable">Date</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th style="min-width:30rem" id="comment_col"><div class="sortable">Comment</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="scheme_col"><div class="sortable">Scheme</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="selected_criteria_col" style="min-width:20rem"><div class="sortable">Selected criteria</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="class_by_scheme_col" style="max-width:5rem"><div class="sortable">Class by scheme</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="class_by_scheme_col" style="max-width:5rem"><div class="sortable">Literature</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th id="document_col">Document</th>
                </tr>
            </thead>
            <tbody>
                {% for classification in recorded_classifications %}
                
                <tr>
                    <td class="{{classification['type'] | replace(' ', '_')}}_style">{{classification['type']}}</td>
                    <td>{{classification['submitter']}}</td>
                    <td>{{classification['affiliation']}}</td>
                    <td>{{classification['class']}}</td>
                    <td style="white-space:nowrap;">{{classification['date']}}</td>
                    <td>{{classification['comment']}}</td>
                    <td>{{classification['scheme']}}</td>
                    <td>{{ macros.draw_criteria_display(classification['selected_criteria'], '4em', '2em') }}</td>
                    <td>{{classification['class_by_scheme']}}</td>
                    <td>{{macros.selected_literature_display(classification['selected_literature'])}}</td>
                    <td>{% if 'evidence_document_url' in classification %}<a href="{{ classification['evidence_document_url'] }}">download</a>{% endif %}</td>



                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>


</div>


<div class="bsb">
    <div>Color scheme:</div>

    <ul class="list-group list-group-horizontal-sm list-nopad-td list-nobackground" >
        <li class="list-group-item noborder d-flex  align-items-center">
            <div class="user_classification_style color_scheme_box ssr"></div>
            <div>user classification</div>
        </li>
        <li class="list-group-item noborder d-flex align-items-center">
            <div class="consensus_classification_style color_scheme_box ssr"></div>
            <div>consensus classification</div>
        </li>

    </ul>
</div>


{% endblock %}

{% block special_scripts %}
<script src="/static/js/colors.js"></script>
<script src="/static/js/classification_history.js"></script>
{% endblock%}