{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="bst">{% block title %} Create a {{ classification_type }} classification {% endblock %}</h1>


    <div id="warning_alert_previous_classification" class="alert alert-warning bst" role="alert">
        It appears that you already have a classification for this variant and scheme. You can edit it here.
    </div>

    {{ macros.add_variant_banner(variant) }}
    

    <form class="bst" action="" id="acmg-form" autocomplete="off" method="post" novalidate>

        <!-- user/consensus select-->
        {% if session.get('user') is not none and 'super_user' in session['user']['roles']%}
        <div class="form-group">
            <label for="classification_type" class="form-label">Select type of classification</label>
            <select class="form-select" name="classification_type" id="classification_type" required>
                <option option-href="{{ url_for('variant.classify', variant_id=variant.id) }}" value="user" {% if classification_type == 'user' %}selected{% endif %}>User classification</option>
                <option option-href="{{ url_for('variant.consensus_classify', variant_id=variant.id) }}" value="consensus" {% if classification_type == 'consensus' %}selected{% endif %}>Consensus classification</option>
            </select>
        </div>
        {% endif %}

        <!-- scheme select -->
         <div class="form-group sst">
            <label for="scheme" class="form-label">Classification scheme</label>
            <select class="form-select" name="scheme" id="scheme" required>

            </select>
        </div>

        <div class="collapse show" aria-expanded="true" id="classification_schema_wrapper">
            
            <div class="d-flex align-items-center sst">
                <div class="flex-grow-1">
                    Go <a id="scheme_reference" href="#">here</a> for more details about the currently selected scheme.
                </div>
                
                <div>
                    <button type="button" class="btn btn-sm btn-secondary ssr" data-bs-toggle="modal" data-bs-target="#automatic_classification_options-modal">{{ macros.draw_gear(tooltip = "") }}</button>
                </div>
                <div>
                    <button type="button" class="btn btn-sm btn-primary ssr" id="automatic_classification_button">Preselect criteria</button>
                </div>
                <div>
                    <button type="button" class="btn btn-sm btn-primary" id="migrate_classification_button" data-bs-toggle="modal" data-bs-target="#migrate_classification_button-modal">Migrate classification</button>
                </div>
            </div>

        
            <!-- acmg criteria -->
            <div class="d-flex justify-content-center sst">
                <div class="card">
                    <h4 class="card-header">Pathogenic evidence</h4>
                    <div class="card-body">
                        <div id="pathogenic_criteria_container" class="d-flex justify-content-center ssl"></div>
                    </div>
                </div>


                <div class="card">
                    <h4 class="card-header">Uncertain</h4>
                    <div class="card-body">
                        <div id="uncertain_criteria_container" class="d-flex justify-content-center ssl"></div>
                    </div>
                </div>
    
    
                <div class="card">
                    <h4 class="card-header">Benign evidence</h4>
                    <div class="card-body">
                        <div id="benign_criteria_container" class="d-flex justify-content-center ssl"></div>
                    </div>
                </div>

                <!-- acmg classification preview -->
                <div class="card">
                    <div class="card-body d-flex justify-content-center align-items-center padding_big">
                        <div class="">
                            <hr>
                            <div>Classification based on selected criteria:</div>
                            <div class="display-3 bolder text_align_center" id="classification_preview"></div>
                            <hr>
                        </div>
                    </div>
                </div>

            </div>


            <!-- criterium display & evidence select -->
            <div class="d-flex justify-content-center sst">
                <div id="criteria_container" class="card full_page">
                    <div class="card-body">

                        <div class="d-flex align-items-center">
                            <select class="ssr form-select width_small cursor_pointer" id="select_criterium_check" 
                                    data-bs-toggle="tooltip" data-bs-placement="left" 
                                    data-bs-title="unchecked: not enough evidence available, selected: positive evidence, unselected: we KNOW this criterion is not true" hidden>
                                <option class="criterium_option" value="unchecked">unchecked</option>
                                <option class="criterium_option" value="selected">selected</option>
                                <option class="criterium_option" value="unselected">unselected</option>
                            </select>
                            <label class="large_text" id="criteria_title"></label>

                        </div>
                        <hr>
                        <div id="button_container" hidden>
                            <h4 class="sst">Description:</h4>
                            <div id="criteria_description" class="wrap-spaces"></div>
                            <div id="additional_content" class="sst"></div>
                            <h4 class="bst">Evidence:</h4>
                            <textarea type="text" id="criteria_evidence" class="form-control sst" placeholder="insert evidence..."></textarea>
                            <h4 id="important_information_heading" class="bst visually_hidden">Important information</h4>
                            <div id="important_information_container">
                                <div class="sst important_information" id="splicing_info">
                                    <h5>Splicing</h5>
                                    {% set current_annotations = variant.annotations.get_group('Splicing') %}
                                    {{ macros.draw_annotation_group(variant.annotations, current_annotations) }}
                                </div>
                                <div class="sst important_information" id="consequence_info">
                                    <h5>Consequences</h5>
                                    {{ macros.draw_consequence_table(variant) }}
                                </div>
                                <div class="sst important_information" id="gnomad_info">
                                    <h5>GnomAD</h5>
                                    {% set current_annotaions = variant.annotations.get_group('gnomAD')%}
                                    {{ macros.draw_annotation_group(variant.annotations, current_annotaions)}}
                                </div>
                                <div class="sst important_information" id="cancerhotspots_info">
                                    <h5>Cancerhotspots</h5>
                                    {% set current_annotaions = variant.annotations.get_group('Cancerhotspots')%}
                                    {{ macros.draw_annotation_group(variant.annotations, current_annotaions)}}
                                </div>
                                <div class="sst important_information" id="clinvar_info">
                                    <h5>ClinVar</h5>
                                    {% if variant.clinvar is not none %}
                                    <div>
                                        <abbr title="A summary of the ClinVar interpretations. The numbers in brackets display the number of ClinVar submissions reporting the specific type of interpretation."><a class="dashed_underline">interpretation summary:</a></abbr>&nbsp;{{ variant.clinvar.interpretation_summary }}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="sst important_information" id="computational_evidence_info">
                                    <h5>Computational evidence</h5>
                                    {{ macros.draw_annotation(variant.annotations.phylop_100way) }}
                                    {{ macros.draw_annotation(variant.annotations.cadd_scaled) }}
                                    {{ macros.draw_annotation(variant.annotations.revel) }}
                                </div>
                                <div class="sst important_information" id="links_info">
                                    <h5>External links</h5>
                                    {{ macros.external_link("Cancer hotspots", "https://www.cancerhotspots.org/#/home") }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>




        <!-- final classification -->
        <div class="form-group bst">
            <label for="final_class" class="form-label">Final classification</label>
            <select class="form-select" name="final_class" id="final_class" required> <!-- options are filled by javascript -->
            </select>
            <div class="invalid-feedback">
                Please select a classification
            </div>
        </div>



        <!-- comment -->
        <div class="form-group sst">
            <label for="comment" class="form-label">Comment (optional)</label>
            <textarea type="text" name="comment"
                   placeholder="comment" class="form-control"
                   value="" id="comment" maxlength="3500"></textarea>
        </div>

        <!-- literature select -->
        <div class="form-group sst">
            <label for="literature" class="form-label">Literature (optional)</label>


            <div> 
                <!-- creates a new row in the selected literature table -->
                <button id="blank_row_button" class="btn btn-sm btn-secondary" type="button">Add blank row</button>
                <!-- opens a modal showing all literature entries for this variant, the user selects some and for each one of them a new row in the selected literature table is created -->
                <button id="text-mining-button" type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#text-mining-modal">Add from text mining</button>
                {% if classification_type == 'consensus' %}
                <button id="selected-user-literature-button" type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#selected-user-literature-modal">Add from user</button>
                {% endif %}
            </div>


            <div id="literature">
                <div class="table-responsive tableFixHead table-lg">
                    <table class="table table-hover" id="selectedLiterature">
                        <thead>
                            <tr>
                                <th class="width_small">PMID</th>
                                <th>Text passage</th>
                                <th class="width_very_small">Remove</th>
                            </tr>
                        </thead>
                        <tbody id="selectedLiteratureList"> <!-- names: pmid & text_passage -->

                        </tbody>
                    </table>
                </div>
            </div>





        </div>



        <!-- submit -->
        <div class="bsb">
            <button id="submit-acmg-form" class="sst btn btn-primary" type="submit">Submit classification</button>
            <!--
            <div class="d-flex">
                <div class="ssr">Last submitted at:</div>
                <div id="submitted_at_date"></div>
            </div>
            -->
        </div>

    </form>


    <!-- modal for showing all papers -->
    <div class="modal fade" id="text-mining-modal" tabindex="-1" aria-labelledby="text-mining-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="text-mining-modal-label">Select papers</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                  <div class="modal-body">
                      
                    <div class="table-responsive tableFixHead table-lg">
                        <table class="table table-hover" id="literatureTable">
                            <thead>
                                <tr>
                                    <th class="width_minimal">Select</th>
                                    <th class="width_very_small" id="literatureTableYearCol"><div class="sortable">Year</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                                    <th><div class="sortable">Authors</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                                    <th ><div class="sortable">Title</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                                    <th class="width_small"><div class="sortable">Journal / Publisher</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                                    <th class="width_small"><div class="sortable">Link</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                                    <th class="width_very_small"><div class="sortable">Source</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if variant.literature is not none %}
                                {% for paper in variant.literature %}
                                <tr>
                                    <td class="vertical_align_middle text_align_center"><input class="form-check-input selected_literature" type="checkbox"></input></td>
                                    <td>{{ paper.year }}</td>
                                    <td><abbr title="{{ paper.authors }}"><div class="Nellipsis">{{ paper.authors }}</div> </abbr></td>
                                    <td data-title="{{ paper.title }}">{{ paper.title }}</td>
                                    <td>{{ paper.journal }}</td>
                                    <td class="text_align_center" data-pmid="{{ paper.pmid }}">
                                        {{ macros.external_link("PMID:" + paper.pmid|string, "https://pubmed.ncbi.nlm.nih.gov/" + paper.pmid|string) }}
                                    </td>
                                    <td>{{ paper.source }}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                    <input id="select_all_shown_papers_button" class="form-check-input selected_literature" type="checkbox"></input> select all shown
                    
                  </div>
                <div class="modal-footer">
                    <button id="add_selected_literature_button" type="button" class="btn btn-primary">Add selected</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    {% if classification_type == 'consensus' %}
    <div class="modal fade" id="selected-user-literature-modal" tabindex="-1" aria-labelledby="selected-user-literature-label" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selected-user-literature-label">Select papers</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                  <div class="modal-body">
                      
                    <div class="table-responsive tableFixHead table-lg">
                        <table class="table table-hover" id="userSelectedLiterature">
                            <thead>
                                <tr>
                                    <th class="width_minimal">Select</th>
                                    <th class="width_small"><div class="sortable">Provided by</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                                    <th class="width_small"><div class="sortable">Affiliation</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                                    <th class="width_small"><div class="sortable">PMID</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                                    <th><div class="sortable">Text passage</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                                </tr>
                            </thead>
                            <tbody id="user_text_passages_for_copy">

    
                            </tbody>
                        </table>
                    </div>

                    <input id="select_all_shown_papers_button_user" class="form-check-input selected_literature" type="checkbox"></input> select all shown
                    
                  </div>
                <div class="modal-footer">
                    <button id="add_selected_literature_button_user" type="button" class="btn btn-primary">Add selected</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    <!-- modal for auatomatic classification options -->
    <div class="modal fade" id="automatic_classification_options-modal" tabindex="-1" aria-labelledby="automatic_classification_options-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="automatic_classification_options-modal-label">Automatic classification options</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Select evidence type to be used:
                    <!--
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="automatic_classification_evidence_type" id="automatic_classification_evidence_type_all" autocomplete="off" value="all" checked>
                        <label class="form-check-label" for="automatic_classification_evidence_type_all">All (use splicing and protein evidence)</label>
                    </div>
                    -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="automatic_classification_evidence_type" id="automatic_classification_evidence_type_splicing" autocomplete="off" value="splicing" checked>
                        <label class="form-check-label" for="automatic_classification_evidence_type_splicing">Splicing</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="automatic_classification_evidence_type" id="automatic_classification_evidence_type_protein" autocomplete="off" value="protein">
                        <label class="form-check-label" for="automatic_classification_evidence_type_protein">Protein</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>


    
    <!-- modal for classification migration -->
    <div class="modal fade" id="migrate_classification_button-modal" tabindex="-1" aria-labelledby="migrate_classification_button-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="migrate_classification_button-modal-label">Migrate classification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Select a previous classification to import:
                        <div>
                            
                        </div>

                        <div class="table-responsive tableFixHead">
                            <table class="table table-hover" id="migrate_classification_table">
                                <thead>
                                    <tr>
                                        <th class="width_small"><div class="sortable">Scheme</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                                        <th class="width_minimal text_align_center"><div class="sortable">Final class</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                                        <th class="width_small"><div class="sortable">Date</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set current_scheme_with_info = previous_classifications[logged_in_user_id] %}
                                    {% if classification_type == "consensus" %}
                                        {% set current_scheme_with_info = previous_classifications[-1] %}
                                    {% endif %}
                                    {% if current_scheme_with_info is none %}
                                        {% set current_scheme_with_info = {} %}
                                    {% endif %}
                                    {% for scheme_id in current_scheme_with_info %}
                                    <tr id="migrate_from_{{scheme_id}}" class="clickable" scheme_id="{{scheme_id}}">
                                        <td>{{ current_scheme_with_info[scheme_id]["scheme"]["display_name"] }}</td>
                                        <td class="text_align_center">{{ current_scheme_with_info[scheme_id]["selected_class"] }}</td>
                                        <td>{{ current_scheme_with_info[scheme_id]["date"] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
      
</div>

<!-- this extracts the flask data and makes them available to the scripts -->
<input type='hidden' id='flask_data'
    data-logged-in-user-id='{{ logged_in_user_id }}'
    data-classification-schemas='{{ classification_schemas | tojson }}'
    data-previous-classifications='{{ previous_classifications | tojson }}'
    data-variant-genes='{{ variant.get_genes(how = "string") }}'
    data-classification-type='{{ classification_type }}'
    data-request-form='{{ request.form.to_dict(flat=True) | tojson }}'
    data-selected-pmids='{{ request.form.getlist("pmid") | tojson }}'
    data-selected-text-passages='{{ request.form.getlist("text_passage") | tojson }}'
    data-automatic-classification-url='{{ url_for("variant.automatic_classification", variant_id=variant.id) }}'
    data-calculate-class-url='{{ url_for("download.calculate_class") }}'
/>



{% endblock %}

{% block special_scripts %}
<!--<script src="/static/js/formValidator.js"></script>-->
<script src="/static/js/classify.js"></script>
{% endblock%}