{% extends 'base.html' %}

{% block content %}
<div class="container">
    


    <h1 class="bst">{% block title %} Create a new variant {% endblock %}</h1>



    <ul class="nav nav-tabs bst" id="tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="vcf-tab" data-bs-toggle="tab" data-bs-target="#vcf" type="button" role="tab" aria-controls="home" aria-selected="true">VCF import</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="hgvs-tab" data-bs-toggle="tab" data-bs-target="#hgvs" type="button" role="tab" aria-controls="hgvs" aria-selected="false">HGVS import</button>
        </li>
        {% if vcf_file_import_active %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="vcf_file-tab" data-bs-toggle="tab" data-bs-target="#vcf_file" type="button" role="tab" aria-controls="vcf_file" aria-selected="false">from VCF file</button>
        </li>
        {% endif %}
    </ul>


      <div class="tab-content" id="TabContent">
        <div class="tab-pane fade show active sst" id="vcf" role="tabpanel" aria-labelledby="vcf-tab">
            <form action="/create?type=vcf" method="post" class="needs-validation" novalidate>
                <div class="form-group">
                     <label for="Chromosome" class="form-label">Chromosome</label>
                     <select class="form-select" name="chr" id="Chromosome" required>
                         {% for chr in chrs %}
                            <option value="{{chr}}" {% if (chr == request.form['chr']) %} selected="selected" {% endif %}> {{chr}} </option>
                         {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                        Please provide a chromosome!
                    </div>
                </div>
            
                <div class="form-group sst">
                    <label for="Position" class="form-label">Chromosomal position</label>
                    <input type="text" name="pos" pattern="[0-9 ]+" id="Position"
                           placeholder="pos" class="form-control validationreq"
                           value="{{ request.form['pos'] }}" required>
                    <div class="invalid-feedback">
                        Please provide a chromosomal position!
                    </div>
                </div>
            
                <div class="form-group sst">
                    <label for="Reference" class="form-label">Reference sequence</label>
                    <input type="text" name="ref"
                           placeholder="ref" class="form-control validationreq"
                           value="{{ request.form['ref'] }}" id="Reference" required>
                    <div class="invalid-feedback">
                        Please provide a reference sequence!
                    </div>
                </div>
            
                <div class="form-group sst" >
                    <label for="Alternative" class="form-label">Alternative sequence</label>
                    <input type="text" name="alt"
                           placeholder="alt" class="form-control validationreq"
                           value="{{ request.form['alt'] }}" id="Alternative" required>
                    <div class="invalid-feedback">
                        Please provide an alternative sequence!
                    </div>
                </div>

                <div class="form-group sst">
                    <label for="reference_genome" class="form-label">Reference genome build</label>
                    <select class="form-select" name="genome" id="reference_genome" required>
                        <option value="" {% if ('GRCh38' != request.form['genome'] and 'GRCh37' != request.form['genome']) %} selected="selected" {% endif %} disabled hidden>Choose reference genome build</option>
                        <option value="GRCh38" class="color_black" {% if ('GRCh38' == request.form['genome']) %} selected="selected" {% endif %}>GRCh38 (hg38)</option>
                        <option value="GRCh37" class="color_black" {% if ('GRCh37' == request.form['genome']) %} selected="selected" {% endif %}>GRCh37 (hg19)</option>
                   </select>
                   <div class="invalid-feedback">
                       Please select a reference genome build.
                   </div>
               </div>
            
            
                <div class="form-group sst">
                    <button id="submit_variant" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>


        <div class="tab-pane fade" id="hgvs" role="tabpanel" aria-labelledby="hgvs-tab">
            <form action="/create?type=hgvsc" method="post" class="needs-validation" novalidate>
                <div class="form-group sst" >
                    <label for="reference_transcript" class="form-label">Reference transcript</label>
                    <input type="text" name="transcript"
                           placeholder="reference transcript" class="form-control validationreq"
                           value="{{ request.form['transcript'] }}" id="reference_transcript" required>
                    <div class="invalid-feedback">
                        Please provide a reference transcript!
                    </div>
                </div>
                <div class="form-group sst">
                    <label for="hgvsc" class="form-label">HGVS c.</label>
                    <input type="text" name="hgvsc"
                           placeholder="hgvsc" class="form-control validationreq"
                           value="{{ request.form['hgvsc'] }}" id="hgvsc" required>
                    <div class="invalid-feedback">
                        Please provide a valid HGVS c. string of the form: c.position amino-acid-change (without space)
                    </div>
                </div>

                <div class="form-group sst">
                    <button id="submit_variant_hgvs" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        {% if vcf_file_import_active %}
        <!-- import from vcf file -->
        <div class="tab-pane fade" id="vcf_file" role="tabpanel" aria-labelledby="vcf_file-tab">
            <form action="/create?type=vcf_file" method="post" class="needs-validation" enctype=multipart/form-data novalidate>
                <div class="form-group sst">
                    <label for="reference_genome" class="form-label">Reference genome build</label>
                    <select class="form-select" name="genome" id="reference_genome" required>
                        <option value="" {% if ('GRCh38' != request.form['genome'] and 'GRCh37' != request.form['genome']) %} selected="selected" {% endif %} disabled hidden>Choose reference genome build</option>
                        <option value="GRCh38" style="color:black;" {% if ('GRCh38' == request.form['genome']) %} selected="selected" {% endif %}>GRCh38 (hg38)</option>
                        <option value="GRCh37" style="color:black;" {% if ('GRCh37' == request.form['genome']) %} selected="selected" {% endif %}>GRCh37 (hg19)</option>
                   </select>
                   <div class="invalid-feedback">
                       Please select a reference genome build.
                   </div>
               </div>
                <div class="form-group sst">
                    <label for="file" class="form-label">Select vcf file</label>
                    <input class="form-control validationreq" type="file" id="file" name="file" accept=".vcf">
                    <div class="invalid-feedback">
                        Please provide a valid vcf file.
                    </div>
                </div>

                <div class="form-group sst">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        {% endif %}
    
    
    </div>
      
</div>

{% endblock %}

{% block special_scripts %}
    <script src="/static/js/create.js"></script>
{% endblock%}