{% extends 'base.html' %}


{% block content %}

<div class="full_page">

  
<h1 class="bst"> {% block title %} Browse variants {% endblock %} </h1>

<div id="list-content" class="sst ssr ssl">
  {{ macros.draw_paginated_variant_table(pagination, variants, sort_bys, page_sizes, allowed_user_classes, allowed_consensus_classes, allowed_automatic_classes, annotation_types=annotation_types, allowed_variant_types = allowed_variant_types, lists=lists) }}
</div>

<div class="d-flex bsb align-items-center">
  <div class="form-check ssl align-items-center d-flex">
    <input class="form-check-input" type="checkbox" id="select_all_variants" checked=''>
    <label class="form-check-label vssl" for="select_all_variants">
        Select all variants
    </label>
  </div>
  
  <div class="bsl">
    <button class="btn btn-primary" id="list_add_button" data-bs-toggle="modal" data-bs-target="#list-add-modal">Add selected to list</button>
  </div>
</div>




<!-- modal for adding multiple variants to a list -->


{{ macros.select_list_modal(lists,
                            'variant.search', 
                            modal_args, 
                            "Select a variant list to add all variants which match the current search to it.") }}

<!--
  {'genes':request.args.get('genes'), 
                             'ranges':request.args.get('ranges'), 
                             'consensus':request.args.getlist('consensus'), 
                             'user':request.args.getlist('user'), 
                             'hgvs':request.args.get('hgvs')}
-->

</div>



{% endblock %}

{% block special_scripts %}
    <script src="../static/js/search.js"></script>
{% endblock%}