{% extends 'variant/variant_base.html' %}


{% block status_bar %}
<div class="d-flex align-items-center">
    <div id="status_pills" class="d-flex align-items-center margin_between_list_very_small">
        <!-- annotation status (handled by js) -->
        <div id="annotation_status_pill_holder">
            <span class="badge rounded-pill bg-secondary" data-bs-toggle="tooltip" title="Fetching annotation status">
                loading annotation status <div class="spinner-border spinner_text_height" role="status"></div>
            </span>
        </div>
        
        <!-- hidden variant pill -->
        <div id="hidden_status_pill_holder">
            {% if variant.is_hidden %}
                <span class="badge rounded-pill bg-danger" id="hidden_pill" data-bs-toggle="tooltip" title="This variant is hidden. To unhide use the gear button.">HIDDEN</span>
            {% endif %}
        </div>

        <!-- ClinVar submission status pills -->
        <div id="clinvar_status_pill_holder">
            {% if clinvar_submission is none %}
                <span class="badge rounded-pill bg-secondary" data-bs-toggle="tooltip" title="This variant was not yet submitted to ClinVar">no ClinVar submission</span>
            {% else %}
                {% set status = clinvar_submission[4] %}
                {% if status in ['processed'] %}
                    <span class="badge rounded-pill bg-success" data-bs-toggle="tooltip" title="Most recent ClinVar submission finished at {{ clinvar_submission[6] }}">ClinVar success</span>
                {% endif %}
                {% if status in ['error'] %}
                    <span class="badge rounded-pill bg-danger" data-bs-toggle="tooltip" title="Most recent ClinVar submission yielded an error at {{ clinvar_submission[6] }} with error message: {{ clinvar_submission[5] }}">ClinVar error</span>
                {% endif %}
                {% if status in ['submitted', 'processing'] %}
                    <span class="badge rounded-pill bg-secondary" data-bs-toggle="tooltip" title="Most recent ClinVar submission last updated at {{ clinvar_submission[6] }}. Refresh page to see if it is ready.">ClinVar {{ status }}</span>
                {% endif %}
            {% endif %}
        </div>

    </div>


    <!-- options dropdown -->
    <div class="dropdown ssl">
        <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{ macros.draw_gear(tooltip = "") }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% if session.get('user') is not none and 'user' in session['user']['roles']%}
            <li>
                <button id="reannotate_button" type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#reannotate-modal" {% if variant.variant_type == 'sv' %}disabled{% endif %}>(Re-)Annotate</button>
            </li>
            <li>
                <a type="button" class="dropdown-item" href="{{url_for('upload.submit_assay', variant_id = variant.id)}}" 
                data-bs-toggle="tooltip"  title="Submit an assay report & score for this variant.">
                    Submit assay
                </a>
            </li>
            <li>
                <a id="classify_button" type="button" class="dropdown-item" href="{{url_for('variant.classify', variant_id = variant.id)}}" 
                data-bs-toggle="tooltip"  title="Submit a new variant classification or edit your previous classification(s).">
                    Classify
                </a>
            </li>
            <li>
                {% set disabled = '' %}
                {% set title = 'Submit the consensus classification of this variant to ClinVar.' %}
                {% if variant.get_recent_consensus_classification() is none %}
                    {% set disabled = 'disabled' %}
                    {% set title = 'Create a consensus classification before submitting to ClinVar.' %}
                {% endif %}
                {% if 'submitted' == clinvar_submission['status'] or 'processing' == clinvar_submission['status'] %}
                    {% set disabled = 'disabled' %}
                    {% set title = 'Wait for the current ClinVar submission to finish before submitting another one.' %}
                {% endif %}
                <div data-bs-toggle="tooltip" title="{{ title }}"> <!-- idk why, but putting the tooltip on the button does not show it when the button is disabled -->
                    <button data-href="{{url_for('upload.submit_clinvar', variant_id = variant.id)}}" type="button" class="dropdown-item" {% if disabled == 'disabled' %} disabled="disabled" {% endif %}>
                        Submit to ClinVar
                    </button>
                </div>
            </li>
            <li>
                <a id="publish_button" type="button" class="dropdown-item" href="{{url_for('upload.publish', variant_ids = variant.id)}}" 
                data-bs-toggle="tooltip"  title="Publish this variant and selected data to ClinVar or HerediCaRe">
                    Publish
                </a>
            </li>
            {% endif %}
            <li>
                <a id="vcf_export_button" type="button" class="dropdown-item" href="{{url_for('download.variant', variant_id = variant.id)}}" 
                data-bs-toggle="tooltip" title="Download this variant & all annotations as VCF.">
                    Export to VCF
                </a>
            </li>
            <li>
                <button class="dropdown-item" id="list_add_button" data-bs-toggle="modal" data-bs-target="#list-add-modal">Add to list</button>
            </li>
            {% if 'super_user' in session['user']['roles'] or 'user' in session['user']['roles'] %}
            <li>
                <button class="dropdown-item" id="change_hidden_state" url="{{ url_for('variant.hide_variant', variant_id = variant.id ) }}">
                    {% if variant.is_hidden %}
                        Unhide variant
                    {% else %}
                        Hide variant
                    {% endif %}
                </button>
            </li>
            {% endif %}
        </ul>
    </div>

</div>
{% endblock %}



{% block modals %}


<!-- reannotate confirmation panel (it is a bootstrap modal) -->
<div class="modal fade" id="reannotate-modal" tabindex="-1" aria-labelledby="reannotate-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reannotate-modal-label">Confirm (re-)annotation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to (re-)annotate this variant?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="reannotate-submit" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>




<!-- reload page modal, because annotation is finished -->
<div class="modal fade" id="reload-modal" tabindex="-1" aria-labelledby="reload-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reload-modal-label">Annotation finished</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                The requested variant annotation is ready. <br> 
                Do you want to reload the page now to view the new annotations?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button id="reload-submit" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>



<!-- modal for multiple variant to a list -->
{% set title = 'Select a list to add this variant to it. If a list is highlighted in blue the current variant is already in that list' %}
{% if lists | length == 0 %}
    {% set title = 'You do not have a variant list. Please navigate to the "my-lists" page to create one. The "my-lists" page can be found when clicking on your name at the top right corner of this page.' %}
{% endif %}
{{ macros.select_list_modal(lists,
                            'user.modify_list_content', 
                            {'variant_id':variant.id, 
                             'action':'add_to_list',
                             'next': url_for('variant.display', variant_id=variant.id)}, 
                            title) }}


<!-- delete classification modal -->
<div class="modal fade" id="delete_user_classification-modal" tabindex="-1" aria-labelledby="delete_user_classification-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete_user_classification-label">Confirm delete user classification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>Are you sure you want to delete this classification?</div>
                <div>THIS CAN NOT BE UNDONE!</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="delete_user_classification-submit" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block additional_tab_heads %}
<li class="nav-item" role="presentation">
    <button class="nav-link" id="igv-tab" data-bs-toggle="tab" data-bs-target="#igv" type="button" role="tab" aria-controls="igv" aria-selected="false">IGV</button>
</li>
{% endblock %}


{% block additional_tabs %}
<div class="tab-pane fade" id="igv" role="tabpanel" aria-labelledby="igv-tab">
    <div class="w-100 ssb">
        <div class="card noboarder_top">
            <div class="card-body">
                <h4 class="card-subcaption">IGV</h4>

                <p class="card-text">
                    <div id="igv-container"></div>
                </p>
            </div>
        </div>
    </div>
</div>

<input type='hidden' id='flask_data' 
    data-variant-page-url='{{ url_for("variant.display", variant_id = "-1", _external=True) }}'
    data-delete-classification-url='{{ url_for("variant.delete_classification") }}'
    data-annotation-status-url='{{ url_for("variant.annotation_status") }}'
    data-variant-id="{{ variant.id }}"
    data-run-annotation-service-url='{{ url_for("variant.run_annotation_service") }}'
/>

{% endblock %}


{% block additional_scripts %}
    <script type="module"  src="/static/js/variant_addition.js"></script>
{% endblock %}
<!--
    - variant consequences nach preferred transcripts sortieren und badges (mane select, ....) anzeigen
    - gene page
    - genids durch gennamen ersetzen in variant consequence table
    - nobreak für bestimmte spalten
    ~ minimale seitenbreite angeben
    - beim variant import vcf check laufen lassen
    ~ variant import auch von hgvs möglich machen
    external links karte einfügen
    abbr beschreibungen der flags einfügen
    variant consequence table nach refseq / ensembl filtern (mit toggle)
    transcript table auf gene page einfügen
    refseq transcripts importieren + mapping table enst -> refseq
    - umbruch der last evaluated daten verhindern in clinvar submissions table
    - clinvar submissions standardmäßig nach last evaluated sortieren
    - wenn variante erfolgreich hochgeladen wurde soll der link gleich angezeigt werden in der flashed message

    - add positive feedback if variant was imported successfully
-->