{% extends 'variant/variant_base.html' %}


{% block status_bar %}
<div class="d-flex align-items-center">
    <div id="status_pills" class="d-flex align-items-center margin_between_list_very_small">
        <!-- annotation status (handled by js) -->
        <div id="annotation_status_pill_holder">
            <span class="badge rounded-pill bg-secondary" data-bs-toggle="tooltip" title="Fetching annotation status">
                loading annotation status <div class="spinner-border spinner_text_height" role="status"></div>
            </span>
        </div>
        
        <!-- hidden variant pill -->
        <div id="hidden_status_pill_holder">
            {% if variant.is_hidden %}
                <span class="badge rounded-pill bg-danger" id="hidden_pill" data-bs-toggle="tooltip" title="This variant is hidden. To unhide use the gear button.">HIDDEN</span>
            {% endif %}
        </div>

        <!-- ClinVar submission status -->
        <div id="clinvar_status_pill_holder">
            {% set pill_color = "bg-secondary" %}
            {% if clinvar_queue_entry_summary["status"] == "multiple stati" %}
                {% set pill_color = "bg-warning" %}
            {% endif %}
            {% if clinvar_queue_entry_summary["status"] in ["processed"] %}
                {% set pill_color = "bg-success" %}
            {% endif %}
            {% if clinvar_queue_entry_summary["status"] in ["error"] %}
                {% set pill_color = "bg-danger" %}
            {% endif %}
            <span class="badge rounded-pill {{pill_color}} popover_collapse_toggle" tabindex="0" role="button" 
            data-bs-toggle="collapse" data-bs-target=".popover_collapse_toggle:hover + .popover_collapse" aria-expanded="false">
                {% if clinvar_queue_entry_summary["status"] not in ["skipped", "unknown"] %}
                    {% set mrcc = variant.get_recent_consensus_classification() %}
                    {% if mrcc is not none %}
                        {% if mrcc.needs_clinvar_upload and clinvar_queue_entry_summary["status"] not in ["progress", "processing", "submitted", "pending", "waiting", "requested"] %}
                            {{macros.draw_exclamation_mark("The consensus classification needs to be uploaded to ClinVar!")}}
                        {% endif %}
                    {% endif %}
                    ClinVar {{clinvar_queue_entry_summary["status"]}}
                {% else %}
                    no ClinVar submission
                {% endif %}
            </span>

            <div class="popover_collapse collapse collapse-horizontal">
                <div class="card card-body width_very_large">
                    {% if clinvar_queue_entries is not none and clinvar_queue_entry_summary["status"] not in ["waiting", "requested"] %}
                    <div class='row gx-2 border-bottom bg-light'>
                        <div class='col-3'>Accession ID</div>
                        <div class='col-3 text-center border-start'>status</div>
                        <div class='col-6 text-center border-start'>message</div>
                    </div>
                    {% for clinvar_queue_entry in clinvar_queue_entries %}
                        <div class='row gx-2'>
                            <div class='col-3'>{{clinvar_queue_entry[6]}}</div>
                            <div class='col-3 text-center border-start'>{{clinvar_queue_entry[3]}}</div>
                            <div class='col-6 text-center border-start'>{{clinvar_queue_entry[4]}}</div>
                        </div>
                    {% endfor %}
                    {% endif %}
                    {% if clinvar_queue_entry_summary["insert_tasks_message"] != "" %}
                    <div>
                        Upload error: {{clinvar_queue_entry_summary["insert_tasks_message"]}}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- HerediCaRe upload status pill -->
        <div id="heredicare_status_pill_holder">
            {% set pill_color = "bg-secondary" %}
            {% if heredicare_queue_entry_summary["status"] == "multiple stati" %}
                {% set pill_color = "bg-warning" %}
            {% endif %}
            {% if heredicare_queue_entry_summary["status"] == "success" %}
                {% set pill_color = "bg-success" %}
            {% endif %}
            {% if heredicare_queue_entry_summary["status"] == "error" or heredicare_queue_entry_summary["status"] == "api_error" %}
                {% set pill_color = "bg-danger" %}
            {% endif %}
            <span class="badge rounded-pill {{pill_color}} popover_collapse_toggle" tabindex="0" role="button" data-bs-toggle="collapse" 
                  data-bs-target=".popover_collapse_toggle:hover + .popover_collapse" aria-expanded="false">
                {% if heredicare_queue_entry_summary["status"] not in ["skipped", "unknown"] %}
                    {% set mrcc = variant.get_recent_consensus_classification() %}
                    {% if mrcc is not none %}
                        {% if mrcc.needs_heredicare_upload and heredicare_queue_entry_summary["status"] in ["error", "api_error", "success", "waiting", "requested"] %}
                            {{macros.draw_exclamation_mark("The consensus classification needs to be uploaded to HerediCaRe!")}}
                        {% endif %}
                    {% endif %}
                    HerediCaRe {{heredicare_queue_entry_summary["status"]}}
                {% else %}
                    no HerediCaRe submission
                {% endif %}
            </span>
            <div class="popover_collapse collapse collapse-horizontal">
                <div class="card card-body width_very_large">
                    {% if heredicare_queue_entries is not none and heredicare_queue_entry_summary["status"] not in ["waiting", "requested"]  %}
                    <div class='row gx-2 border-bottom bg-light'>
                        <div class='col-3'>HerediCare VID</div>
                        <div class='col-3 text-center border-start'>status</div>
                        <div class='col-6 text-center border-start'>message</div>
                    </div>
                    {% for heredicare_queue_entry in heredicare_queue_entries %}
                    <div class='row gx-2'>
                        <div class='col-3'>{{heredicare_queue_entry[5]}}</div>
                        <div class='col-3 text-center border-start'>{{heredicare_queue_entry[1]}}</div>
                        <div class='col-6 text-center border-start'>{{heredicare_queue_entry[4]}}</div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if heredicare_queue_entry_summary["insert_tasks_message"] != "" %}
                    <div>
                        Upload error: {{heredicare_queue_entry_summary["insert_tasks_message"]}}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>




    </div>


    <!-- options dropdown -->
    <div class="dropdown ssl">
        <button class="btn btn-secondary padding_small" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{ macros.draw_gear(tooltip = "") }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% if session.get('user') is not none and 'user' in session['user']['roles']%}
            <li>
                <button id="reannotate_button" type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#reannotate-modal" {% if variant.variant_type == 'sv' %}disabled{% endif %}>(Re-)Annotate</button>
            </li>
            <li>
                <a id="submit_assay_button" type="button" class="dropdown-item" href="{{url_for('upload.submit_assay', variant_id = variant.id)}}" 
                data-bs-toggle="tooltip"  title="Submit an assay report & score for this variant.">
                    Submit assay
                </a>
            </li>
            <li>
                <a id="publish_button" type="button" class="dropdown-item" href="{{url_for('variant.classify', variant_id = variant.id)}}" 
                data-bs-toggle="tooltip"  title="Submit a new variant classification or edit your previous classification(s).">
                    Classify
                </a>
            </li>
            <li>
                {% set mrcc = variant.get_recent_consensus_classification() %}
                <button id="publish_button" type="button" class="dropdown-item" data-href="{{url_for('upload.publish', variant_ids = variant.id, next = url_for('variant.display', variant_id = variant.id))}}" 
                data-bs-toggle="tooltip" title="Publish this variant and selected data to external databases." {% if mrcc is none or (not mrcc.needs_heredicare_upload and not mrcc.needs_clinvar_upload) %}disabled="disabled"{% endif %}>
                    Publish
            </button>
            </li>
            {% endif %}
            <li>
                <a id="vcf_export_button" type="button" class="dropdown-item" href="{{url_for('download.variant', variant_id = variant.id)}}" 
                data-bs-toggle="tooltip" title="Download this variant & all annotations as VCF.">
                    Export to VCF
                </a>
            </li>
            <li>
                <button class="dropdown-item" id="list_add_button" data-bs-toggle="modal" data-bs-target="#list-add-modal">Add to list</button>
            </li>
            {% if 'super_user' in session['user']['roles'] or 'user' in session['user']['roles'] %}
            <li>
                <button class="dropdown-item" id="change_hidden_state" url="{{ url_for('variant.hide_variant', variant_id = variant.id ) }}">
                    {% if variant.is_hidden %}
                        Unhide variant
                    {% else %}
                        Hide variant
                    {% endif %}
                </button>
            </li>
            {% endif %}
        </ul>
    </div>

</div>
{% endblock %}



{% block modals %}


<!-- reannotate confirmation panel (it is a bootstrap modal) -->
<div class="modal fade" id="reannotate-modal" tabindex="-1" aria-labelledby="reannotate-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reannotate-modal-label">Confirm (re-)annotation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to (re-)annotate this variant?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="reannotate-submit" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>




<!-- reload page modal, because annotation is finished -->
<div class="modal fade" id="reload-modal" tabindex="-1" aria-labelledby="reload-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reload-modal-label">Annotation finished</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                The requested variant annotation is ready. <br> 
                Do you want to reload the page now to view the new annotations?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button id="reload-submit" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>



<!-- modal for multiple variant to a list -->
{% set title = 'Select a list to add this variant to it. If a list is highlighted in blue the current variant is already in that list' %}
{% if lists | length == 0 %}
    {% set title = 'You do not have a variant list. Please navigate to the "my-lists" page to create one. The "my-lists" page can be found when clicking on your name at the top right corner of this page.' %}
{% endif %}
{{ macros.select_list_modal(lists,
                            'user.modify_list_content', 
                            {'variant_id':variant.id, 
                             'action':'add_to_list',
                             'next': url_for('variant.display', variant_id=variant.id)}, 
                            title) }}


<!-- delete classification modal -->
<div class="modal fade" id="delete_user_classification-modal" tabindex="-1" aria-labelledby="delete_user_classification-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete_user_classification-label">Confirm delete user classification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>Are you sure you want to delete this classification?</div>
                <div>THIS CAN NOT BE UNDONE!</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="delete_user_classification-submit" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block additional_tab_heads %}
<li class="nav-item" role="presentation">
    <button class="nav-link" id="igv-tab" data-bs-toggle="tab" data-bs-target="#igv" type="button" role="tab" aria-controls="igv" aria-selected="false">IGV</button>
</li>
{% endblock %}


{% block additional_tabs %}
<div class="tab-pane fade" id="igv" role="tabpanel" aria-labelledby="igv-tab">
    <div class="w-100 ssb">
        <div class="card noboarder_top">
            <div class="card-body">
                <h4 class="card-subcaption">IGV</h4>

                <p class="card-text">
                    <div id="igv-container"></div>
                </p>
            </div>
        </div>
    </div>
</div>

<input type='hidden' id='flask_data' 
    data-variant-page-url='{{ url_for("variant.display", variant_id = "-1", _external=True) }}'
    data-delete-classification-url='{{ url_for("variant.delete_classification") }}'
    data-annotation-status-url='{{ url_for("variant.annotation_status") }}'
    data-variant-id="{{ variant.id }}"
    data-run-annotation-service-url='{{ url_for("variant.start_annotation_service") }}'
/>

{% endblock %}


{% block additional_scripts %}
    <script type="module"  src="/static/js/variant_addition.js"></script>
{% endblock %}
<!--
    - variant consequences nach preferred transcripts sortieren und badges (mane select, ....) anzeigen
    - gene page
    - genids durch gennamen ersetzen in variant consequence table
    - nobreak für bestimmte spalten
    ~ minimale seitenbreite angeben
    - beim variant import vcf check laufen lassen
    ~ variant import auch von hgvs möglich machen
    external links karte einfügen
    abbr beschreibungen der flags einfügen
    variant consequence table nach refseq / ensembl filtern (mit toggle)
    transcript table auf gene page einfügen
    refseq transcripts importieren + mapping table enst -> refseq
    - umbruch der last evaluated daten verhindern in clinvar submissions table
    - clinvar submissions standardmäßig nach last evaluated sortieren
    - wenn variante erfolgreich hochgeladen wurde soll der link gleich angezeigt werden in der flashed message

    - add positive feedback if variant was imported successfully
-->