{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1> {% block title %} Edit your personal information {% endblock %} </h1>


<form method="post">
    <div class="table-responsive tableFixHead table-lg">
        <table class="table table-borderless" id="literatureTable">
            <tbody>
                <tr>
                    <td style="width:8em; vertical-align: middle;">First name</td>
                    <td><input class="form-control" type="text" value="{{ user.get('firstName', '') }}" name="first_name"></td>
                </tr>
                <tr>
                    <td style="width:8em; vertical-align: middle;">Last name</td>
                    <td><input class="form-control" type="text" value="{{ user.get('lastName', '') }}" name="last_name"></td>
                </tr>
                <tr>
                    <td style="width:8em; vertical-align: middle;">E-Mail</td>
                    <td><input class="form-control" type="text" value="{{ user.get('email', '') }}" name="e_mail"></td>
                </tr>
                <tr>
                    <td style="width:8em; vertical-align: middle;">Affiliation</td>
                    <td><input class="form-control" type="text" value="{{ user.get('attributes', {}).get('affiliation', [''])[0] }}" name="affiliation"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>



</div>


{% endblock %}

{% block special_scripts %}
{% endblock %}