{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1> {% block title %} Edit your personal information {% endblock %} </h1>


<form method="post">
    <div class="table-responsive tableFixHead table-lg">
        <table class="table table-borderless" id="literatureTable">
            <tbody>
                <tr>
                    <td class="width_small vertical_align_middle">First name</td>
                    <td><input class="form-control" type="text" value="{{ user.get('firstName', '') }}" name="first_name"></td>
                </tr>
                <tr>
                    <td class="width_small vertical_align_middle">Last name</td>
                    <td><input class="form-control" type="text" value="{{ user.get('lastName', '') }}" name="last_name"></td>
                </tr>
                <tr>
                    <td class="width_small vertical_align_middle">E-Mail</td>
                    <td><input class="form-control" type="text" value="{{ user.get('email', '') }}" name="e_mail"></td>
                </tr>
                <tr>
                    <td class="width_small vertical_align_middle">Affiliation</td>
                    <td><input class="form-control" type="text" value="{{ user.get('attributes', {}).get('affiliation', [''])[0] }}" name="affiliation"></td>
                </tr>
                {% if session.get('user') is not none and 'super_user' in session['user']['roles'] %}
                <tr>
                    <td class="width_small vertical_align_middle">API key</td>
                    <td>
                        <div class="d-flex">
                            <input class="form-control width_very_large" type="text"value="" name="" disabled>
                            <div class="flex-grow-1"></div>
                            <a href="{{url_for('auth.generate_api_key')}}" class="btn btn-primary" role="button">(re-) generate</a>
                        </div>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" role="submit">Submit</button>
</form>



</div>


{% endblock %}

{% block special_scripts %}
{% endblock %}