{% macro render_consensus_classification_label(class) %}
<!-- position this element when you use it! -->
    <div id="class-label">
        <svg id="class-label-tooltip-container" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" viewBox="0 0 250 250" style="position: absolute; z-index:1;" data-bs-toggle="tooltip" title="" data-bs-placement="left">
            <path d="M212.5,172.3c-16.9,31.1-49.8,52.2-87.6,52.2c-54.9,0-99.5-44.6-99.5-99.5c0-54.9,44.6-99.5,99.5-99.5   c38.3,0,71.6,21.8,88.2,53.6h28C222.9,32.8,177.7,0,125,0C56.1,0,0,56.1,0,125c0,68.9,56.1,125,125,125c52.2,0,97-32.2,115.7-77.7   H212.5z"/>
        </svg>
        {% if class == '1' or class == '2' or class == '3' or class == '4' or class == '5' %}
        <div id="consensusClassificationDIV" fill="currentColor" style="font-size:5em; line-height: 0.85; position: relative; left: 0.36em; top: 0.15em;">
            {{ class }}
        </div>
        {% else %}
        <div id="consensusClassificationDIV" fill="currentColor" style="font-size:5em; font-weight:bold; line-height: 0.85; position: relative; left: 0.41em; top: 0.15em">
            -
        </div>
        {% endif %}
    </div>

    <script>
        $(document).ready(function()
        {
            // coloring of consensus classification
            var consensus_classification = document.getElementById('consensusClassificationDIV').textContent.trim()
            switch (consensus_classification) {
                case '5':
                    base_color = class5ColorRGB
                    break;
                case '4':
                    base_color = class4ColorRGB
                    break;
                case '3':
                    base_color = class3ColorRGB
                    break;
                case '2':
                    base_color = class2ColorRGB
                    break;
                case '1':
                    base_color = class1ColorRGB
                    break;
                default:
                    base_color = noClassRGB
            }
            $('.classification-gradient').css({'background-color': base_color});
            $('#class-label').css({'color': base_color});
    
            if (["1", "2", "3", "4", "5"].includes(consensus_classification)) {
                tooltip_text = "This variant has been classified by the VUS task-force with the class " + consensus_classification
            } else {
                tooltip_text = "This variant has not been classified by the VUS task-force yet."
            }
    
            $('#class-label-tooltip-container').attr('title', tooltip_text);
        });
    </script>

{% endmacro %}


{% macro draw_most_recent_consensus_classification(most_recent_consensus_classification) %}
<div class="classification-gradient" style="padding-left:1em">
    {% if most_recent_consensus_classification is not none %}
    <table class="table table-borderless " style="table-layout:auto; margin-bottom:0;">
        
        <tbody>
            <tr style="margin-left:0">
                <td style="width:10%;">Class:</td>
                <td style="width:100%;">{{ most_recent_consensus_classification[3] }}</td>
            </tr>
            <tr>
                <td>Date:</td>
                <td>{{ most_recent_consensus_classification[5] }}</td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td>{{ most_recent_consensus_classification[4] }}</td>
            </tr>
            <tr>
                <td>Evidence document:</td>
                <td><a href="{{url_for('download.evidence_document', consensus_classification_id=most_recent_consensus_classification[0]) }}">download</a></td>
            </tr>
        </tbody>        
    </table>
    {% else %}
    <div style="padding:1em">
        There is no consensus classification for this variant yet.
    </div>
    {% endif %}
</div>
{% endmacro %}

{% macro draw_criteria_display(criteria, width='6em', height='2.5em') %}
    {% for criterium in criteria %}
    <span class="d-inline-block ssr large-tt" tabindex="0" data-bs-toggle="tooltip" data-bs-html="true" 
        title="Strength: {{ criterium[5] }} <br> Evidence: {{ criterium[4] }}">
        <div class="btn btn-{{ criterium[3] }} light-hover acmg-button" style="width:{{width}}; height:{{height}}">{{ criterium[2] }}</div>
    </span>
    {% endfor %}
{% endmacro %}


{% macro draw_paginated_variant_table(pagination, variants) %}
<div id="tabnav-head" class="row align-items-end">
    <div class="col">{{ pagination.links }}</div>

    <div class="col">
      <a data-bs-toggle="collapse" id="searchOptionsToggle" style="float:right" href="#advanced_search" role="button" aria-expanded="false" aria-controls="advanced_search">
        Search options
      </a>
      <a class="ssr" style="float:right" href="{{ url_for(request.url_rule.endpoint) }}">Clear filters</a>
    </div>

    <div class="collapse" id="advanced_search">
        <div class="card card-body">

            <div>
                <form action="" method="GET" novalidate>
        
                    <div class="form-group sst">
                        <label for="genes" class="form-label">Genes</label>
                        <textarea type="text" name="genes" id="genes"
                               placeholder="BRCA1; BARD1; ..." class="form-control"
                               >{{ request.args.get('genes', '') }}</textarea>
                    </div>
        
                    <div class="form-group sst">
                        <label for="ranges" class="form-label">Ranges</label>
                        <textarea type="text" name="ranges" id="ranges"
                               placeholder="chr1:10295758-17027834; chr11:108229378-108229378; ..." class="form-control"
                               >{{ request.args.get('ranges', '') }}</textarea>
                    </div>
        
                    <div class="form-group sst">
                        <label for="hgvs" class="form-label">c.HGVS</label>
                        <textarea type="text" name="hgvs" id="hgvs"
                               placeholder="ENST00000260947:c.1972C>T; ..." class="form-control"
                               >{{ request.args.get('hgvs', '') }}</textarea>
                    </div>
        
                    <div class="form-group sst">
                        {% set selected_consensus = request.args.getlist('consensus') %}
                        <label for="consensus-select" class="form-label">Consensus Classification</label>
                        <div id="consensus-select" class="d-flex">
                            <div class="form-check bsr">
                                <input class="form-check-input" type="checkbox" value="1" id="consensus" name="consensus" {% if '1' in selected_consensus %}checked{% endif %}>
                                <label class="form-check-label" for="flexCheckDefault">1</label>
                            </div>
                            <div class="form-check bsr">
                                <input class="form-check-input" type="checkbox" value="2" id="consensus" name="consensus" {% if '2' in selected_consensus %}checked{% endif %}>
                                <label class="form-check-label" for="flexCheckDefault">2</label>
                            </div>
                            <div class="form-check bsr">
                                <input class="form-check-input" type="checkbox" value="3" id="consensus" name="consensus" {% if '3' in selected_consensus %}checked{% endif %}>
                                <label class="form-check-label" for="flexCheckDefault">3</label>
                            </div>
                            <div class="form-check bsr">
                                <input class="form-check-input" type="checkbox" value="4" id="consensus" name="consensus" {% if '4' in selected_consensus %}checked{% endif %}>
                                <label class="form-check-label" for="flexCheckDefault">4</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="5" id="consensus" name="consensus" {% if '5' in selected_consensus %}checked{% endif %}>
                                <label class="form-check-label" for="flexCheckDefault">5</label>
                            </div>
                        </div>
                    </div>

                    {% if request.args.get('view') is not none %}
                        <input type="hidden" name="view" id="view" value="{{request.args.get('view')}}">
                    {% endif %}
                    
        
                    <div class="d-flex sst justify-content-end align-items-center">
                        <div>
                            <a class="ssr" href="{{url_for('doc.search_help')}}" style="float:right" >Help</a>
                        </div>
                        <button style="float:right" class="btn btn-primary" type="submit">search</button>
                    </div>
        
                </form>
            </div>
        
        </div>

</div>
  
  
  <div class="table-responsive" style="float:below">
    <table class="table table-hover" id="variantTable">
      <thead id="variantTableHead">
        <tr>
          <th style="display:none;">id</th>
          <th style="width: 10%">CHR</th>
          <th style="width: 15%">POS</th>
          <th style="width: 30%">REF</th>
          <th style="width: 30%">ALT</th>
          <th style="width: 10%; text-align:center;">GENE</th>
          <th style="width:12%; text-align:center;">User classification</th>
          <th style="width:12%; text-align: center;">Consensus classification</th>
        </tr>
      </thead>
      <tbody id="variantTableBody">
        {% for variant in variants %}
        <tr style="line-height: 28px;">
          <td style="display:none;">{{ variant[0] }}</td>
          <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable" style="white-space: nowrap;">{{ variant[1] }}</td>
          <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable" style="white-space: nowrap;">{{ variant[2] }}</td>
          <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable longTextCss"><abbr title="{{ variant[3] }}">{{ variant[3] }}</abbr></td>
          <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable longTextCss"><abbr title="{{ variant[4] }}">{{ variant[4] }}</abbr></td>
          {% if variant[6] is not none %}
            {% set symbols = variant[6].split(';') %}
            {% set gene_ids = variant[5].split(';') %}
            <td style="text-align:center;">
            {% for i in range(symbols|length) %}
                <a href="{{ url_for('extended_information.gene', gene_id=gene_ids[i] | int) }}">{{ symbols[i] }}</a>
            {% endfor %}
            </td>
          {% else %}
            <td style="text-align:center;">-</td>
          {% endif %}
          <td style="text-align:center;">{% if variant[8] is not none %} {{ variant[8] }} {% else %}-{%endif%}</td>
          <td style="text-align:center;">{% if variant[7] is not none %} {{ variant[7] }} {% else %}-{%endif%}</td>
        </tr>
        {% endfor %}
        {% if variants | length == 0 %}
          <!--<td colspan="4" class="defaultrow">No results found</td>-->
          <caption class="defaultrow">Nothing to show</caption>
        {% endif %}
      </tbody>
    </table>
  </div>

  <script>
      $(document).ready(function () {
        //save id of collapse to local cookie if it is shown
        $("#advanced_search").on('show.bs.collapse', function () {
            var active = 'advanced_search';
            localStorage.setItem('expandedSearchOptions', active);
          //  alert(active);
        });
        // delte it again if it is not shown anymore
        $("#advanced_search").on('hide.bs.collapse', function () {
            localStorage.removeItem('expandedSearchOptions');
        });
        // get the value from the cookie & update collapse accordingly
        var last = localStorage.getItem('expandedSearchOptions');
        if (last != null) {
            //remove default collapse settings
            $("#advanced_search").removeClass('show');
            //show collapse
            $("#" + last).addClass("show");
        }
    });
  </script>

{% endmacro %}


{% macro draw_hexplorer_score(label, delta, wt, mut) %}
<div>
    {% if wt is none or mut is none %}
    {{ draw_exclamation_mark('There is no wildtype or mutant score. Thus, one of the sequence is missing the motiv! Be careful with the interpretation of the delta score!') }}
   {% endif %}
   <abbr class="ssr" title="{{delta[0]}}"><a class="dashed_underline">{{ label }}:</a></abbr>{{ delta[4] }}
   <a class="link" tabindex="0" data-bs-html="true" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="reference score: {{wt[4]}} <br/> mutant score: {{mut[4]}}">details</a>
   
</div>

{% endmacro %}



{% macro draw_exclamation_mark(tooltip) %}
<span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="{{tooltip}}">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="red" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
</span>
{% endmacro %}

{% macro add_variant_banner(variant_oi) %}
<div class="bst" style="background-color:rgb(238, 238, 238); padding:1em">
    <div style="font-weight:bolder">Variant information:</div>
    <div class="bsl">Variant: {{ variant_oi[1] }}-{{ variant_oi[2] }}-{{ variant_oi[3] }}-{{ variant_oi[4] }}</div>
    <div class="bsl">Gene(s): {{ variant_oi[6] }}</div>
</div>
{% endmacro %}
