{% macro render_consensus_classification_label(class) %}
<!-- position this element when you use it! -->
    <div id="class-label">
        <svg id="class-label-tooltip-container" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" viewBox="0 0 250 250" style="position: absolute; z-index:1;" data-bs-toggle="tooltip" title="" data-bs-placement="left">
            <path d="M212.5,172.3c-16.9,31.1-49.8,52.2-87.6,52.2c-54.9,0-99.5-44.6-99.5-99.5c0-54.9,44.6-99.5,99.5-99.5   c38.3,0,71.6,21.8,88.2,53.6h28C222.9,32.8,177.7,0,125,0C56.1,0,0,56.1,0,125c0,68.9,56.1,125,125,125c52.2,0,97-32.2,115.7-77.7   H212.5z"/>
        </svg>
        {% if class != '-' %}
        <div id="consensusClassificationDIV" fill="currentColor" style="font-size:5em; line-height: 0.85; position: relative; left: 0.36em; top: 0.15em">
            {{ class }}
        </div>
        {% else %}
        <div id="consensusClassificationDIV" fill="currentColor" style="font-size:5em; line-height: 0.85; position: relative; left: 0.41em; top: 0.15em">
            -
        </div>
        {% endif %}
    </div>

    <script>
        $(document).ready(function()
        {
            // coloring of consensus classification
            var consensus_classification = document.getElementById('consensusClassificationDIV').textContent.trim()
            switch (consensus_classification) {
                case '5':
                    base_color = class5ColorRGB
                    console.log(base_color)
                    break;
                case '4':
                    base_color = class4ColorRGB
                    break;
                case '3':
                    base_color = class3ColorRGB
                    break;
                case '2':
                    base_color = class2ColorRGB
                    break;
                case '1':
                    base_color = class1ColorRGB
                    break;
                default:
                    base_color = noClassRGB
            }
            $('.classification-gradient').css({'background-color': base_color});
            $('#class-label').css({'color': base_color});
    
            if (["1", "2", "3", "4", "5"].includes(consensus_classification)) {
                tooltip_text = "This variant has been classified by the VUS task-force with the class " + consensus_classification
            } else {
                tooltip_text = "This variant has not been classified by the VUS task-force yet."
            }
    
            $('#class-label-tooltip-container').attr('title', tooltip_text);
        });
    </script>

{% endmacro %}


{% macro draw_most_recent_consensus_classification(most_recent_consensus_classification) %}
<div class="classification-gradient">
    <table class="table table-borderless " style="table-layout:auto; margin-bottom:0;">
        <tbody>
            <tr style="margin-left:0">
                <td style="width:10%;">Class:</td>
                <td  style="width:100%;">{{ most_recent_consensus_classification[3] }}</td>
            </tr>
            <tr>
                <td>Date:</td>
                <td>{{ most_recent_consensus_classification[5] }}</td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td>{{ most_recent_consensus_classification[4] }}</td>
            </tr>
            <tr>
                <td>Evidence document:</td>
                <td><a href="{{url_for('download.evidence_document', consensus_classification_id=most_recent_consensus_classification[0]) }}">download</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}


{% macro draw_paginated_variant_table(pagination, variants, redirect_uri) %}
<div id="tabnav-head" class="row align-items-end">
    <div class="col">{{ pagination.links }}</div>
  
    <form id="search_form" action="{{redirect_uri}}" class="col-sm-3" style="float:right" method="post">
       <div class="input-group">
          <button class="input-group-text"> 
            <svg class="bi bi-search" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
            </svg>
          </button>
          <input id="searchbar" class="form-control" type="text" placeholder="Quick search..." name="quicksearch" value="{{ search_query }}">
        </div>
        <input class="input-group" id="chosen_search_type" name="chosen_search_type" style="display:none" value="">
  
    </form>
  
    <div>
      <a data-bs-toggle="collapse" style="float:right" href="#advanced_search" role="button" aria-expanded="false" aria-controls="advanced_search">
        Search options
      </a>
      <a class="ssr" href="{{url_for('doc.search_help')}}" style="float:right" >Help</a>
    </div>
    <div class="collapse" id="advanced_search">
      <div class="card card-body">
        <div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="search_type" id="inlineRadio0" value="standard" checked>
            <label class="form-check-label" for="inlineRadio0">Quick search</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="search_type" id="inlineRadio1" value="%gene%">
            <label class="form-check-label" for="inlineRadio1">Gene</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="search_type" id="inlineRadio2" value="%hgvs%">
            <label class="form-check-label" for="inlineRadio2">HGVS</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="search_type" id="inlineRadio3" value="%range%">
            <label class="form-check-label" for="inlineRadio3">Range</label>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  
  <div class="table-responsive" style="float:below">
    <table class="table table-hover" id="variantTable">
      <thead id="variantTableHead">
        <tr>
          <th style="display:none;">id</th>
          <th style="width: 10%">CHR</th>
          <th style="width: 15%">POS</th>
          <th style="width: 30%">REF</th>
          <th style="width: 30%">ALT</th>
        </tr>
      </thead>
      <tbody id="variantTableBody">
        {% for variant in variants %}
        <tr style="line-height: 28px;">
          <td style="display:none;">{{ variant[0] }}</td>
          <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable" style="white-space: nowrap;">{{ variant[1] }}</td>
          <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable" style="white-space: nowrap;">{{ variant[2] }}</td>
          <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable longTextCss"><abbr title="{{ variant[3] }}">{{ variant[3] }}</abbr></td>
          <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable longTextCss"><abbr title="{{ variant[4] }}">{{ variant[4] }}</abbr></td>
          </td>
        </tr>
        {% endfor %}
        {% if variants | length == 0 %}
          <!--<td colspan="4" class="defaultrow">No results found</td>-->
          <caption class="defaultrow">Nothing to show</caption>
        {% endif %}
      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function($){

        $('#search_form').submit(function( event ) {
            $('#chosen_search_type').attr('value', $('input[name="search_type"]:checked').val());
        });

        $('input[name="search_type"]').on('click', function() {
            var newSearchPlaceholder = $(this).parent().find('label').text()
            if (newSearchPlaceholder !== "Quick search") {
                newSearchPlaceholder += ' search...'
            } else {
                newSearchPlaceholder += '...'
            }
            $('#searchbar').attr('placeholder', newSearchPlaceholder)
        });
    });
  </script>
{% endmacro %}