{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} Admin dashboard {% endblock %} </h1>


<!-- navigator tabs -->
<ul class="nav nav-tabs" id="tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">Annotation overview</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="reannotate-tab" data-bs-toggle="tab" data-bs-target="#reannotate" type="button" role="tab" aria-controls="reannotate" aria-selected="false">(Re-)Annotate</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="abort_annotations-tab" data-bs-toggle="tab" data-bs-target="#abort_annotations" type="button" role="tab" aria-controls="abort_annotations" aria-selected="false">Abort annotations</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="import-tab" data-bs-toggle="tab" data-bs-target="#import" type="button" role="tab" aria-controls="import" aria-selected="false">Import variants</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="publish-tab" data-bs-toggle="tab" data-bs-target="#publish" type="button" role="tab" aria-controls="publish" aria-selected="false">Publish variants</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="hide_schemes-tab" data-bs-toggle="tab" data-bs-target="#hide_schemes" type="button" role="tab" aria-controls="hide_schemes" aria-selected="false">Hide Schemes</button>
    </li>
</ul>




<!-- OVERVIEW TAB -->
<div class="tab-content" id="TabContent">
    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">

        <div class="sst bsb">This page does not update automatically. Please refresh it to see changes.</div>
        
        <h4>Number of annotations</h4>
        <div class="bsb">
            <table class="table table-borderless table-slim">
                <tbody>
                    {% for annotation_status_type in annotation_stati %}
                    {% set len_vars = annotation_stati[annotation_status_type] | length %}
                    <tr>
                        <td class="width_very_small li-label">{{ annotation_status_type }}</td>
                        <td>{{ len_vars }}</td>
                    </tr>
                    {% endfor %}
                    <tr class="border-top">
                        <td class="width_very_small li-label">TOTAL</td>
                        <td>
                            {{ total_num_variants }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="d-flex">
            <h4 class="flex-grow-1">Erroneous variant annotations</h4>
        </div>
        <div class="table-responsive">
            <table class="table table-hover" id="errortable">
                <thead>
                    <tr>
                        <th class="width_very_minimal"><div>Variant ID</div></th>
                        <th class="width_large"><div>Error</div></th>
                    </tr>
                </thead>
                <tbody>
                    {% for variant_id in errors %}
                    <tr>
                        <td class="li-label"><a href="{{ url_for('variant.display', variant_id = variant_id) }}">{{variant_id}}</a></td>
                        <td>{{ errors[variant_id] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>  
            </table>
        </div>


        <h4>Warnings</h4>
        <div class="table-responsive bsb">
            <table class="table table-hover" id="warningstable">
                <thead>
                    <tr>
                        <th class="width_very_minimal"><div>Variant ID</div></th>
                        <th class="width_large"><div>Warning</div></th>
                    </tr>
                </thead>
                <tbody>
                    {% for variant_id in warnings %}
                    <tr>
                        <td class="li-label"><a href="{{ url_for('variant.display', variant_id = variant_id) }}">{{variant_id}}</a></td>
                        <td class="break_text_all">{{ warnings[variant_id] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>  
            </table>
        </div>


    </div>
</div>


<!-- REANNOTATE ALL TAB -->
<div class="tab-content" id="TabContent">
    <div class="tab-pane fade" id="reannotate" role="tabpanel" aria-labelledby="reannotate-tab">

        <!-- reannotate all button -->
        <div class="bst bsb bsl d-flex items_align_center">
            <form action="{{ url_for('user.admin_dashboard', type = 'reannotate') }}" id="reannotate-variants-form" name="reannotate-variants-form" method="post">
                
                <div class="d-flex flex-wrap">
                    {% for job in job_config %}
                    <div class="mb-3 form-check bsr width_very_medium">
                        <input type="checkbox" class="form-check-input ssr" id="{{ job }}" name="job" value="{{ job }}" {% if not job_config[job] %} disabled {% endif %}>
                        <label class="form-check-label" for="{{ job }}">{{ job }}</label>
                    </div>
                    {% endfor %}
                </div>

                <hr>

                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input ssr" id="select_all_jobs">
                    <label class="form-check-label" for="select_all_jobs">select all</label>
                </div>

                <input type="text" class="visually-hidden" id="reannotate_which" name="reannotate_which">

                <div class="form-group">
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Pressing this button requests an annotation of all variants in HerediVar.">
                        <button type="button" class="btn btn-outline-primary reannotate_variants_button" data-bs-toggle="modal" data-bs-target="#reannotate-variants-modal" modal_text="ALL" value="all">all variants</button>
                    </span>
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Pressing this button requests an annotation of all erroneous variants in HerediVar.">
                        <button type="button" class="btn btn-outline-primary reannotate_variants_button" data-bs-toggle="modal" data-bs-target="#reannotate-variants-modal" modal_text="ALL ERRONEOUS" value="erroneous">erroneous variants</button>
                    </span>
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Pressing this button requests an annotation of all aborted variants in HerediVar.">
                        <button type="button" class="btn btn-outline-primary reannotate_variants_button" data-bs-toggle="modal" data-bs-target="#reannotate-variants-modal" modal_text="ALL ABORTED" value="aborted">aborted variants</button>
                    </span>
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Pressing this button requests an annotation of all variants missing an annotation variants in HerediVar.">
                        <button type="button" class="btn btn-outline-primary reannotate_variants_button" data-bs-toggle="modal" data-bs-target="#reannotate-variants-modal" modal_text="ALL VARIANTS MISSING AN ANNOTATION" value="unannotated">unannotated variants</button>
                    </span>
                </div>
                <div class="form-group d-flex sst">
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Pressing this button requests an annotation of specific variants in HerediVar. Please specify HerediVar variant_ids.">
                        <button type="button" class="btn btn-outline-primary reannotate_variants_button width_small" data-bs-toggle="modal" data-bs-target="#reannotate-variants-modal" modal_text="SPECIFIC VARIANTS" value="specific">specific variants</button>
                    </span>
                    <input class="form-control" type="text" name="specific_variants" placeholder="variant_id_1;variant_id_2;...">
                </div>
                
            </form>
        </div>


    </div>
</div>



<!-- ABORT ANNOTATION TAB -->
<div class="tab-content" id="TabContent">
    <div class="tab-pane fade" id="abort_annotations" role="tabpanel" aria-labelledby="abort_annotations-tab">


        <div class="bst bsb bsl d-flex items_align_center">
            <form action="{{ url_for('user.admin_dashboard', type = 'abort_annotations') }}" id="abort_annotations-form" name="abort_annotations-form" method="post">
                
                <div class="d-flex flex-wrap">
                    {% for annotation_status in ['pending', 'retry', 'progress'] %}
                    <div class="mb-3 form-check bsr width_very_medium">
                        <input type="checkbox" class="form-check-input ssr" id="{{annotation_status}}" name="annotation_statuses" value="{{annotation_status}}">
                        <label class="form-check-label" for="{{ annotation_status }}">{{ annotation_status }}</label>
                    </div>
                    {% endfor %}
                </div>

                <hr>

                <div class="form-group">
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="This button aborts all variant annotations depending on the selected status">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#abort_annotations-modal">Abort annotations</button>
                    </span>
                </div>
            </form>
        </div>


    </div>
</div>


<!-- IMPORT FROM HEREDICARE TAB -->
<div class="tab-content" id="TabContent">
    <div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="import-tab">

        <div class="bst"></div>

        <h4>Import variants</h4>

        <div class="bst d-flex items_align_center">
            <form action="/admin_dashboard?type=import_variants" id="import-variants-form" name="import-variants-form" method="post">
                <div class="form-group">
                    <span id="tooltip-import-variants-button" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Pressing this button invokes a mass-import of all variants in HerediCare and collects metadata from HerediCare.">
                        <button id="import-variants-button" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#import-variants-modal">Import ALL</button>
                    </span>
                    <meta id="annotation_status" data-annotation-status="{{ most_recent_import_request.status }}">
                </div>
            </form>
            {% if most_recent_import_request is not none %}
                {% if most_recent_import_request.status == 'pending' %}
                    <span class="badge rounded-pill bg-secondary ssl" data-bs-toggle="tooltip" title="import requested at {{ most_recent_import_request.requested_at }}">import requested</span>
                {% endif %}
                {% if most_recent_import_request.status == 'finished' %}
                    <span class="badge rounded-pill bg-success ssl" data-bs-toggle="tooltip" title="most recent import finished at {{ most_recent_import_request.finished_at }}">last import: {{ most_recent_import_request.finished_at }}</span>
                {% endif %}
            {% endif %}
            <div class="flex-grow-1"></div> <!-- spacer to move button to the right-->
            
            <div class="">
                <a class="btn btn-primary" href="{{ url_for('user.variant_import_history') }}">All import requests</a>
            </div>
        </div>

        <div class="sst"></div>

        <form action="/admin_dashboard?type=import_variants_update" id="import-variants-update-form" name="import-variants-update-form" method="post">
            <div class="form-group">
                <span id="tooltip-import-variants-update-button" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Pressing this button invokes a mass-import of all variants in HerediCare and collects metadata from HerediCare.">
                    <button id="import-variants-update-button" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#import-variants-update-modal">Import UPDATED</button>
                </span>
                <meta id="annotation_status" data-annotation-status="{{ most_recent_import_request.status }}">
            </div>
        </form>


        <div class="bst"></div>

        <h4>Import specific VIDs</h4>
        
        <form action="/admin_dashboard?type=import_specific_vids" id="import-specific-variants-form" name="import-specific-variants-form" method="post">
            <div class="form-group">
                <div class="form-group sst">
                    <label for="vids" class="form-label">HerediCare VID</label>
                    <input type="text" name="vids" pattern="[0-9,; ]+" id="vids"
                           placeholder="vids: a comma or semicolon separated list of HerediCaRe VIDs" class="form-control validationreq"
                           value="{{ request.form['vids'] }}" required>
                    <div class="invalid-feedback">
                        Please provide a HerediCare VID!
                    </div>
                </div>
                <div class="sst d-flex items_align_center">
                    <button id="import-specific-variants-button" type="submit" class="btn btn-outline-primary sst" data-bs-toggle="modal">Import variant</button>
                </div>
            </div>
        </form>



    </div>
</div>




<!-- PUBLISH TAB -->
<div class="tab-content" id="TabContent">
    <div class="tab-pane fade" id="publish" role="tabpanel" aria-labelledby="publish-tab">

        <div class="bst"></div>

        <h4>Publish all variants with updated consensus classification</h4>
        <div class="sst d-flex">
            <a class="btn btn-outline-primary" href="{{url_for('upload.publish', needs_upload = 'heredicare', next=url_for('user.variant_publish_history'))}}">Needs HerediCaRe upload</a>
            <div class="flex-grow-1"></div> <!-- spacer to move button to the right-->
            <a class="btn btn-primary" href="{{url_for('user.variant_publish_history')}}">All publish requests</a>
        </div>
        <div class="sst">
            <a class="btn btn-outline-primary" href="{{url_for('upload.publish', needs_upload = 'clinvar', next=url_for('user.variant_publish_history'))}}">Needs ClinVar upload</a>
        </div>
        

    </div>
</div>




<!-- HIDE SCHEMES TAB -->
<div class="tab-content" id="TabContent">
    <div class="tab-pane fade" id="hide_schemes" role="tabpanel" aria-labelledby="hide_schemes-tab">

        <div class="table-responsive tableFixHead table-lg">
            <table class="table table-hover" id="scheme_table">
                <thead>
                    <tr>
                        <th class="width_very_minimal text_align_center" id="scheme_id_column"><div class="sortable">ID</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                        <th class="width_small"><div class="sortable">Name</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                        <th class="width_small"><div class="sortable">Type</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                        <th class="width_medium"><div class="sortable">Reference</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                        <th class="width_minimal text_align_center"><div class="sortable">Is active</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                        <th class="width_minimal text_align_center"><div class="sortable">Default</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for scheme in schemes %}
                    <tr>
                        <td class="text_align_center">{{ scheme.id }}</td>
                        <td>{{ scheme.display_name }}</td>
                        <td>{{ scheme.type }}</td>
                        <td class="break_text_all"><a href="{{scheme.reference}}">{{scheme.reference}}</a></td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input hide_scheme_switch" type="checkbox" role="switch" scheme_id="{{scheme.id}}" autocomplete="off" {% if scheme.is_active %}checked{% endif %}>
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input set_default_scheme_radio" type="radio" name="default_select_radio" value="{{scheme.id}}" autocomplete="off" {% if scheme.is_default %}checked{% endif %}>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>





</div>



<!-- modal -->
<div class="modal fade" id="reannotate-variants-modal" tabindex="-1" aria-labelledby="reannotate-variants-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reannotate-variants-modal-label">Confirm reannotation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="reannotate_all_body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="reannotate-variants-submit" type="submit" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>



<!-- modal -->
<div class="modal fade" id="abort_annotations-modal" tabindex="-1" aria-labelledby="abort_annotations-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="abort_annotations-modal-label">Confirm abort variant annotations</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to abort variant annotations? This may lead to incomplete or erroneous annotations. It is recommended to restart these annotatations afterwards.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="abort_annotations-submit" type="submit" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>



<!-- modal -->
<div class="modal fade" id="import-variants-update-modal" tabindex="-1" aria-labelledby="import-variants-update-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="import-variants-update-modal-label">Confirm import & update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to import all NEW variants from HerediCare?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="import-variants-update-submit" type="submit" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>


<!-- modal -->
<div class="modal fade" id="import-variants-modal" tabindex="-1" aria-labelledby="import-variants-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="import-variants-modal-label">Confirm import & update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to import ALL variants from HerediCare?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="import-variants-modal-submit" type="submit" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>



<input type='hidden' id='flask_data' 
    data-hide-scheme-url='{{ url_for("user.hide_scheme") }}'
    data-set-default-scheme-url='{{ url_for("user.set_default_scheme") }}'
/>


</div>


{% endblock %}

{% block special_scripts %}
    <script src="../static/js/admin_dashboard.js"></script>
{% endblock %}