{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} Admin dashboard {% endblock %} </h1>

<!-- import all from heredicare button -->
<div class="bst d-flex items_align_center">
    <form action="/admin_dashboard?type=update_variants" id="import-variants-form" name="import-variants-form" method="post" action="#">
        <div class="form-group">
            <span id="tooltip-import-variants-button" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Pressing this button invokes a mass-import of all variants in HerediCare and collects metadata from HerediCare.">
                <button id="import-variants-button" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#import-variants-modal">Import HerediCare</button>
            </span>
            <meta id="annotation_status" data-annotation-status="{{ most_recent_import_request[3] }}">
        </div>
    </form>
    {% if most_recent_import_request is not none %}
        {% if most_recent_import_request[3] == 'pending' %}
            <span class="badge rounded-pill bg-secondary ssl" data-bs-toggle="tooltip" title="import requested at {{ most_recent_import_request[2] }}">import requested</span>
        {% endif %}
        {% if most_recent_import_request[3] == 'finished' %}
            <span class="badge rounded-pill bg-success ssl" data-bs-toggle="tooltip" title="most recent import finished at {{ most_recent_import_request[4] }}">last import: {{ most_recent_import_request[4] }}</span>
        {% endif %}
    {% endif %}
</div>


<!-- modal -->
<div class="modal fade" id="import-variants-modal" tabindex="-1" aria-labelledby="import-variants-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="import-variants-modal-label">Confirm import & update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to import & update all variants in HerediVar from HerediCare?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="import-variants-submit" type="submit" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>



<!-- reannotate all button -->
<div class="bst d-flex align_items_center">
    <form action="/admin_dashboard?type=reannotate" id="reannotate-variants-form" name="reannotate-variants-form" method="post" action="#">
        <div class="form-group">
            <span id="tooltip-reannotate-variants-button" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Pressing this button requests an annotation of all variants in HerediVar.">
                <button id="reannotate-variants-button" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#reannotate-variants-modal">(Re-)Annotate all</button>
            </span>
        </div>
    </form>
</div>


<!-- modal -->
<div class="modal fade" id="reannotate-variants-modal" tabindex="-1" aria-labelledby="reannotate-variants-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reannotate-variants-modal-label">Confirm reannotation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to issue an annotation for ALL variants in HerediVar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="reannotate-variants-submit" type="submit" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>





</div>


{% endblock %}

{% block special_scripts %}
    <script src="../static/js/import_variants.js"></script>
{% endblock %}