{% extends 'base.html' %}

{% block content %}
<div>

    <h1 class="bst">{% block title %} Your variant lists {% endblock %}</h1>
    
    
    <div class="d-flex bst">
        <div class="sst width_medium">


            <div class="table-responsive">
                <table class="table table-hover" id="variant-list-table" >
                    <thead>
                        <tr>
                            <th class="nopad width_minimal">
                                <div class="sortable">access</div><input id="access_col_search" type="text" class="form-control form-control-sm column-filter" placeholder="search..." autocomplete="off" disabled>
                            </th>
                            <th class="nopad">
                                <div class="sortable">list name</div><input id="list_name_col_search" type="text" class="form-control form-control-sm column-filter" placeholder="search..." autocomplete="off" disabled>
                            </th>
                            <th class="nopad width_very_minimal">
                                <button id="create-list-button" type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#createModal" data-bs-type="create">+</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in static_information['lists'] %}
                        {% set additional_classes_td = "" %}
                        {% set additional_classes_svg = "" %}
                        {% if list[0]|string == request.args.get('view') %}
                            {% set additional_classes_td = "selected" %}
                            {% set additional_classes_svg = "color_white"%}
                            <div id="list-permissions" class="visually_hidden" data-owner="{{list[5]}}" data-editable="{{list[4]}}"></div>
                        {% endif %}
                        <tr list_id="{{list[0]}}">
                            <td data-href="{{ url_for('user.my_lists', view=list[0]) }}" class="cursor_pointer">
                                <div class="d-flex justify-content-center">
                                    {% if list[3] == 1 %} <!-- is public -->
                                        {{ macros.draw_public_symbol("Public list") }}
                                    {% else %} <!-- is public -->
                                        {{ macros.draw_private_symbol("Private list") }}
                                    {% endif %}
                                </div>
                              </td>
                            <td data-href="{{ url_for('user.my_lists', view=list[0]) }}" class="{{additional_classes_td}} cursor_pointer hyphens">{{ list[2] }}</td>
                            <td name="user_list_row" class="{{additional_classes_td}}">
                                {% if list[5] == 1 %}
                                    <svg id="edit_list_{{list[0]}}" type="button" class="{{additional_classes_svg}} clickable" data-bs-toggle="modal" data-bs-target="#createModal" data-bs-type="edit" data-bs-name="{{ list[2] }}" data-bs-id="{{ list[0] }}" data-bs-public-read="{{ list[3] }}" data-bs-public-edit="{{ list[4] }}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-lg" viewBox="0 0 16 16" data-bs-toggle="tooltip" title="You can not edit the properties of this list, because you are not the owner of it.">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                    </svg>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <div id="current-list-id" class="visually_hidden">{{ request.args.get('view') }}</div>

        <div id="list-content" class="sst bsl overflow_x_auto">
            {% if request.args.get('view') is not none %}
                <div class="ssb d-flex margin_between_list_very_small">
                    <div class="dropdown">
                        <button class="btn btn-secondary padding_small" type="button" id="options_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ macros.draw_gear(tooltip = "options") }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="options_dropdown">
                            <li>
                                <button id="generate_list_vcf_button" class="dropdown-item">Generate list VCF</button>
                            </li>
                            <li>
                                <a href="{{ url_for('download.variant_list', list_id=request.args.get('view')) }}" class="dropdown-item">Download list VCF</a>
                            </li>
                            <li>
                                <a href="{{ url_for('upload.publish', view = request.args.get('view', ''), next = url_for('user.my_lists', view = request.args.get('view'))) }}" class="dropdown-item">Publish</a>
                            </li>
                        </ul>
                    </div>
                    <a id="duplicate_list_button" type="button" class="btn btn-sm btn-secondary padding_small" data-bs-toggle="modal" data-bs-target="#createModal" data-bs-type="duplicate" data-bs-id="{{ request.args.get('view') }}" >
                        {{ macros.draw_duplicate_symbol("Duplicate this list") }}
                    </a>
                    <a id="intersect_list_button" type="button" class="btn btn-sm btn-secondary padding_small" data-bs-toggle="modal" data-bs-target="#createModal" data-bs-type="intersect" data-bs-id="{{ request.args.get('view') }}">
                        {{ macros.draw_intersect_symbol("Intersect this list with another list") }}
                    </a>
                    <a id="subtract_list_button" type="button" class="btn btn-sm btn-secondary padding_small" data-bs-toggle="modal" data-bs-target="#createModal" data-bs-type="subtract" data-bs-id="{{ request.args.get('view') }}">
                        {{ macros.draw_subtract_symbol("Subtract variants from another list from this list") }}
                    </a>
                    <a id="add_list_button" type="button" class="btn btn-sm btn-secondary padding_small" data-bs-toggle="modal" data-bs-target="#createModal" data-bs-type="add" data-bs-id="{{ request.args.get('view') }}">
                        {{ macros.draw_add_symbol("Add variants from another list to this list") }}
                    </a>
                    {% if list_import_status is not none %}
                    <div class="ssb">
                        {% if list_import_status[1] == 'pending' %} <!--requested_at, status, finished_at, message-->
                            <span class="badge rounded-pill bg-secondary" data-bs-toggle="tooltip" title="Import requested at {{ list_import_status[0] }}">Import requested</span>
                        {% endif %}
                        {% if list_import_status[1] == 'success' %}
                            <span class="badge rounded-pill bg-success" data-bs-toggle="tooltip" title="Most recent import finished at {{ list_import_status[2] }}">Import success</span>
                        {% endif %}
                        {% if list_import_status[1] == 'error' %}
                            <span class="badge rounded-pill bg-danger" data-bs-toggle="tooltip" title="Most recent import finished at {{ list_import_status[1] }} with fatal error {{ list_import_status[3] }}">Import error</span>
                        {% endif %}
                        {% if list_import_status[1] == 'retry' %}
                            <span class="badge rounded-pill bg-warning" data-bs-toggle="tooltip" title="Most recent import yielded an error: {{ list_import_status[3] }}. Retrying soon.">Import retry</span>
                        {% endif %}
                        {% if list_import_status[1] == 'aborted' %}
                            <span class="badge rounded-pill bg-warning" data-bs-toggle="tooltip" title="The import was aborted by a superuser. It is recommended to restart the import.">Import aborted</span>
                        {% endif %}
                        {% if list_import_status[1] == 'progress' %}
                            <span class="badge rounded-pill bg-primary" data-bs-toggle="tooltip" title="The variant import is processed in the background. Please wait until it is finished. Refresh this page to see if it is ready.">Import progress</span>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div id="vcf_gen_pill_holder" class="ssb">
                        <span class="badge rounded-pill bg-secondary" data-bs-toggle="tooltip" title="Fetching annotation status">
                            loading annotation status <div class="spinner-border spinner_text_height" role="status"></div>
                        </span>
                    </div>

                </div>
                {{ macros.draw_paginated_variant_table(pagination, variants, static_information) }}
            {% else %}
                <div class="display-5 text_align_center">
                    Please select a list to view its content!
                </div>
            {% endif %}
        </div>


    </div>



    

<!-- Modal -->
<div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="list-modal-form" action="/mylists?type=create" method="post">
                    <div class="form-group" id="inplace_obj">
                        <input class="form-check-input" type="checkbox" id="inplace" name="inplace">
                        <label class="form-check-label" for="inplace">inplace</label>
                    </div>
                    <div class="form-group mb-3" id="list_name_obj">
                        <label for="list_name" class="col-form-label">List name:</label>
                        <input type="text" class="form-control validationreq" id="list_name" name="list_name">
                    </div>
                    <div class="form-check form-switch" id="public_read_obj">
                        <input class="form-check-input" type="checkbox" id="public_read" name="public_read">
                        <label class="form-check-label" for="public_read">public read</label>
                    </div>
                    <div class="form-check form-switch" id="public_edit_obj">
                        <input class="form-check-input" type="checkbox" id="public_edit" name="public_edit">
                        <label class="form-check-label" for="public_edit">public edit</label>
                    </div>
                    <div class="form-group sst" id="other_list_obj">
                        <label for="other_list_select">Other list</label>
                        <div id="other_list_select" class="form-group autocomplete w-100">
                            <input id="other_list_id" name="other_list_id" class="visually_hidden" type="text">
                            <input id="other_list_name" class="form-control" name="other_list_name" type="text" placeholder="Select a list... start search by typing">
                        </div>
                    </div>

                    <input type='hidden' id="list_id" name="list_id" value="">
                </form>
            </div>
            <div class="d-flex modal-footer">
                <div class="flex-grow-1">
                    <button id="list-modal-submit-delete" type="submit" class="btn btn-danger">Delete list</button>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
                <div>
                    <button id="list-modal-submit" type="submit" class="btn btn-primary"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type='hidden' id='special_flask_data' 
    data-lists='{{ static_information["lists"] | tojson | safe}}'
    data-variant-base-url='{{ url_for("variant.display", variant_id="0") }}'
    data-page='{{ request.args.get("page", 1) }}'
    data-page-size='{{ request.args.get("page_size", 20)}}'
    data-delete-action='{{url_for("user.modify_list_content", selected_list_id=request.args.get("view", ""), action="remove_from_list", next=url_for("user.my_lists", view=request.args.get("view", "")))}}'
    data-generate-list-vcf-url='{{ url_for("download.generate_variant_list_vcf", list_id=request.args.get("view")) }}'
    data-generate-list-vcf-status-url='{{ url_for("download.generate_variant_list_vcf_status", list_id=request.args.get("view")) }}'
    
/>


{% endblock %}

{% block special_scripts %}
    <script src="../static/js/my_lists.js"></script>
{% endblock%}