{% extends 'base.html' %}

{% block content %}
<div style="min-width:90rem">

    <h1 class="bst">{% block title %} Your variant lists {% endblock %}</h1>


    
    
    <div class="d-flex bst">
        <div class="sst" style="width:15%">


            <div class="table-responsive">
                <table class="table table-hover" id="variant-list-table" style="table-layout:auto;">
                    <thead>
                        <tr>
                            <th style="padding-right:0; padding-left:0; min-width:10rem">
                                <div class="sortable"></div><input type="text" class="form-control form-control-sm column-filter" placeholder="search..." autocomplete="off">
                            </th>
                            <th style="padding-left:0; padding-right:0;">
                                <button id="create-list-button" type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#createModal" data-bs-type="create">+</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in user_lists %}
                        <tr>
                            <td data-href="{{ url_for('user.my_lists', view=list[0]) }}" class="{% if list[0]|string == view_list_id|string %}selected{% endif %} clickable">{{ list[2] }}</td>
                            <td name="user_list_row" {% if list[0]|string == view_list_id|string %}class="selected"{% endif %}>
                                <svg type="button" data-bs-toggle="modal" data-bs-target="#createModal" data-bs-type="edit" data-bs-name="{{ list[2] }}" data-bs-id="{{ list[0] }}" class="clickable" {% if list[0]|string == view_list_id|string %}style="color:white"{% endif %} xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <div id="current-list-id" style="display:none" >{{ request.args.get('view') }}</div>

        <div id="list-content" class="sst bsl">
            {% if view_list_id is not none %}
                {{ macros.draw_paginated_variant_table(pagination, variants) }}
            {% else %}
                <div class="display-5" style="text-align:center;">
                    Please select a list to view its content!
                </div>
            {% endif %}
            

            {% if request.args.get('view') is not none and variants|length > 0 %}
            <div class="d-flex justify-content-end">
                <button data-href="{{ url_for('download.variant', list_id=request.args.get('view')) }}" class="btn btn-primary">Export list to VCF</button>
            </div>
            {% endif %}
        </div>


    </div>



    

<!-- Modal -->
<div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="list-modal-form" action="/mylists?type=create"  method="post">
                    <div class="form-group mb-3">
                        <label for="list_name" class="col-form-label">List name:</label>
                        <input type="text" class="form-control validationreq" id="list_name" name="list_name">
                    </div>
                    <input type='hidden' id="list_id" name="list_id" value="">
                </form>
            </div>
            <div class="d-flex modal-footer">
                <div class="flex-grow-1">
                    <button id="list-modal-submit-delete" type="submit" class="btn btn-danger">Delete list</button>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
                <div>
                    <button id="list-modal-submit" type="submit" class="btn btn-primary"></button>
                </div>
            </div>
        </div>
    </div>
</div>

    


{% endblock %}

{% block special_scripts %}
    <script src="../static/js/my_lists.js"></script>
{% endblock%}