{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} Variant import history {% endblock %} </h1>




<div>

    <div id="tabnav-head" class="row align-items-end nsl nsr">
        <div class="col nopad">{{ pagination.links }}</div>
    </div>
    
    <div class="table-responsive tableFixHead table-100 ">
        <table class="table table-hover ssb" id="import_queue_table">
            <thead id="variantTableHead">
                <tr>
                    <th class="width_very_small">Submitter</th>
                    <th class="width_small">Requested at</th>
                    <th class="width_small">Finished at</th>
                    <th class="width_minimal">Status</th>
                    <th class="width_medium">Message</th>
                </tr>
            </thead>
            <tbody id="variantTableBody">
                {% for entry in import_queue_requests %}
                <tr class="clickable" data-href="{{ url_for('user.variant_import_summary', import_queue_id = entry.id) }}">
                    <td>{{entry.user.full_name}}</td>
                    <td>{{entry.requested_at}}</td>
                    <td>{{entry.finished_at}}</td>
                    <td>{{entry.status}}</td>
                    <td><div class="Nellipsis" data-bs-toggle="tooltip" data-bs-title="{{ entry.import_variant_list_message }}">{{ entry.import_variant_list_message }}</div></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
      
    <div id="tabnav-bottom" class="ssb">{{ pagination.links }}</div>
    
    
</div>








</div>


{% endblock %}

{% block special_scripts %}
{% endblock %}