{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} Variant import history {% endblock %} </h1>


<div class="table-responsive tableFixHead table-lg">
    <table class="table table-hover" id="variant_import_history_table">
        <thead>
            <tr>
                <th class="width_very_small" id="assayTableAssayTypeCol" asc="false"><div class="sortable">Submitter</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                <th class="width_small" id="assayTableAssayTypeCol" asc="false"><div class="sortable">Requested at</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                <th class="width_small" id="assayTableAssayTypeCol" asc="false"><div class="sortable">Finished at</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                <th class="width_minimal" id="assayTableAssayTypeCol" asc="false"><div class="sortable">Status</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                <th class="width_medium" id="assayTableAssayTypeCol" asc="false"><div class="sortable">Message</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>

            </tr>
        </thead>
        <tbody>
            {% for entry in overview %}
            <tr class="clickable" data-href="{{ url_for('user.variant_import_summary', import_queue_id = entry.id) }}">

                <td>{{entry.user.full_name}}</td>
                <td>{{entry.requested_at}}</td>
                <td>{{entry.finished_at}}</td>
                <td>{{entry.status}}</td>
                <td><div class="Nellipsis" data-bs-toggle="tooltip" data-bs-title="{{ entry.import_variant_list_message }}">{{ entry.import_variant_list_message }}</div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




</div>


{% endblock %}

{% block special_scripts %}
{% endblock %}