{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} Variant import summary {% endblock %} </h1>

<div class="card bsb bst">
    <div class="table-responsive bsb card-body">
        <table class="table table-borderless" id="summary_table" style="table-layout:auto; margin-bottom:0">
            <tbody>
                <tr>
                    <td class="width_small">Requesting user</td>
                    <td id="summary_user"></td> <!-- name of the user from import -->
                </tr>
                <tr>
                    <td class="width_small">Requested at</td>
                    <td id="summary_requested_at"></td> <!-- from import -->
                </tr>
                <tr>
                    <td class="width_small">Status</td>
                    <td id="summary_status">
                        <span id="status_badge" class="badge rounded-pill bg-secondary visually_hidden" data-bs-toggle="tooltip" title=""></span>
                    </td> 
                    <!-- 
                        1. pending: from status of import
                        2. fetching vids: status of import is processing
                        3. fetching variants: status of import is success and there are still non finished variants

                        4. error: import status is error

                        5. success: all variants are processed and 
                    -->
                </tr>
                <tr>
                    <td class="width_small">Finished at</td>
                    <td id="summary_finished_at"></td> <!-- max variant imports finished at if all are finished -->
                </tr>
                <tr>
                    <td clas="width_small">Message</td>
                    <td id="summary_message" class="break_text_all"></td>
                </tr>
                <tr>
                    <td class="width_small">Total number of VIDs</td>
                    <td id="summary_total_num_variants"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>






<div class="card bsb bst">
    <div class="table-responsive bsb card-body">
        <table class="table table-borderless" id="variant_summary_table">
            <tbody>
                <tr>
                    <td class="width_very_small">Pending</td>
                    <td class="width_very_small">Processing</td>
                    <td class="width_very_small">Erroneous</td>
                    <td class="width_very_small">Success</td>
                    <td class="width_very_small">Deleted</td>
                    <td class="width_very_small">Updated</td>
                    <td class="width_very_small">Retrying</td>
                </tr>
                <tr>
                    <td id="variant_summary_pending"></td>
                    <td id="variant_summary_processing"></td>
                    <td id="variant_summary_erroneous"></td>
                    <td id="variant_summary_success"></td>
                    <td id="variant_summary_deleted"></td>
                    <td id="variant_summary_update"></td>
                    <td id="variant_summary_retrying"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>






<div class="w-100 bsb">
    <div class="card">
        <div class="card-body">
            <h4 class="card-subcaption">Status details</h4>

            <p class="card-text">

                <div>Refresh page so see changes</div>
                <div>

                    <div id="tabnav-head" class="row align-items-end  nsl nsr">
                        <div class="col nopad">{{ pagination.links }}</div>
                    
                        <div class="col nopad">
                            
                            <a class="btn btn-sm btn-primary float_right" data-bs-toggle="collapse" id="searchOptionsToggle" href="#advanced_search" role="button" aria-expanded="false" aria-controls="advanced_search" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </a>
                    
                            <a class="btn btn-sm btn-danger float_right" href="{{ url_for(request.url_rule.endpoint, import_queue_id = import_queue_id) }}" data-bs-toggle="tooltip" title="Clear all filters.">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    
                                    <g transform="scale(1.5)">
                                        <g transform="translate(-4,-2.5)">
                                            <path d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    
                        <div class="collapse nopad" id="advanced_search">
                            <div class="card card-body">
                    
                                <div>
                                    <form action="" method="GET" novalidate>

                                        <div class="form-group sst">
                                            <label for="vid" class="form-label">VIDs</label>
                                            <textarea type="text" name="vid" id="vid"
                                                   placeholder="VID1; VID2; ..." class="form-control height_zero"
                                                   >{{ request.args.get('vid', '') }}</textarea>
                                        </div>
                            
                                        <div class="form-group sst">
                                            <label for="comment" class="form-label">Comment</label>
                                            <textarea type="text" name="comment" id="comment"
                                                   placeholder="comment1; comment2; ..." class="form-control height_zero"
                                                   >{{ request.args.get('comment', '') }}</textarea>
                                        </div>

                                        <div class="form-group sst">
                                            {% set selected_stati = request.args.getlist('status') %}
                                            <label for="status-select" class="form-label">Variant types</label>
                                            <div id="status-select" class="d-flex">
                                                {% for status in static_information['allowed_stati'] %}
                                                    <div class="form-check d-flex bsr align-items-center">
                                                        <input class="form-check-input ssr" type="checkbox" value="{{status}}" id="status_{{status}}" name="status" {% if status in selected_stati %}checked{% endif %}>
                                                        <label class="form-check-label" for="status_{{status}}">{{status.replace('_', ' ')}}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        
                            
                                        <div class="d-flex justify-content-end align-items-center">
                                            <div>
                                                <a class="ssr float_right" href="{{url_for('main.documentation')}}">Help</a>
                                            </div>
                                            <button id="submit_search" class="btn btn-primary float_right" type="submit">search</button>
                                        </div>
                            
                                    </form>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                      
                    
                    <div class="table-responsive tableFixHead table-100 ">
                        <table class="table table-hover ssb" id="variant_table">
                            <thead id="variantTableHead">
                                <tr>
                                    <th class="width_very_small"><div>HerediCare VID</div></th>
                                    <th class="width_very_small"><div>Status</div></th>
                                    <th class="width_small"><div>Requested at</div></th>
                                    <th class="width_small"><div>Finished at</div></th>
                                    <th class="width_large"><div>Message</div></th>
                                    <th class="width_minimal"><div>Retry</div></th>
                                </tr>
                            </thead>
                            <tbody id="variant_table_body">
                                {% for entry in imported_variants %}
                                <tr>
                                    <td><a href="{{url_for('extended_information.vid', vid=entry.vid)}}">{{entry.vid}}</a></td>
                                    <td>{{entry.status}}</td>
                                    <td>{{entry.requested_at}}</td>
                                    <td>{{entry.finished_at}}</td>
                                    <td><div class="Nellipsis" data-bs-toggle="tooltip" data-bs-title="{{ entry.message }}">{{ entry.message }}</div></td>
                                    <td>
                                        <form action="{{url_for('user.variant_import_summary', import_queue_id=import_queue_id, **request.args)}}" method="post">
                                            <input class="visually-hidden" name="import_variant_queue_id" type="text" value="{{entry.id}}">
                                            <button class="btn btn-outline-primary" type="submit">Retry</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                      
                    <div id="tabnav-bottom" class="ssb">{{ pagination.links }}</div>
                    
                </div>



            </p>
        </div>
    </div>
</div>




</div>


<input type='hidden' id='flask_data' 
    data-get-data-url='{{ url_for("user.variant_import_summary_data", import_queue_id = import_queue_id) }}'
    data-vid-details-url='{{ url_for("extended_information.vid", vid=0) }}'
    data-variant-import-summary-url='{{ url_for("user.variant_import_summary", import_queue_id = import_queue_id) }}'
    data-import-queue-id="{{import_queue_id}}"
/>


{% endblock %}

{% block special_scripts %}
    <script src="../static/js/variant_import_summary.js"></script>
{% endblock %}