{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} Variant publish history {% endblock %} </h1>



<div>

    <div id="tabnav-head" class="row align-items-end nsl nsr">
        <div class="col nopad">{{ pagination.links }}</div>
    </div>
    
    <div class="table-responsive tableFixHead table-100 ">
        <table class="table table-hover ssb" id="publish_queue_table">
            <thead id="variantTableHead">
                <tr>
                    <th class="width_small">Submitter</th>
                    <th class="width_small">Requested at</th>
                    <th class="width_small">Finished at</th>
                    <th class="width_minimal">#ClinVar</th>
                    <th class="width_minimal">#HerediCaRe</th>
                    <th class="width_minimal">Status</th>
                    <th class="width_medium">Message</th>
                </tr>
            </thead>
            <tbody id="variantTableBody">
                {% for entry in publish_queue_requests %}
                <tr class="clickable" data-href="{{ url_for('user.variant_publish_summary', publish_queue_id = entry[0]) }}">
                    <td>{{ entry.user.full_name }}</td>
                    <td>{{ entry.requested_at }}</td>
                    <td>{{ entry.finished_at }}</td>
                    <td>{{ entry.num_clinvar }}</td>
                    <td>{{ entry.num_heredicare }}</td>
                    <td>{{ entry.status }}</td>
                    <td><div class="Nellipsis" data-bs-toggle="tooltip" data-bs-title="{{ entry.message }}">{{ entry.message }}</div></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
      
    <div id="tabnav-bottom" class="ssb">{{ pagination.links }}</div>
    
    
</div>







</div>


{% endblock %}

{% block special_scripts %}
<script src="/static/js/variant_publish_history.js"></script>
{% endblock %}