{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} Variant publish history {% endblock %} </h1>


<div class="table-responsive tableFixHead table-lg">
    <table class="table table-hover" id="variant_import_history_table">
        <thead>
            <tr>
                <th class="width_small" id="assayTableAssayTypeCol" asc="false"><div class="sortable">Submitter</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                <th class="width_small" id="assayTableAssayTypeCol" asc="false"><div class="sortable">Requested at</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                <th class="width_small" id="assayTableAssayTypeCol" asc="false"><div class="sortable">Finished at</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                <th class="width_minimal" id="assayTableAssayTypeCol" asc="false"><div class="sortable">#ClinVar</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                <th class="width_minimal" id="assayTableAssayTypeCol" asc="false"><div class="sortable">#HerediCaRe</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                <th class="width_minimal" id="assayTableAssayTypeCol" asc="false"><div class="sortable">Status</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                <th class="width_medium" id="assayTableAssayTypeCol" asc="false"><div class="sortable">Message</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in overview %}
            <!--id, first_name, last_name, requested_at, status, finished_at, message, clinvar_subs, heredicare_subs-->
            <tr class="clickable" data-href="{{ url_for('user.variant_publish_summary', publish_queue_id = entry[0]) }}">
                <td>{{entry[1] + " " + entry[2]}}</td>
                <td>{{entry[3]}}</td>
                <td>{{entry[5]}}</td>
                <td>{{entry[7]}}</td>
                <td>{{entry[8]}}</td>
                <td>{{entry[4]}}</td>
                <td><div class="Nellipsis" data-bs-toggle="tooltip" data-bs-title="{{ entry[6] }}">{{ entry[6] }}</div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




</div>


{% endblock %}

{% block special_scripts %}
{% endblock %}