/*body{
    min-width:1500px;
    width: auto !important;
    width:1500px;
 }*/


.clickable {
    cursor: pointer;
    color:blue;
}

table{
    table-layout: fixed;
}

abbr[title] {
    text-decoration: none;
}

.li-label {
    font-weight: bold;
    /*float: left;*/
    /*width: 0px;*/
    line-height:190%;
}

.li-info {
    /*margin-left: 180px;*/
    line-height:190%;
}

.li-element{
    overflow-wrap: break-word;
    word-break: break-word;
    float:left;
    margin-right: 20px;
}


.dashed_underline{
    border-bottom: 1px dotted #000;
    text-decoration: none;
    color:rgb(85, 85, 85);
    font-weight:600;
}

.external_link {
    color:rgb(0, 0, 114);
    text-decoration: none;
    border-bottom: 1px dotted rgb(0, 0, 114);
}




.longTextCss {
    word-break: break-all;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}

.Nellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: X;        /* fallback */
    max-height: X*3;       /* fallback */
    white-space: pre-wrap;
 }



 /* deprecated, use tablefixhead instead!! 
table.scroll {
    display:inline-block;
    table-layout: auto;
    max-height: 500px;
    overflow-y: auto;
    border-collapse: collapse;
    width: 100%;
}

table.scroll thead tbody tr{
    max-width: 100%;
}

table.scroll th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    background:rgb(196, 196, 196);
    border-bottom: 2px solid rgb(255, 255, 255);
}
*/

.tableFixHead          { overflow: auto; max-height: 30rem; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

.tableFixHead table  { border-collapse: collapse; width: 100%; table-layout: fixed;}
.tableFixHead thead th     { background:#eee; }

.tableFixHead.table-lg {
    max-height: 45rem
}





.sortable {
    cursor:pointer;
}

.defaultrow {
    text-align:center;
    background-color:rgb(245, 245, 245);
    color:gray;
    width:100%;
}


.card-subcaption {
    font-weight: bold;
    font-size: 1.5em;
}










.acmg-button {
    /*
    width:6em;
    height:2.5em;
    */
    line-height:1.8em;
    font-weight:bold;
    font-size:larger;
    text-align:center;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.acmg-button-small {
    width: 4em;
    height: 2em;
}
.acmg-button-large {
    width:6em;
    height:2.5em;
}
.btn-check:disabled + label.btn {
    color: rgb(170, 170, 170);
    background-color: rgb(230, 230, 230);
}
.light-hover:hover {
    filter: brightness(130%);
    border-color: #979797 !important;
}
.count_label {
    position:relative; 
    left:0.3em; 
    height:0;
}





.color_scheme_box {
    width:20px;
    height:20px;
}




.vertical-lines-table {
    border-collapse: collapse;
}
.vertical-lines-table td {
    border: 2px solid rgb(180, 180, 180);
}
.vertical-lines-table tr:first-child th {
    border-top: 0;
}
.vertical-lines-table tr:last-child td {
    border-bottom: 0;
}
.vertical-lines-table tr td:first-child,
.vertical-lines-table tr th:first-child {
    border-left: 0;
}
.vertical-lines-table tr td:last-child,
.vertical-lines-table tr th:last-child {
    border-right: 0;
}




.tab {
    display: none;
}




.pagination {
    margin-bottom:0px;
}













.sortable[ascending='true']::after {
    content: " ↑";
}

.sortable[ascending='false']::after {
    content: " ↓";
}

.sortable[ascending]::after {
    color: rgb(69, 69, 69);
    white-space: nowrap;
}

.search-input-selected {
    border-color:orange !important;
    border-width: 2px;
}





* { box-sizing: border-box; }
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: white;
  padding: 10px;
  font-size: 16px;
}
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  overflow-y: scroll;
  height: 30em;
  background-color: #f0f0f0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}










.divider {
    height:2.45rem;
    background-color:rgba(0,0,0,0.05);
    border: solid rgba(0,0,0,0.1);
    border-width:1px;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .05), inset 0 .125em .5em rgba(0, 0, 0, .1);
}



  

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 6rem;
}
  
  
footer {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 6rem;            /* Footer height */
}


.table-border-between tr {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: inherit;
}


.list-nobackground li {
    background-color: transparent;
}

.table-slim td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height:170%;
}

.table-slim {
    display: inline-block; 
    table-layout: fixed; 
    overflow-x:auto; 
    border-collapse: collapse; 
    margin-bottom:0; 
    max-height:10rem;
}

.list-nopad-td li {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
















.tooltip-inner {
    white-space: pre-wrap;
}
.tooltip-inner-lg {
    min-width: 100px !important;
    max-width: 30em !important; 
}
.large.tooltip-inner {
    max-width: 350px;
}





.fake-upload-button {
    background-color:#e9ecef;
    color:black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #ced4da;
}

.fake-upload-button:hover {
    background-color:#d7dcdf;
    color: black;
    border:  1px solid #ced4da;
}

.fake-upload-button:focus{
    background-color:#d7dcdf;
    color: black;
    border:  1px solid #ced4da;
    box-shadow:none !important;
    outline:0px !important;
}

.fake-upload-label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left:0;
}






.class_label {
    height:auto;
}
.class_label .the_c {
    position: absolute; 
    z-index:1;
}