{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} Gene report for {{ gene_info[2] }} {% endblock %} </h1>

<div style="width:40%">
    <div class="row align-items-start">
        <div class="col li-label"><abbr title="someinfo">HGNC-ID</abbr></div>
        
        <div class="col li-info">
            {{ macros.external_link(gene_info[1]|string, "https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:" + gene_info[1]|string) }}
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col li-label"><abbr title="someinfo">Gene symbol</abbr></div>
        <div class="col li-info">{{ gene_info[2] }}</div>
    </div>
    <div class="row align-items-start">
        <div class="col li-label"><abbr title="someinfo">Description</abbr></div>
        <div class="col li-info">{{ gene_info[3] }}</div>
    </div>
    <div class="row align-items-start">
        <div class="col li-label"><abbr title="someinfo">Type</abbr></div>
        <div class="col li-info">{{ gene_info[4] }}</div>
    </div>
    <div class="row align-items-start">
        <div class="col li-label">Links</div>
        <div class="col li-info">
            <div class="li-element ssr">
                {{ macros.external_link("cBioPortal", "https://www.cbioportal.org/results/mutations?case_set_id=all&gene_list=" + gene_info[2]|string + "&cancer_study_list=5c8a7d55e4b046111fee2296") }}
            </div>
            {% if gene_info[5] is not none %}
            <div class="li-element ssr">
                {{ macros.external_link("OMIM", "https://www.omim.org/entry/" + gene_info[5]|string) }}
            </div>
            {% endif %}
            {% if gene_info[6] is not none %}
            <div class="li-element ssr">
                {{ macros.external_link("OrphaNet", "https://www.orpha.net/consor/cgi-bin/Disease_Genes.php?lng=DE&data_id=" + gene_info[6]|string) }}
            </div>
            {% endif %}
        </div>
    </div>
</div>




<!--transcripts table-->
<div class="col-lg-5 col-lg-6 mb-4 bst">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Transcripts</h4>
            <p class="card-text">
                Preferred transcripts are shown first (longer and more flags) <br>
                There are a total of {{ transcripts | length }} transcripts for this gene.

                <ul class="nav nav-tabs" id="tabs" role="tablist"> <!-- although this uses the styles from a tablist it is essentially not a tablist as it is not linked to the tabContent div below! Changes appear through javascript-->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" aria-selected="true" onclick="filterTable_one_column('ensembl', 4, document.getElementById('transcriptTable'))">Ensembl</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" onclick="filterTable_one_column('refseq', 4, document.getElementById('transcriptTable'))">RefSeq</button>
                    </li>
                </ul>
                <div class="tab-content" id="tabContent">

                    <div class="table-responsive"> <!--0gene_id,1name,2biotype,3length,4is_gencode_basic,5is_mane_select,6is_mane_plus_clinical,7is_ensembl_canonical,8total_flags-->
                        <table class="table table-hover scroll" id="transcriptTable">
                            <thead>
                                <tr>
                                    <th>Transcript name</th>
                                    <th>Biotype</th>
                                    <th id="transcripts_length_col">Length</th>
                                    <th>Flags</th>
                                    <th style="display:none;"  id="transcripts_source_col">Source</th>
                                    <th style="display:none;"  id="transcripts_numflags_col">NumFlags</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transcript in transcripts %}
                                <tr>
                                    <td style="white-space:nowrap;">{{ transcript[1] }}</td>
                                    <td>{{ transcript[2] }}</td>
                                    <td>{{ transcript[3] }}</td>
                                    <td>
                                        {% if transcript[4] %}
                                            <span class="badge bg-secondary"><abbr title="gencodetest">GENCODE basic</abbr></span>
                                        {% endif %}
                                        {% if transcript[5] %}
                                            <span class="badge bg-secondary"><abbr title="MANE">MANE select</abbr></span>
                                        {% endif %}
                                        {% if transcript[6] %}
                                            <span class="badge bg-secondary"><abbr title="">MANE clin</abbr></span>
                                        {% endif %}
                                        {% if transcript[7] %}
                                            <span class="badge bg-secondary"><abbr title="">ensembl canonical</abbr></span>
                                        {% endif %}
                                    </td>
                                    <td style="display:none;">
                                        {% if transcript[1].startswith('ENST') %}
                                            ensembl
                                        {% else %}
                                            refseq
                                        {% endif %}
                                    </td>
                                    <td style="display:none;">{{ transcript[8] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </p>
        </div>
    </div>
</div>


</div>

{% endblock %}

{% block special_scripts %}
    <script src="../static/js/gene.js"></script>
{% endblock %}