{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Browse Variants {% endblock %}</h1>

<div class="container">
    {{ pagination.links }}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>chr</th>
            <th>pos</th>
            <th>ref</th>
            <th>alt</th>
          </tr>
        </thead>
        <tbody>
          {% for variant in variants %}
          <tr>
            <td>{{ loop.index + (page - 1) * per_page }}</td>
            <td>{{ variant[0] }}</td>
            <td>{{ variant[1] }}</td>
            <td>{{ variant[2] }}</td>
            <td>{{ variant[3] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {{ pagination.links }}
  </div>

{% endblock %}