{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1> {% block title %} Gene report for {{ gene_info[2] }} {% endblock %} </h1>

<div style="width:30%">
    <div class="row align-items-start">
        <div class="col li-label"><abbr title="someinfo">HGNC ID</abbr></div>
        <div class="col li-info"><external-link href="https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:{{ gene_info[1] }}">{{ gene_info[1] }}</external-link></div>
    </div>
    <div class="row align-items-start">
        <div class="col li-label"><abbr title="someinfo">Gene Symbol</abbr></div>
        <div class="col li-info">{{ gene_info[2] }}</div>
    </div>
    <div class="row align-items-start">
        <div class="col li-label"><abbr title="someinfo">Description</abbr></div>
        <div class="col li-info">{{ gene_info[3] }}</div>
    </div>
    <div class="row align-items-start">
        <div class="col li-label"><abbr title="someinfo">Type</abbr></div>
        <div class="col li-info">{{ gene_info[4] }}</div>
    </div>
    <div class="row align-items-start">
        <div class="col li-label"></div>
        <div class="col li-info"><external-link href="https://www.cbioportal.org/results/mutations?case_set_id=all&gene_list={{ gene_info[2] }}&cancer_study_list=5c8a7d55e4b046111fee2296">cBioPortal</external-link></div>
    </div>
</div>

</div>

{% endblock %}