{% extends 'base.html' %}


{% block content %}


<div class="bst bsb">
    
    <div class="d-flex align-items-center">
        <div>
            <h1>{% block title %} Variant display {% endblock %}</h1>
            <div class="d-flex align-items-center">
                <form id="reannotate_form" name="reannotate_form" method="post" action="#">
                    <div class="form-group">
                        <span id="tooltip_reannotate_button" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="">
                            <button id="reannotate_button" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#reannotate-modal">(Re-)Annotate variant</button>
                        </span>
                        <meta id="annotation_status" data-annotation-status="{{ current_annotation_status[4] }}">
                    </div>
                </form>
                <div>
                    {% if current_annotation_status is not none %}
                    {% if current_annotation_status[4] == 'pending' %}
                        <span class="badge rounded-pill bg-secondary" style="margin-left:10px" data-bs-toggle="tooltip" title="annotation requested at {{ current_annotation_status[3] }}">annotation requested, <br> refresh page to see if it is ready</span>
                    {% endif %}
                    {% if current_annotation_status[4] == 'success' %}
                        <span class="badge rounded-pill bg-success" style="margin-left:10px" data-bs-toggle="tooltip" title="most recent annotation finished at {{ current_annotation_status[5] }}">annotation done</span>
                    {% endif %}
                    {% if current_annotation_status[4] == 'error' %}
                        <span class="badge rounded-pill bg-danger" style="margin-left:10px" data-bs-toggle="tooltip" title="most recent annotation finished at {{ current_annotation_status[5] }} with error {{ current_annotation_status[6] }}">annotation error</span>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ms-auto bsr" align="center">
            <div>
                <strong>consensus <br> classification</strong>
            </div>
            <div style="font-size:5em; line-height: 0.85;">
                {% if consensus_classification is not none %}
                    {{ consensus_classification[2] }}
                {% else %}
                    -
                {% endif %}
            </div>
        </div>

    </div>
</div>



<!-- reannotate confirmation panel (it is a bootstrap modal) -->
<div class="modal fade" id="reannotate-modal" tabindex="-1" aria-labelledby="reannotate-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reannotate-modal-label">Confirm (re-)annotation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to (re-)annotate this variant?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="reannotate-submit" type="submit" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>



<div class="row" data-masonry='{"percentPosition": true }'>
    <!--variant identification-->
    <div class="col-sm-6 col-lg-2 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Variant identification</h4>
                <p class="card-text">
                    <div class="row align-items-start">
                        <div class="col li-label"><abbr title="Variant in variant call format (FORMAT: chromosome -> position in reference genome (GRCh38) -> reference allele -> alternative allele)">VCF</abbr></div>
                        <div class="col li-info">{{ variant[1] }}&nbsp;&nbsp; {{ variant[2] }}&nbsp;&nbsp; {{ variant[3] }}&nbsp;&nbsp; {{ variant[4] }}</div>
                    </div>
                    <div class="row align-items-start">
                        <div class="col li-label"><abbr title="RSID from dbsnp">RSID</abbr></div>
                        <div class="col li-info">
                            {% if 'rsid' in variant_annotations %}
                                <external-link href="https://www.ncbi.nlm.nih.gov/snp/rs{{variant_annotations['rsid'][4]}}">rs{{variant_annotations['rsid'][4]}}</external-link>
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>

    <!--variant information-->
    <div class="col-lg-3 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Variant information</h4>
                <p class="card-text">
    
    {% if 'cadd_scaled' in variant_annotations or 'revel' in variant_annotations or 'phylop_100way' in variant_annotations %}
    <div class="row align-items-start">
        <div class="col-sm-4 li-label"><abbr title="Pathogeneity and other scores">Change&nbsp;tolerance</abbr></div>
        <div class="col li-info">
            {% if 'cadd_scaled' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['cadd_scaled'][0]}}"><a class="dashed_underline">CADD:</a></abbr>&nbsp;{{variant_annotations['cadd_scaled'][4]}}
            </div>
            {% endif %}
            {% if 'revel' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['revel'][0]}}"><a class="dashed_underline">REVEL:</a></abbr>&nbsp;{{variant_annotations['revel'][4]}}
            </div>
            {% endif %}
            {% if 'phylop_100way' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['phylop_100way'][0]}}"><a class="dashed_underline">phyloP:</a></abbr>&nbsp;{{variant_annotations['phylop_100way'][4]}}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if 'spliceai_max_delta' in variant_annotations or 'spliceai_details' in variant_annotations or 'maxentscan_ref' in variant_annotations or 'maxentscan_alt' in variant_annotations %}
    <div class="row align-items-start">
        <div class="col-sm-4 li-label"><abbr title="Various splicing related scores">Splicing</abbr></div>
        <div class="col li-info">
            {% if 'spliceai_max_delta' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['spliceai_max_delta'][0]}}"><a class="dashed_underline">spliceAI max:</a></abbr>&nbsp;{{variant_annotations['spliceai_max_delta'][4]}}
            </div>
            {% endif %}
            {% if 'spliceai_details' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['spliceai_details'][0]}}"><a class="dashed_underline">spliceAI details:</a></abbr>&nbsp;{{variant_annotations['spliceai_details'][4]}}
            </div>
            {% endif %}
            {% if 'maxentscan_ref' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['maxentscan_ref'][0]}}"><a class="dashed_underline">maxentscan ref:</a></abbr>&nbsp;{{variant_annotations['maxentscan_ref'][4]}}
            </div>
            {% endif %}
            {% if 'maxentscan_alt' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['maxentscan_alt'][0]}}"><a class="dashed_underline">maxentscan alt:</a></abbr>&nbsp;{{variant_annotations['maxentscan_alt'][4]}}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if 'gnomad_ac' in variant_annotations or 'gnomad_af' in variant_annotations or 'gnomad_popmax' in variant_annotations or 'gnomad_hom' in variant_annotations or 'gnomad_het' in variant_annotations or 'gnomad_hemi' in variant_annotations %}
    <div class="row align-items-start">
        <div class="col-sm-4 li-label"><abbr title="gnomAD scores">gnomAD</abbr></div>
        <div class="col li-info">
            {% if 'gnomad_ac' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['gnomad_ac'][0]}}"><a class="dashed_underline">AC:</a></abbr>&nbsp;{{variant_annotations['gnomad_ac'][4]}}
            </div>
            {% endif %}
            {% if 'gnomad_af' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['gnomad_af'][0]}}"><a class="dashed_underline">AF:</a></abbr>&nbsp;{{variant_annotations['gnomad_af'][4]}}
            </div>
            {% endif %}
            {% if 'gnomad_popmax' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['gnomad_popmax'][0]}}"><a class="dashed_underline">popmax:</a></abbr>&nbsp;{{variant_annotations['gnomad_popmax'][4]}}
            </div>
            {% endif %}
            {% if 'gnomad_hom' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['gnomad_hom'][0]}}"><a class="dashed_underline">#hom:</a></abbr>&nbsp;{{variant_annotations['gnomad_hom'][4]}}
            </div>
            {% endif %}
            {% if 'gnomad_het' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['gnomad_het'][0]}}"><a class="dashed_underline">#het:</a></abbr>&nbsp;{{variant_annotations['gnomad_het'][4]}}
            </div>
            {% endif %}
            {% if 'gnomad_hemi' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['gnomad_hemi'][0]}}"><a class="dashed_underline">#hemi:</a></abbr>&nbsp;{{variant_annotations['gnomad_hemi'][4]}}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if 'flossies_num_afr' in variant_annotations or 'flossies_num_eur' in variant_annotations %}
    <div class="row align-items-start">
        <div class="col-sm-4 li-label"><abbr title="Number of individuals from the FLOSSIES database">FLOSSIES</abbr></div>
        <div class="col li-info">
            {% if 'flossies_num_afr' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['flossies_num_afr'][0]}}"><a class="dashed_underline">#afr:</a></abbr>&nbsp;{{variant_annotations['flossies_num_afr'][4]}}
            </div>
            {% endif %}
            {% if 'flossies_num_eur' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['flossies_num_eur'][0]}}"><a class="dashed_underline">#eur:</a></abbr>&nbsp;{{variant_annotations['flossies_num_eur'][4]}}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if 'tp53db_class' in variant_annotations or 'tp53db_bayes_del' in variant_annotations or 'tp53db_DNE_LOF_class' in variant_annotations or 'tp53db_DNE_class' in variant_annotations or 'tp53db_domain_function' in variant_annotations or 'tp53db_transactivation_class' in variant_annotations%}
    <div class="row align-items-start">
        <div class="col-sm-4 li-label"><abbr title="Information from the Cancerhotspots website">TP53 database</abbr></div>
        <div class="col li-info">
            <div class="li-element">
                {% if 'tp53db_class' in variant_annotations %}
                    <abbr title="{{variant_annotations['tp53db_class'][0]}}"><a class="dashed_underline">class:</a></abbr>&nbsp;{{variant_annotations['tp53db_class'][4]}}
                {% endif %}
            </div>
            <div class="li-element">
                {% if 'tp53db_bayes_del' in variant_annotations %}
                    <abbr title="{{variant_annotations['tp53db_bayes_del'][0]}}"><a class="dashed_underline">Bayes Del:</a></abbr>&nbsp;{{variant_annotations['tp53db_bayes_del'][4]}}
                {% endif %}
            </div>
            <div class="li-element">
                {% if 'tp53db_DNE_LOF_class' in variant_annotations %}
                    <abbr title="{{variant_annotations['tp53db_DNE_LOF_class'][0]}}"><a class="dashed_underline">DNE LOF class:</a></abbr>&nbsp;{{variant_annotations['tp53db_DNE_LOF_class'][4]}}
                {% endif %}
            </div>
            <div class="li-element">
                {% if 'tp53db_DNE_class' in variant_annotations %}
                    <abbr title="{{variant_annotations['tp53db_DNE_class'][0]}}"><a class="dashed_underline">DNE class:</a></abbr>&nbsp;{{variant_annotations['tp53db_DNE_class'][4]}}
                {% endif %}
            </div>
            <div class="li-element">
                {% if 'tp53db_domain_function' in variant_annotations %}
                    <abbr title="{{variant_annotations['tp53db_domain_function'][0]}}"><a class="dashed_underline">domain function:</a></abbr>&nbsp;{{variant_annotations['tp53db_domain_function'][4]}}
                {% endif %}
            </div>
            <div class="li-element">
                {% if 'tp53db_transactivation_class' in variant_annotations %}
                    <abbr title="{{variant_annotations['tp53db_class'][0]}}"><a class="dashed_underline">class:</a></abbr>&nbsp;{{variant_annotations['tp53db_class'][4]}}
                {% endif %}
            </div>
            <div class="li-element">
                <external-link href="https://tp53.isb-cgc.org/search_germline_mut">link</external-link>
            </div>
        </div>
    </div>
    {% endif %}
    {% if 'cancerhotspots_cancertypes' in variant_annotations or 'cancerhotspots_ac' in variant_annotations or 'cancerhotspots_af' in variant_annotations %}
    <div class="row align-items-start">
        <div class="col-sm-4 li-label"><abbr title="Information from the Cancerhotspots website">Cancerhotspots</abbr></div>
        <div class="col li-info">
            {% if 'cancerhotspots_cancertypes' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['cancerhotspots_cancertypes'][0]}}"><a class="dashed_underline">hotspots:</a></abbr>&nbsp;{{variant_annotations['cancerhotspots_cancertypes'][4]}}
            </div>
            {% endif %}
            {% if 'cancerhotspots_ac' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['cancerhotspots_ac'][0]}}"><a class="dashed_underline">AC:</a></abbr>&nbsp;{{variant_annotations['cancerhotspots_ac'][4]}}
            </div>
            {% endif %}
            {% if 'cancerhotspots_af' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['cancerhotspots_af'][0]}}"><a class="dashed_underline">AF:</a></abbr>&nbsp;{{variant_annotations['cancerhotspots_af'][4]}}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if 'heredicare_cases_count' in variant_annotations or 'heredicare_family_count' in variant_annotations %}
    <div class="row align-items-start">
        <div class="col-sm-4 li-label">
            {% if has_multiple_seqids %}
            <span id="tooltip_exclamation_mark" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Multiple VIDs in HerediCare for this Variant. Thus, the family- and case counts for this variant might be inaccurate!">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="red" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </span>
            {% endif %}
            <abbr title="Information from HerediCare">HerediCare</abbr>
        </div>
        <div class="col li-info">
            {% if 'heredicare_cases_count' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['heredicare_cases_count'][0]}}"><a class="dashed_underline">cases count:</a></abbr>&nbsp;{{variant_annotations['heredicare_cases_count'][4]}}
            </div>
            {% endif %}
            {% if 'heredicare_family_count' in variant_annotations %}
            <div class="li-element">
                    <abbr title="{{variant_annotations['heredicare_family_count'][0]}}"><a class="dashed_underline">family count:</a></abbr>&nbsp;{{variant_annotations['heredicare_family_count'][4]}}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    
                </p>
            </div>
        </div>
    </div>

    <!--previous classifications-->
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Previous classifications</h4>
                <p class="card-text">
                {% if 'brca_exchange_clinical_significance' in variant_annotations %}
                    <div class="row">
                        <div class="col-sm-5 li-label"><abbr title="BRCA exchange classification">BRCA&nbsp;exchange</abbr></div>
                        <div class="col li-info">{{variant_annotations['brca_exchange_clinical_significance'][4]}}</div>
                    </div>
                {% endif %}
                
                {% if 'arup_classification' in variant_annotations %}
                    <div class="row">
                        <div class="col-sm-5 li-label"><abbr title="ARUP BRCA classification">ARUP&nbsp;BRCA</abbr></div>
                        <div class="col li-info">{{variant_annotations['arup_classification'][4]}}</div>
                    </div>
                {% endif %}
                
                {% if 'clinvar_variant_annotation' in variant_annotations %}
                <div class="row">
                    <div class="col-sm-5 li-label"><abbr title="ClinVar summary">ClinVar</abbr></div>
                    <div class="col li-info">
                        <div class="li-element">
                                <abbr title="The review status from ClinVar"><a class="dashed_underline">review status:</a></abbr>&nbsp;{{variant_annotations['clinvar_variant_annotation'][4]}}
                        </div>
                        <br>
                        <div class="li-element">
                                <abbr title="A summary of the ClinVar interpretations. The numbers in brackets display the number of ClinVar submissions reporting the specific type of interpretation."><a class="dashed_underline">interpretations:</a></abbr>&nbsp;{{variant_annotations['clinvar_variant_annotation'][3]}}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if consensus_classification is not none%}
                <div class="row">
                    <div class="col-sm-5 li-label"><abbr title="VUS task-force consensus classification details">consensus&nbsp;classification</abbr></div>
                    <div class="col li-info">
                        <div class="li-element">
                            <abbr title="The classification"><a class="dashed_underline">class:</a></abbr>&nbsp;{{consensus_classification[2]}}
                        </div>
                        <br>
                        <div class="li-element">
                            <abbr title="A comment about the classification"><a class="dashed_underline">comment:</a></abbr>&nbsp;{{consensus_classification[3]}}
                        </div>
                        <br>
                        <div class="li-element">
                            <abbr title="When was the classification issued"><a class="dashed_underline">date:</a></abbr>&nbsp;{{consensus_classification[4]}}
                        </div>
                        <br>
                        <div class="li-element">
                            <abbr title="download the evidence document"><a href="{{url_for('download_evidence_document', variant_id=consensus_classification[1])}}">download</a></abbr>
                        </div>
                    </div>
                </div>
                {% endif %}
                </p>
            </div>
        </div>
    </div>

    

    <!-- External Links / Further Information on external websites-->
    <div class="col-sm-6 col-lg-2 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Further information</h4>
                <p class="card-text">
                    <div>
                        <div>
                            <external-link href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=hg38&position=chr2%3A{{variant[2]}}">UCSC</external-link>
                        </div>
                        <div>
                            <external-link href="https://gnomad.broadinstitute.org/variant/{{ variant[1][3:] }}-{{ variant[2] }}-{{ variant[3] }}-{{ variant[4] }}?dataset=gnomad_r3">GnomAD</external-link>
                        </div>
                        <div>
                            <external-link href="https://varsome.com/security-validation/?next=/variant/hg19/{{ variant[1][3:] }}:{{ variant[2] }}:{{ variant[3] }}:{{ variant[4] }}">VarSome</external-link>
                        </div>
                        {% if 'rsid' in variant_annotations %}
                        <div>
                            <external-link href="https://www.ncbi.nlm.nih.gov/snp/rs{{variant_annotations['rsid'][4]}}">dbSNP</external-link>
                        </div>
                        {% endif %}
                        {% if 'clinvar_variant_annotation' in variant_annotations %}
                        <div>
                            <external-link href="https://www.ncbi.nlm.nih.gov/clinvar/variation/{{ variant_annotations['clinvar_variant_annotation'][2] }}">ClinVar</external-link>
                        </div>
                        {% endif %}
                        {% for consequence in variant_consequences %}
                            {% if consequence[0] == ENST00000269305 %} <!-- This transcript is the recommended one for TP53 (see https://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g=ENSG00000141510;r=17:7661779-7687538) and encodes the alpha isoform for this gene -->
                            <div>
                                <external-link href="https://mutantp53.broadinstitute.org/mutantp53grade/?query={{ consequence[2] }}">PHANTM</external-link>
                            </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </p>
            </div>
        </div>
    </div>

<!-- variant consequence table -->
<!-- 0transcript_name,1hgvs_c,2hgvs_p,3consequence,4impact,5exon_nr,6intron_nr,7symbol,8transcript.gene_id,9source,10pfam_accession,11pfam_description,12length,13is_gencode_basic,14is_mane_select,15is_mane_plus_clinical,16is_ensembl_canonical,17total_flag -->
{% if variant_consequences|length > 0 %}
<div class="col-lg-5 col-lg-6 mb-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Variant consequences</h4>
            <p class="card-text">
                Preferred transcripts are shown first (longer and more flags) <br>
                COSMIC links might be broken, as you can not search for them, so there might be wrong results...

                <ul class="nav nav-tabs" id="tabs" role="tablist"> <!-- although this uses the styles from a tablist it is essentially not a tablist as it is not linked to the tabContent div below! Changes appear through javascript-->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" aria-selected="true" onclick="filterTable_one_column('ensembl', 11, document.getElementById('variantConsequenceTable'))">Ensembl</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" onclick="filterTable_one_column('refseq', 11, document.getElementById('variantConsequenceTable'))">RefSeq</button>
                    </li>
                </ul>
                <div class="tab-content" id="tabContent">

                    <div class="table-responsive">
                        <table class="table table-hover scroll" id="variantConsequenceTable">
                            <thead>
                                <tr>
                                    <th>Transcript Name<input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th>HGVS_C<input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th>HGVS_P<input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th>Consequence<input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th>Impact<input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th>Exon Nr.<input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th>Intron Nr.<input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th>Gene Symbol<input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th>Protein Domain<input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th>Flags<input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th>Links</th>
                                    <th style="display:none;" id="variant_consequence_source_col">Source</th>
                                    <th id="variant_consequence_length_col">Length</th>
                                    <th style="display:none;" id="variant_consequence_numflags_col">NumFlags</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for consequence in variant_consequences %}
                                <tr>
                                    <td style="white-space:nowrap;">{{ consequence[0] }}</td>
                                    <td style="white-space:nowrap;">{{ consequence[1] }}</td>
                                    <td style="white-space:nowrap;">{{ consequence[2] }}</td>
                                    <td>{{ consequence[3] }}</td>
                                    <td>{{ consequence[4] }}</td>
                                    <td>{{ consequence[5] }}</td>
                                    <td>{{ consequence[6] }}</td>
                                    <td>
                                        {% if consequence[7] is not none %}
                                            <a href="{{ url_for('gene', gene_id=consequence[8] | int) }}">{{ consequence[7] }}</a>
                                        {% else %}
                                            {{ consequence[7] }}
                                        {% endif %}
                                    </td>
                                    {% if consequence[11] is not none %}
                                    <td>
                                        <external-link href="https://pfam.xfam.org/family/{{ consequence[10] }}">{{ consequence[11] }}</external-link>
                                    </td>
                                    {% else %}
                                    <td>{{ consequence[11] }}</td>
                                    {% endif %}
                                    <td>
                                        {% if consequence[13] %}
                                            <span class="badge bg-secondary"><abbr title="gencodetest">GENCODE basic</abbr></span>
                                        {% endif %}
                                        {% if consequence[14] %}
                                            <span class="badge bg-secondary"><abbr title="MANE">MANE select</abbr></span>
                                        {% endif %}
                                        {% if consequence[15] %}
                                            <span class="badge bg-secondary"><abbr title="">MANE clin</abbr></span>
                                        {% endif %}
                                        {% if consequence[16] %}
                                            <span class="badge bg-secondary"><abbr title="">ensembl canonical</abbr></span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <variant-google-link hgvs-c="{{ consequence[1] }}" hgvs-p="{{ consequence[2] }}" gene="{{ consequence[7] }}" rsid="{{ variant_annotations['rsid'][4] if 'rsid' in variant_annotations else none }}">google</variant-google-link>
                                        <variant-google-link hgvs-c="{{ consequence[1] }}" hgvs-p="{{ consequence[2] }}" gene="{{ consequence[7] }}" rsid="{{ variant_annotations['rsid'][4] if 'rsid' in variant_annotations else none }}" scholar="true">scholar</variant-google-link>
                                        {% if consequence[7] is not none and consequence[1] is not none %}
                                            <external-link href="https://cancer.sanger.ac.uk/cosmic/search?q={{ consequence[7] }}+{{ consequence[1] | replace('>','%3E') }}">COSMIC</external-link>
                                        {% endif %}
                                        {% if consequence[7] in ['MLH1', 'MSH2', 'MSH6', 'PMS2'] %}
                                            <external-link href="http://www.insight-database.org/classifications/index.html?gene={{ consequence[7] }}&variant={{ consequence[1] | replace('>', '%3E') }}">InSiGHT</external-link>
                                        {% endif %}
                                    </td>
                                    <td style="display:none;">{{ consequence[9] }}</td>
                                    <td >{{ consequence[12] }}</td>
                                    <td style="display:none;">{{ consequence[17] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </p>
        </div>
    </div>
</div>
{% endif %}


<!-- user classification table -->
{% if user_classifications is not none %}
<div class="col-lg-5 col-lg-6 mb-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User specific classifications</h4>
            <p class="card-text">
                <div class="table-responsive">
                    <table class="table table-hover scroll" id="userClassificationsTable">
                        <thead>
                            <tr>
                                <th><div class="sortable">Class</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">User</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Date</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th style="width: 100%;"><div class="sortable">Comment</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for classification in user_classifications %}
                            <tr>
                                <td>{{ classification[1] }}</td>
                                <td>{{ classification[3] }}</td>
                                <td style="white-space:nowrap;">{{ classification[5] }}</td>
                                <td>{{ classification[4] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </p>
        </div>
    </div>
</div>
{% endif %}


<!-- clinvar submission table -->
{% if 'clinvar_variant_annotation' in variant_annotations and clinvar_submissions|length > 0 %}
<div class="col-lg-5 col-lg-6 mb-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Clinvar submissions</h4>
            <p class="card-text">
                <div class="table-responsive">
                    <table class="table table-hover scroll" id="clinvarSubmissionsTable">
                        <thead>
                            <tr>
                                <th><div class="sortable">Interpretation</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Last evaluated</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Review status</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Submission condition</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Submitter</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th>Comment<input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for submission in clinvar_submissions %}
                            <tr>
                                <td>{{ submission[2] }}</td>
                                <td style="white-space:nowrap;">{{ submission[3] }}</td>
                                <td>{{ submission[4] }}</td>
                                <td>
                                    <external-link href="https://www.ncbi.nlm.nih.gov/medgen/{{submission[5][0]}}">{{ submission[5][1] }}</external-link>
                                </td>
                                <td>{{ submission[6] }}</td>
                                <td style="max-width:500px"><abbr title="{{ submission[7] }}"><div class="Nellipsis" style="max-width:500px">{{ submission[7] }}</div> </abbr></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </p>
        </div>
    </div>
</div>
{% endif %}


<!-- literature table -->
{% if literature|length > 0 %}
<div class="col-lg-5 col-lg-6 mb-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Literature</h4>
            <p class="card-text">
                <div class="table-responsive">
                    <table class="table table-hover scroll" id="literatureTable">
                        <thead>
                            <tr>
                                <th><div class="sortable">Year</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Title</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Authors</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Journal / Publisher</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for paper in literature %}
                            <tr>
                                <td>{{paper[6]}}</td>
                                <td>{{paper[3]}}</td>
                                <td style="max-width:500px"><abbr title="{{ paper[4] }}"><div class="Nellipsis" style="max-width:500px">{{ paper[4] }}</div> </abbr></td>
                                <td>{{paper[5]}}</td>
                                <td style="text-align:center;">
                                    <external-link href="https://pubmed.ncbi.nlm.nih.gov/{{ paper[2] }}"></external-link>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </p>
        </div>
    </div>
</div>
{% endif %}


</div>

{% endblock %}

{% block special_scripts %}
    <script src="../static/js/sortTable.js"></script>
    <script src="../static/js/variant.js"></script>
{% endblock%}

<!--
    - variant consequences nach preferred transcripts sortieren und badges (mane select, ....) anzeigen
    - gene page
    - genids durch gennamen ersetzen in variant consequence table
    - nobreak für bestimmte spalten
    ~ minimale seitenbreite angeben
    - beim variant import vcf check laufen lassen
    ~ variant import auch von hgvs möglich machen
    external links karte einfügen
    abbr beschreibungen der flags einfügen
    variant consequence table nach refseq / ensembl filtern (mit toggle)
    transcript table auf gene page einfügen
    refseq transcripts importieren + mapping table enst -> refseq
    - umbruch der last evaluated daten verhindern in clinvar submissions table
    - clinvar submissions standardmäßig nach last evaluated sortieren
    - wenn variante erfolgreich hochgeladen wurde soll der link gleich angezeigt werden in der flashed message

    - add positive feedback if variant was imported successfully
-->