{% extends 'base.html' %}

{% block content %}
<div class="container">

    <h1 class="bst">{% block title %} Classify variant {{variant_id}} {% endblock %}</h1>




    <div class="bst">
        <div class="d-flex">
            <div class="card-subcaption">To submit a new user classification or update your previous classification klick</div>
            <a class="btn btn-primary bsl" href="{{ url_for('variant.user_classify', variant_id = variant_id) }}">here</a>
        </div>

        <hr>
        <div class="d-flex">
            <div class="card-subcaption" >To submit a new consensus classification (only for priviliged users) klick</div>
            <a class="btn btn-primary bsl" href="{{ url_for('variant.consensus_classify', variant_id = variant_id) }}">here</a>
        </div>

    </div>




{% endblock %}

{% block special_scripts %}
{% endblock%}