{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="bst">{% block title %} Create a {{ classification_type }} classification {% endblock %}</h1>

    {% if previous_classification['has_classification'] %}
    <div class="alert alert-warning bst" role="alert">
        It appears that you already have a classification for this variant. You can edit it here.
    </div>
    {% endif %}

    <div class="bst" style="background-color:rgb(238, 238, 238); padding:1em">
        <div style="font-weight:bolder">Variant information:</div>
        <div class="bsl">Variant: {{ variant_oi[1] }}:{{ variant_oi[2] }} {{ variant_oi[3] }}>{{ variant_oi[4] }}</div>
        <div class="bsl">Gene(s): {{ variant_oi[6] }}</div>
    </div>
    

    <form class="bst" action="" id="acmg-form" autocomplete="off" method="post" novalidate>

        <!-- user/consensus select-->
        {% if is_admin %}
        <div class="form-group">
            <label for="classification_type" class="form-label">Select type of classification</label>
            <select class="form-select" name="classification_type" id="classification_type" required>
                <option data-href="{{ url_for('variant.classify', variant_id=variant_oi[0]) }}" value="user" {% if classification_type == 'user' %}selected{% endif %}>User classification</option>
                <option data-href="{{ url_for('variant.consensus_classify', variant_id=variant_oi[0]) }}" value="consensus" {% if classification_type == 'consensus' %}selected{% endif %}>Consensus classification</option>
            </select>
        </div>
        {% endif %}

        <!-- scheme select -->
         <div class="form-group sst">
             <label for="scheme" class="form-label">Classification scheme</label>
             <select class="form-select" name="scheme" id="scheme" onchange="scheme_select_action()" required>
                 <option value="acmg_standard">ACMG standard</option>
                 <option value="acmg_TP53">ACMG gene specific: TP53</option>
                 <option value="acmg_CDH1">ACMG gene specific: CDH1</option>
                 <option value="task-force">VUS-task-force</option>
                 <option value="none">None</option>
            </select>
        </div>

        <div class="collapse show" aria-expanded="true" id="classification_schema_wrapper">
        
            <div class="sst">Go <a id="scheme_reference" href="#">here</a> for more details about the currently selected ACMG scheme.</div>
        
            <!-- acmg criteria -->
            <div class="d-flex justify-content-center sst">
                <div class="d-flex">
                    <div class="card">
                        <h4 class="card-header">Pathogenic criteria</h4>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="ssl ssr">
                                    <div class="form-group">
                                        <div id="users_selected_pvs1" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="pvs1" name="pvs1" value="" strength-adjustable="true" autocomplete="off" onchange="button_select_action(this)">
                                        <label id="pvs1_label" class="btn btn-red light-hover acmg-button" for="pvs1">PVS1</label>
                                        <input type="checkbox" id="pvs1_strength" name="pvs1_strength" value="pvs" autocomplete="off" hidden>
                                    </div>
                                </div>
                                <div class="ssr">
                                    <div class="form-group">
                                        <div id="users_selected_ps1" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="ps1" name="ps1" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="ps1_label" class="btn btn-orange light-hover acmg-button" for="ps1">PS1</label>
                                        <input type="checkbox" id="ps1_strength" name="ps1_strength" value="ps" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_ps2" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="ps2" name="ps2" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="ps2_label" class="btn  btn-orange light-hover acmg-button" for="ps2">PS2</label>
                                        <input type="checkbox" id="ps2_strength" name="ps2_strength" value="ps" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_ps3" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="ps3" name="ps3" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="ps3_label" class="btn btn-orange light-hover acmg-button" for="ps3">PS3</label>
                                        <input type="checkbox" id="ps3_strength" name="ps3_strength" value="ps" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_ps4" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="ps4" name="ps4" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="ps4_label" class="btn  btn-orange light-hover acmg-button" for="ps4">PS4</label>
                                        <input type="checkbox" id="ps4_strength" name="ps4_strength" value="ps" autocomplete="off" hidden>
                                    </div>
                                </div>
                                <div class="ssr">
                                    <div class="form-group">
                                        <div id="users_selected_pm1" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="pm1" name="pm1" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="pm1_label" class="btn btn-yellow light-hover acmg-button" for="pm1">PM1</label>
                                        <input type="checkbox" id="pm1_strength" name="pm1_strength" value="pm" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_pm2" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="pm2" name="pm2" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="pm2_label" class="btn btn-yellow light-hover acmg-button" for="pm2">PM2</label>
                                        <input type="checkbox" id="pm2_strength" name="pm2_strength" value="pm" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_pm3" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="pm3" name="pm3" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="pm3_label" class="btn btn-yellow light-hover acmg-button" for="pm3">PM3</label>
                                        <input type="checkbox" id="pm3_strength" name="pm3_strength" value="pm" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_pm4" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="pm4" name="pm4" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="pm4_label" class="btn btn-yellow light-hover acmg-button" for="pm4">PM4</label>
                                        <input type="checkbox" id="pm4_strength" name="pm4_strength" value="pm" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_pm5" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="pm5" name="pm5" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="pm5_label" class="btn btn-yellow light-hover acmg-button" for="pm5">PM5</label>
                                        <input type="checkbox" id="pm5_strength" name="pm5_strength" value="pm" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_pm6" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="pm6" name="pm6" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="pm6_label" class="btn btn-yellow light-hover acmg-button" for="pm6">PM6</label>
                                        <input type="checkbox" id="pm6_strength" name="pm6_strength" value="pm" autocomplete="off" hidden>
                                    </div>
                                </div>
                                
                                <div class="ssr">
                                    <div class="form-group">
                                        <div id="users_selected_pp1" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="pp1" name="pp1" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="pp1_label" class="btn btn-green light-hover acmg-button" for="pp1">PP1</label>
                                        <input type="checkbox" id="pp1_strength" name="pp1_strength" value="pp" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_pp2" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="pp2" name="pp2" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="pp2_label" class="btn btn-green light-hover acmg-button" for="pp2">PP2</label>
                                        <input type="checkbox" id="pp2_strength" name="pp2_strength" value="pp" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_pp4" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="pp3" name="pp3" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="pp3_label" class="btn btn-green light-hover acmg-button" for="pp3">PP3</label>
                                        <input type="checkbox" id="pp3_strength" name="pp3_strength" value="pp" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_pp5" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="pp4" name="pp4" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="pp4_label" class="btn btn-green light-hover acmg-button" for="pp4">PP4</label>
                                        <input type="checkbox" id="pp4_strength" name="pp4_strength" value="pp" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_pp6" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="pp5" name="pp5" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="pp5_label" class="btn btn-green light-hover acmg-button" for="pp5">PP5</label>
                                        <input type="checkbox" id="pp5_strength" name="pp5_strength" value="pp" autocomplete="off" hidden>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
        
                    <div class="card">
                        <h4 class="card-header">Benign criteria</h4>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="ssl ssr">
                                    <div class="form-group">
                                        <div id="users_selected_bp1" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="bp1" name="bp1" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="bp1_label" class="btn btn-blue light-hover acmg-button" for="bp1">BP1</label>
                                        <input type="checkbox" id="bp1_strength" name="bp1_strength" value="bp" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_bp2" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="bp2" name="bp2" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="bp2_label" class="btn btn-blue light-hover acmg-button" for="bp2">BP2</label>
                                        <input type="checkbox" id="bp2_strength" name="bp2_strength" value="bp" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_bp3" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="bp3" name="bp3" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="bp3_label" class="btn btn-blue light-hover acmg-button" for="bp3">BP3</label>
                                        <input type="checkbox" id="bp3_strength" name="bp3_strength" value="bp" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_bp4" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="bp4" name="bp4" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="bp4_label" class="btn btn-blue light-hover acmg-button" for="bp4">BP4</label>
                                        <input type="checkbox" id="bp4_strength" name="bp4_strength" value="bp" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_bp5" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="bp5" name="bp5" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="bp5_label" class="btn btn-blue light-hover acmg-button" for="bp5">BP5</label>
                                        <input type="checkbox" id="bp5_strength" name="bp5_strength" value="bp" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_bp6" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="bp6" name="bp6" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="bp6_label" class="btn btn-blue light-hover acmg-button" for="bp6">BP6</label>
                                        <input type="checkbox" id="bp6_strength" name="bp6_strength" value="bp" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_bp7" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="bp7" name="bp7" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="bp7_label" class="btn btn-blue light-hover acmg-button" for="bp7">BP7</label>
                                        <input type="checkbox" id="bp7_strength" name="bp7_strength" value="bp" autocomplete="off" hidden>
                                    </div>
                                </div>
                                <div class="ssr">
                                    <div class="form-group">
                                        <div id="users_selected_bs1" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="bs1" name="bs1" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="bs1_label" class="btn btn-purple light-hover acmg-button" for="bs1">BS1</label>
                                        <input type="checkbox" id="bs1_strength" name="bs1_strength" value="bs" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_bs2" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="bs2" name="bs2" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="bs2_label" class="btn btn-purple light-hover acmg-button" for="bs2">BS2</label>
                                        <input type="checkbox" id="bs2_strength" name="bs2_strength" value="bs" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_bs3" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="bs3" name="bs3" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="bs3_label" class="btn btn-purple light-hover acmg-button" for="bs3">BS3</label>
                                        <input type="checkbox" id="bs3_strength" name="bs3_strength" value="bs" autocomplete="off" hidden>
                                    </div>
                                    <div class="form-group">
                                        <div id="users_selected_bs4" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="bs4" name="bs4" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="bs4_label" class="btn btn-purple light-hover acmg-button" for="bs4">BS4</label>
                                        <input type="checkbox" id="bs4_strength" name="bs4_strength" value="bs" autocomplete="off" hidden>
                                    </div>
                                </div>
                                <div class="ssr">
                                    <div class="form-group">
                                        <div id="users_selected_ba1" class="count_label" hidden>0</div>
                                        <input type="checkbox" class="btn-check" id="ba1" name="ba1" autocomplete="off" value="" onchange="button_select_action(this)">
                                        <label id="ba1_label" class="btn btn-darkblue light-hover acmg-button" for="ba1">BA1</label>
                                        <input type="checkbox" id="ba1_strength" name="ba1_strength" value="ba" autocomplete="off" hidden>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
    
                    <!-- acmg classification preview -->
                    <div class="card">
                        <div class="ssr" style="text-align:right"><a href="https://pubmed.ncbi.nlm.nih.gov/25741868/">reference</a></div>
                        <div class="card-body d-flex justify-content-center align-items-center" style="padding:1.5em">
                            <div class="">
                                <hr>
                                <div>Classification based on selected criteria:</div>
                                <div class="display-3" style="font-weight:bold; text-align:center;" id="classification_preview"></div>
                                <hr>
                            </div>
                        </div>
                    </div>
    

                </div>
            </div>


            <!-- criterium display & evidence select -->
            <div class="d-flex justify-content-center sst">
                <div id="criteria_container" class="card" style="width:100%">
                    <div class="card-body">

                        <div class="d-flex align-items-center">
                            <input style="transform:scale(1.5)" class="ssr" id="select_criterium_check" type="checkbox" 
                                onchange="select_criterium(this)" data-bs-trigger="manual" data-bs-container="body" 
                                data-bs-toggle="popover" data-bs-placement="left" 
                                data-bs-content="you must provide evidence in order to select this criterion" hidden>
                            <label style="font-size:x-large"  id="criteria_title"></label>
                        </div>
                        <hr>
                        <div id="button_container" hidden>
                            <h5 class="sst">Description:</h5>
                            <div id="criteria_description" style="white-space: pre-line;"></div>
                            <div id="additional_content" class="sst"></div>
                            <h5 class="bst">Evidence:</h5>
                            <textarea type="text" id="criteria_evidence" class="form-control sst" placeholder="insert evidence..."></textarea>
                        </div>

                    </div>
                </div>
            </div>

        </div>




        <!-- final classification -->
        <div class="form-group bst">
            <label for="final_class" class="form-label">Final classification</label>
            <select class="form-select" name="final_class" id="final_class" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
           </select>
           <div class="invalid-feedback">
               Please select a classification
           </div>
        </div>



        <!-- comment -->
        <div class="form-group sst">
            <label for="comment" class="form-label">Comment</label>
            <textarea type="text" name="comment"
                   placeholder="comment" class="form-control"
                   value="{{ previous_classification['comment'] }}" id="comment" maxlength="3500" required>{{ previous_classification['comment'] }}</textarea>
            <div class="invalid-feedback">
                Please provide a comment describing more about the reasons for this classification.
            </div>
        </div>



        <!-- submit -->
        <div class="bsb">
            <button id="submit-acmg-form" class="sst btn btn-primary" type="submit" onclick="submit_classification()">Submit classification</button>
            <!--
            <div class="d-flex">
                <div class="ssr">Last submitted at:</div>
                <div id="submitted_at_date"></div>
            </div>
            -->
        </div>

    </form>
      
</div>

<meta id="test" data-request-object="{{ request.form.to_dict(flat=True) }}">

<!-- this extracts the flask data and makes them available to the scripts -->
<script>



    const schemes_with_info_string = '{{ schemes_with_info | tojson | safe }}' // must still be escaped and parsed to an object!
    // example: {3: {'none': {'classification_id': 4, 'date': '2022-07-15', 'selected_criteria': [(26, 4, 'pvs1', 'pvs', 'egsa'), (27, 4, 'pp1', 'pm', 'edfsg'), (28, 4, 'bs1', 'bs', 'fdsaf')]}, 'TP53': {'classification_id': 10, 'date': '2022-07-13', 'selected_criteria': [(21, 10, 'bp2', 'bp', 'erwhgerwb'), (22, 10, 'bs1', 'bs', 'ababasc')]}}, 14: {'none': {'classification_id': 23, 'date': '2022-07-18', 'selected_criteria': [(36, 23, 'pm3', 'pm', 'asfdsaf'), (37, 23, 'pp1', 'pvs', 'VERRRRYYY STRONG!')]}, 'TP53': {'classification_id': 24, 'date': '2022-07-18', 'selected_criteria': [(38, 24, 'ps1', 'ps', 'c vxc ysa'), (39, 24, 'ps2', 'ps', 'asdfafafd'), (40, 24, 'pm2', 'pm', 'afdasfasdf'), (41, 24, 'pm5', 'pm', 'daffafd')]}}}
    const previous_classification = '{{ previous_classification["class"] }}';
    const has_classification = '{{ previous_classification["has_classification"]}}';
    const variant_genes = '{{ variant_oi[6] }}'.split(';');
    const classification_type = '{{ classification_type }}';

    
    const request_form_string = '{{request.form.to_dict(flat=True) | tojson | safe }}' // must still be escaped and parsed to an object!

</script>


{% endblock %}

{% block special_scripts %}
<!--<script src="/static/js/formValidator.js"></script>-->
<script src="/static/js/sortTable.js"></script>
<script src="/static/js/scheme_parameters.js"></script>
<script src="/static/js/classify.js"></script>
{% endblock%}