{% extends 'base.html' %}

{% block content %}
<div class="container">


    <h1 class="bst">{% block title %} Classification history {% endblock %}</h1>


    {{ macros.add_variant_banner(variant_oi) }}


    <div class="d-flex">
        <div class="flex-grow-1">
            <div class="card-subcaption bst ssb">
                Current consensus classification
            </div>
            {{ macros.draw_most_recent_consensus_classification(most_recent_consensus_classification) }}
        </div>

        <div class="ms-auto" style="margin-top:2em; margin-right:4em; margin-bottom:1em">
            {% if most_recent_consensus_classification is not none %}
                {% set consensus_class = most_recent_consensus_classification[3] %}
            {% else %}
                {% set consensus_class = '-' %}
            {% endif %}

            {{ macros.render_consensus_classification_label(consensus_class) }}
        </div>
    </div>
    

</div>




<div class="container bst">


    <div class="card-subcaption">
        All classifications
    </div>
    
    <div>
        <div>Color scheme:</div>
        <div class="d-flex align-items-center">
            <div class="user_scheme_classification_style color_scheme_box ssr bsl"></div>
            <div>user scheme classification</div>
            <div class="user_classification_style color_scheme_box ssr bsl"></div>
            <div>user classification</div>
            <div class="consensus_scheme_classification_style color_scheme_box ssr bsl"></div>
            <div>consensus scheme classification</div>
            <div class="consensus_classification_style color_scheme_box ssr bsl"></div>
            <div>consensus classification</div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover" id="historyTable" style="table-layout: auto;">
            <thead>
                <tr>
                    <th id="type_col"><div class="sortable">Type</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                    <th id="submitter_col"><div class="sortable">Submitter</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                    <th id="affiliation_col"><div class="sortable">Affiliation</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                    <th id="class_col"><div class="sortable">Class</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                    <th id="date_col"><div class="sortable">Date</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                    <th id="additional_information_col"><div class="sortable">Additional Information</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                    <th id="document_col">Document</th>
                </tr>
            </thead>
            <tbody>
                {% for classification in recorded_classifications %}
                
                <tr>
                    <td class="{{classification['type'] | replace(' ', '_')}}_style">{{classification['type']}}</td>
                    <td>{{classification['submitter']}}</td>
                    <td>{{classification['affiliation']}}</td>
                    <td>{{classification['class']}}</td>
                    <td style="white-space:nowrap;">{{classification['date']}}</td>

                    <td>
                        {{ classification['comment'] }}

                        {% if 'selected_criteria' in classification %}
                        <div class="d-flex"><div class="ssr" style="font-weight:bolder">Scheme:</div>{{ classification['scheme'] }}</div>
                        <div class="d-flex"><div class="ssr" style="font-weight:bolder">Selected criteria:</div>
                            {% for criterium in classification['selected_criteria'] %}
                            <span class="d-inline-block ssr large-tt" tabindex="0" data-bs-toggle="tooltip" data-bs-html="true" 
                                title="Strength: {{ classification['selected_criteria'][criterium]['strength'] }} <br> Evidence: {{ classification['selected_criteria'][criterium]['evidence'] }}">
                                <div class="dashed_underline clickable">{{ criterium }}</div>
                            </span>
                            {% endfor %}
                        </div>

                        {% endif %}
                    </td>

                    <td>{% if 'evidence_document_url' in classification %}<a href="{{ classification['evidence_document_url'] }}">download</a>{% endif %}</td>

                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>


</div>



{% endblock %}

{% block special_scripts %}
<script src="/static/js/colors.js"></script>
<script src="/static/js/classification_history.js"></script>
{% endblock%}