{% extends 'base.html' %}

{% block content %}
<div class="container">


    <div class="d-flex">
        <h1 class="bst">{% block title %} Consensus classification history {% endblock %}</h1>
        <div class="ms-auto" style="margin-top:2em; margin-right:4em; margin-bottom:1em">
            {{ macros.render_consensus_classification_label(most_recent_consensus_classification[3]) }}
        </div>
    </div>


    <div class="card-subcaption">
        Current consensus classification
    </div>

    {{ macros.draw_most_recent_consensus_classification(most_recent_consensus_classification) }}



</div>

<div class="container bst" style="max-width:75%">
    <div class="card-subcaption">
        Previous consensus classifications
    </div>
    <div class="table-responsive">
        <table class="table table-hover" id="historyTable" style="table-layout: auto;">
            <thead>
                <tr>
                    <th id="type_col"><div class="sortable">Type</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                    <th id="submitter_col"><div class="sortable">Submitter</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                    <th id="affiliation_col"><div class="sortable">Affiliation</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                    <th id="class_col"><div class="sortable">Class</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                    <th id="date_col"><div class="sortable">Date</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                    <th id="additional_information_col"><div class="sortable">Additional Information</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                    <th id="document_col">Document</th>
                </tr>
            </thead>
            <tbody>
                {% for classification in recorded_classifications %}
                
                <tr>
                    <td>{{classification['type']}}</td>
                    <td>{{classification['submitter']}}</td>
                    <td>{{classification['affiliation']}}</td>
                    <td>{{classification['class']}}</td>
                    <td style="white-space:nowrap;">{{classification['date']}}</td>

                    <td>
                        {{ classification['comment'] }}

                        {% if 'selected_criteria' in classification %}
                        <div class="d-flex"><div class="ssr" style="font-weight:bolder">Scheme:</div>{{ classification['scheme'] }}</div>
                        <div class="d-flex"><div class="ssr" style="font-weight:bolder">Selected criteria:</div>
                            {% for criterium in classification['selected_criteria'] %}
                            <span class="d-inline-block ssr" tabindex="0" data-bs-toggle="tooltip" data-bs-html="true" 
                                title="Strength: {{ classification['selected_criteria'][criterium]['strength'] }} <br> Evidence: {{ classification['selected_criteria'][criterium]['evidence'] }}">
                                <div class="dashed_underline clickable">{{ criterium }}</div>
                            </span>
                            {% endfor %}
                        </div>


                        {% endif %}
                    </td>

                    <td>{% if 'evidence_document_url' in classification %}<a href="{{ classification['evidence_document_url'] }}">download</a>{% endif %}</td>

                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}

{% block special_scripts %}
<script src="/static/js/sortTable.js"></script>
<script src="/static/js/colors.js"></script>
<script src="/static/js/classification_history.js"></script>
{% endblock%}