{% extends 'base.html' %}

{% block content %}
<div class="container">

    <h1 class="bst">{% block title %} Classify variant {{variant_id}} {% endblock %}</h1>


    <div class="d-flex">
        <a class="btn btn-primary bsr" href="{{ url_for('variant.user_classify', variant_id = variant_id) }}">user</a>
        <a class="btn btn-primary" href="{{ url_for('variant.consensus_classify', variant_id = variant_id) }}">consensus</a>
    </div>




{% endblock %}

{% block special_scripts %}
{% endblock%}