{% extends 'base.html' %}

{% block content %}
<div class="container">

    <h1 class="bst">{% block title %} Submit a new consensus classification {% endblock %}</h1>

    <form id="classifyForm" class="needs-validation" method="post" novalidate>

        
          
            <div class="form-group bst">
                <h4 for="class" class="form-label">Class</h4>
                <select class="form-select" name="class" id="class" required>
                    <option value="1" selected="selected">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
               </select>
               <div class="invalid-feedback">
                   Please select a classification
               </div>
            </div>
            

            <h4 class="form-label bst" for="">Choose relevant information (these will be included in the pdf report):</h4>

            <div class="form-group">
                <label>Change tolerance scores:</label>
                <!-- cadd -->
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" name="include_cadd" id="include_cadd" {% if 'cadd_scaled' not in variant_annotations %}disabled{% endif %}></input>
                    <label for="include_cadd" class="form-check-label">CADD score</label>
                </div>
    
                <!-- revel -->
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" name="include_revel" id="include_revel" {% if 'revel' not in variant_annotations %}disabled{% endif %}></input>
                    <label for="include_revel" class="form-check-label">REVEL score</label>
                </div>
    
                <!-- phylop -->
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" name="include_phylop" id="include_phylop" {% if 'phylop_100way' not in variant_annotations %}disabled{% endif %}></input>
                    <label for="include_phylop" class="form-check-label">PhyloP 100way score</label>
                </div>
            </div>

            
            <div class="form-group sst">
                <label>Splicing</label>
                <!-- spliceai -->
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" name="include_spliceai_max_delta" id="include_spliceai_max_delta" {% if 'spliceai_max_delta' not in variant_annotations %}disabled{% endif %}></input>
                    <label for="include_spliceai_max_delta" class="form-check-label">SpliceAI max delta</label>
                </div>
    
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" name="include_spliceai_details" id="include_spliceai_details" {% if 'spliceai_details' not in variant_annotations %}disabled{% endif %}></input>
                    <label for="include_spliceai_details" class="form-check-label">SpliceAI details</label>
                </div>

                <!-- maxentscan -->
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" name="include_maxentscan_ref" id="include_maxentscan_ref" {% if 'maxentscan_ref' not in variant_annotations %}disabled{% endif %}></input>
                    <label for="include_maxentscan_ref" class="form-check-label">MaxEntScan ref</label>
                </div>
    
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" name="include_maxentscan_alt" id="include_maxentscan_alt" {% if 'maxentscan_alt' not in variant_annotations %}disabled{% endif %}></input>
                    <label for="include_maxentscan_alt" class="form-check-label">MaxEntScan alt</label>
                </div>
            </div>
            
            <div class="form-group sst">
                <label>Occurance:</label>
                <!-- gnomad -->
                <div class="form-group">
                    <input class="form-check-input expandible-list" type="checkbox" data-bs-toggle="collapse" href="#gnomadoptions" data-target="#gnomadoptions" name="include_gnomad" id="include_gnomad" {% if 'gnomad_ac' not in variant_annotations and 'gnomad_af' not in variant_annotations and 'gnomad_popmax' not in variant_annotations and 'gnomad_hom' not in variant_annotations and 'gnomad_het' not in variant_annotations and 'gnomad_hemi' not in variant_annotations %}disabled{% endif %}></input>
                    <label class="form-check-label">GnomAD</label>
                    <div class="collapse" id="gnomadoptions">
                        <div class="card card-body">
                            <div class="form-group">
                                <input class="form-check-input" type="checkbox" name="include_gnomad_ac" id="include_gnomad_ac" {% if 'gnomad_ac' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                <label for="include_gnomad_ac" class="form-check-label">AC</label>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" type="checkbox" name="include_gnomad_af" id="include_gnomad_af" {% if 'gnomad_af' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                <label for="include_gnomad_af" class="form-check-label">AF</label>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" type="checkbox" name="include_gnomad_popmax" id="include_gnomad_popmax" {% if 'gnomad_popmax' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                <label for="include_gnomad_popmax" class="form-check-label">Popmax</label>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" type="checkbox" name="include_gnomad_hom" id="include_gnomad_hom" {% if 'gnomad_hom' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                <label for="include_gnomad_hom" class="form-check-label">Num homozygotes</label>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" type="checkbox" name="include_gnomad_het" id="include_gnomad_het" {% if 'gnomad_het' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                <label for="include_gnomad_het" class="form-check-label">Num heterozygotes</label>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" type="checkbox" name="include_gnomad_hemi" id="include_gnomad_hemi" {% if 'gnomad_hemi' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                <label for="include_gnomad_hemi" class="form-check-label">Num hemizygotes</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- flossies -->
                <div class="form-group">
                    <input class="form-check-input expandible-list" type="checkbox" data-bs-toggle="collapse" href="#flossiesoptions" data-target="#flossiesoptions" name="include_flossies" id="include_flossies" {% if 'flossies_num_afr' not in variant_annotations and 'flossies_num_eur' not in variant_annotations %}disabled{% endif %}></input>
                    <label class="form-check-label">FLOSSIES</label>
                    <div class="collapse" id="flossiesoptions">
                        <div class="card card-body">
                            <div class="form-group">
                                <input class="form-check-input" type="checkbox" name="include_flossies_num_afr" id="include_flossies_num_afr" {% if 'flossies_num_afr' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                <label for="include_flossies_num_afr" class="form-check-label">Num african</label>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" type="checkbox" name="include_flossies_num_eur" id="include_flossies_num_eur" {% if 'flossies_num_eur' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                <label for="include_flossies_num_eur" class="form-check-label">Num european</label>
                            </div>
                
                        </div>
                    </div>
                </div>

                <!-- heredicare -->
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" name="include_heredicare_cases_count" id="include_heredicare_cases_count" {% if 'heredicare_cases_count' not in variant_annotations %}disabled{% endif %}></input>
                    <label for="include_heredicare_cases_count" class="form-check-label">HerediCare cases count</label>
                </div>
    
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" name="include_heredicare_family_count" id="include_heredicare_family_count" {% if 'heredicare_family_count' not in variant_annotations %}disabled{% endif %}></input>
                    <label for="include_heredicare_family_count" class="form-check-label">HerediCare family count</label>
                </div>
            </div>
            

            <div class="form-group sst">
                <label>Others:</label>
                <!-- tp53db -->
                <div class="form-group">
                    <input class="form-check-input expandible-list" type="checkbox" data-bs-toggle="collapse" href="#tpdboptions" data-target="#tpdboptions" name="include_tpdb" id="include_tpdb" {% if 'tp53db_class' not in variant_annotations and 'tp53db_bayes_del' not in variant_annotations and 'tp53db_DNE_LOF_class' not in variant_annotations and 'tp53db_DNE_class' not in variant_annotations and 'tp53db_domain_function' not in variant_annotations and 'tp53db_transactivation_class' not in variant_annotations %}disabled{% endif %}></input>
                    <label class="form-check-label">TP53 db</label>
                    <div class="form-group">
                        
                        <div class="collapse" id="tpdboptions">
                            <div class="card card-body">
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox" name="include_tp53db_class" id="include_tp53db_class" {% if 'tp53db_class' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                    <label for="include_tp53db_class" class="form-check-label">class</label>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox" name="include_tp53db_bayes_del" id="include_tp53db_bayes_del" {% if 'tp53db_bayes_del' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                    <label for="include_tp53db_bayes_del" class="form-check-label">Bayes del</label>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox" name="include_tp53db_DNE_LOF_class" id="include_tp53db_DNE_LOF_class" {% if 'tp53db_DNE_LOF_class' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                    <label for="include_tp53db_DNE_LOF_class" class="form-check-label">DNE LOF class</label>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox" name="include_tp53db_DNE_class" id="include_tp53db_DNE_class" {% if 'tp53db_DNE_class' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                    <label for="include_tp53db_DNE_class" class="form-check-label">DNE class</label>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox" name="include_tp53db_domain_function" id="include_tp53db_domain_function" {% if 'tp53db_domain_function' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                    <label for="include_tp53db_domain_function" class="form-check-label">Domain function</label>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox" name="include_tp53db_transactivation_class" id="include_tp53db_transactivation_class" {% if 'tp53db_transactivation_class' not in variant_annotations %}disabled{% else %}checked{% endif %}></input>
                                    <label for="include_tp53db_transactivation_class" class="form-check-label">Transactivation class</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               

                <!-- cancerhotspots -->
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" name="include_cancerhotspots_cancertypes" id="include_cancerhotspots_cancertypes" {% if 'cancerhotspots_cancertypes' not in variant_annotations %}disabled{% endif %}></input>
                    <label for="include_cancerhotspots_cancertypes" class="form-check-label">Cancerhotspots cancertypes</label>
                </div>
                
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" name="include_cancerhotspots_ac" id="include_cancerhotspots_ac" {% if 'cancerhotspots_ac' not in variant_annotations %}disabled{% endif %}></input>
                    <label for="include_cancerhotspots_ac" class="form-check-label">Cancerhotspots AC</label>
                </div>
                
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" name="include_cancerhotspots_af" id="include_cancerhotspots_af" {% if 'cancerhotspots_af' not in variant_annotations %}disabled{% endif %}></input>
                    <label for="include_cancerhotspots_af" class="form-check-label">Cancerhotspots AF</label>
                </div>
            </div>
            


            <!-- literature -->
            {% if literature|length > 0 %}
            <div class="form-group sst">
                <label>Literature:</label>
                <div class="table-responsive form-group">
                    <table class="table table-hover scroll" id="literatureTable">
                        <thead>
                            <tr>
                                <th><input class="form-check-input" type="checkbox" name="include_all_literature" id="include_all_literature" onClick="toggle_all(this, 'include_literature')"> Include</th>
                                <th><div class="sortable">Year</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Title</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Authors</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Journal / Publisher</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for paper in literature %}
                            <tr>
                                <td><input class="form-check-input" type="checkbox" name="include_literature_{{ paper[0] }}" id="include_literature_{{ paper[0] }}"></input></td>
                                <td>{{paper[6]}}</td>
                                <td>{{paper[3]}}</td>
                                <td style="max-width:500px"><abbr title="{{ paper[4] }}"><div class="Nellipsis" style="max-width:500px">{{ paper[4] }}</div> </abbr></td>
                                <td>{{paper[5]}}</td>
                                <td style="text-align:center;">
                                    <external-link href="https://pubmed.ncbi.nlm.nih.gov/{{ paper[2] }}"></external-link>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>    
                </div>
            </div>
            {% endif %}
            
            <!-- user classifications -->
            {% if user_classifications is not none %}
            <div class="form-group sst">
                <label>User classifications:</label>
                <div class="table-responsive form-group">
                    <table class="table table-hover scroll" id="userClassificationsTable">
                        <thead>
                            <tr>
                                <th><input class="form-check-input" type="checkbox" name="include_all_literature" id="include_all_literature" onClick="toggle_all(this, 'include_user_classification')">Include</th>
                                <th><div class="sortable">Class</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">User</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Affiliation</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Date</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th style="width: 100%;"><div class="sortable">Comment</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for classification in user_classifications %}
                            <tr>
                                <td><input class="form-check-input" type="checkbox" name="include_user_classification_{{ classification[0] }}" id="include_user_classification_{{ classification[0] }}"></input></td>
                                <td>{{ classification[1] }}</td>
                                <td>{{ classification[8] + ' ' + classification[9] }}</td>
                                <td>{{ classification[10] }}</td>
                                <td style="white-space:nowrap;">{{ classification[5] }}</td>
                                <td>{{ classification[4] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            
            <!-- center classifications -->
            {% if heredicare_center_classifications is not none %}
            <div class="form-group sst">
                <label>Heredicare center classifications:</label>
                <div class="table-responsive form-group">
                    <table class="table table-hover scroll" id="heredicareCenterClassificationsTable">
                        <thead>
                            <tr>
                                <th><input class="form-check-input" type="checkbox" name="include_all_literature" id="include_all_literature" onClick="toggle_all(this, 'include_heredicare_center_classification')">Include</th>
                                <th><div class="sortable">Class</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Center</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Date</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th style="width: 100%;"><div class="sortable">Comment</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for classification in heredicare_center_classifications %}
                            <tr>
                                <td><input class="form-check-input" type="checkbox" name="include_heredicare_center_classification_{{ classification[0] }}" id="include_heredicare_center_classification_{{ classification[0] }}"></input></td>
                                <td>{{ classification[1] }}</td>
                                <td>{{ classification[3] }}</td>
                                <td style="white-space:nowrap;">{{ classification[5] }}</td>
                                <td>{{ classification[4] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}

            <!-- clinvar classifications -->
            {% if clinvar_submissions|length > 0 %}
            <div class="form-group sst">
                <label>ClinVar submissions:</label>
                <div class="table-responsive form-group">
                    <table class="table table-hover scroll" id="clinvarSubmissionsTable">
                        <thead>
                            <tr>
                                <th><input class="form-check-input" type="checkbox" name="include_all_literature" id="include_all_literature" onClick="toggle_all(this, 'include_clinvar')">Include</th>
                                <th><div class="sortable">Interpretation</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Last evaluated</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Review status</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Submission condition</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Submitter</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th>Comment<input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for submission in clinvar_submissions %}
                            <tr>
                                <td><input class="form-check-input" type="checkbox" name="include_clinvar_{{ submission[0] }}" id="include_clinvar_{{ submission[0] }}"></input></td>
                                <td>{{ submission[2] }}</td>
                                <td style="white-space:nowrap;">{{ submission[3] }}</td>
                                <td>{{ submission[4] }}</td>
                                <td>
                                    <external-link href="https://www.ncbi.nlm.nih.gov/medgen/{{submission[5][0]}}">{{ submission[5][1] }}</external-link>
                                </td>
                                <td>{{ submission[6] }}</td>
                                <td style="max-width:500px"><abbr title="{{ submission[7] }}"><div class="Nellipsis" style="max-width:500px">{{ submission[7] }}</div> </abbr></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            

            <div class="form-group sst">
                <h4 for="comment" class="form-label">Comment</h4>
                <input type="text" name="comment"
                       placeholder="comment" class="form-control"
                       value="{{ request.form['comment'] }}" id="comment" required>
                </input>
                <div class="invalid-feedback">
                    Please provide a comment describing more about the reasons for this classification.
                </div>
            </div>

            <div class="form-group sst bsb">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>



        
    </form> 



{% endblock %}

{% block special_scripts %}
    <script src="/static/js/formValidator.js"></script>
    <script src="/static/js/consensus_classify.js"></script>
    <script src="/static/js/sortTable.js"></script>
{% endblock%}