{% extends 'base.html' %}

{% block content %}
<div class="container">

    <h1 class="bst">{% block title %} Classify a variant {% endblock %}</h1>

    <form id="classifyForm" class="needs-validation" method="post" >

        
          
            <div class="form-group sst">
                <label for="class" class="form-label">Class</label>
                <select class="form-select" name="class" id="class" required>
                    <option value="1" selected="selected">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
               </select>
               <div class="invalid-feedback">
                   Please select a classification
               </div>
            </div>

            <div class="form-group sst">
                <label for="comment" class="form-label">Comment</label>
                <textarea type="text" name="comment"
                       placeholder="comment" class="form-control"
                       value="{{ request.form['comment'] }}" id="comment" maxlength="2500" required></textarea>
                <div class="invalid-feedback">
                    Please provide a comment describing more about the reasons for this classification.
                </div>
            </div>

            <div class="form-group sst">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>



        
    </form> 



{% endblock %}

{% block special_scripts %}
    <script src="/static/js/formValidator.js"></script>
{% endblock%}