{% extends 'base.html' %}


{% block content %}

<div class="bst bsb">
    
    <div class="d-flex align-items-center">
        <div>
            <h1>{% block title %} Variant display {% endblock %}</h1>
            <div class="d-flex align-items-center">
                <form id="reannotate_form" action="{{ url_for('variant.display', variant_id=variant[0], action='reannotate') }}" name="reannotate_form" method="post" action="#">
                    <div class="form-group">
                        <span id="tooltip_reannotate_button" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="">
                            <button id="reannotate_button" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#reannotate-modal">(Re-)Annotate</button>
                        </span>
                        <meta id="annotation_status" data-annotation-status="{{ current_annotation_status[4] }}">
                    </div>
                </form>
                <div>
                    {% if current_annotation_status is not none %}
                    {% if current_annotation_status[4] == 'pending' %}
                        <span class="badge rounded-pill bg-secondary" style="margin-left:10px" data-bs-toggle="tooltip" title="annotation requested at {{ current_annotation_status[3] }}">annotation requested, <br> refresh page to see if it is ready</span>
                    {% endif %}
                    {% if current_annotation_status[4] == 'success' %}
                        <span class="badge rounded-pill bg-success" style="margin-left:10px" data-bs-toggle="tooltip" title="most recent annotation finished at {{ current_annotation_status[5] }}">annotation done</span>
                    {% endif %}
                    {% if current_annotation_status[4] == 'error' %}
                        <span class="badge rounded-pill bg-danger" style="margin-left:10px" data-bs-toggle="tooltip" title="most recent annotation finished at {{ current_annotation_status[5] }} with error {{ current_annotation_status[6] }}">annotation error</span>
                    {% endif %}
                    {% endif %}
                </div>
                <span id="tooltip_classify_button" class="d-inline-block ssl" tabindex="0" data-bs-toggle="tooltip"  title="Submit a new variant classification or edit your previous classification(s).">
                    <a id="classify_button" type="button" class="btn btn-outline-primary" href="{{url_for('variant.classify', variant_id = variant[0])}}">Classify</a>
                </span>
                <span id="tooltip_vcf_export_button" class="d-inline-block ssl" tabindex="0" data-bs-toggle="tooltip" title="Download this variant & all annotations as VCF.">
                    <a id="vcf_export_button" type="button" class="btn btn-outline-primary" href="{{url_for('download.variant', variant_id = variant[0])}}">Export to VCF</a>
                </span>
                {% if 'submitted' == clinvar_submission['status'] or 'processing' == clinvar_submission['status'] %}
                <span id="tooltip_clinvar_export_button" class="d-inline-block ssl" tabindex="0" data-bs-toggle="tooltip" title="Wait for the current ClinVar submission to finish before submitting another one.">
                    <button id="clinvar_export_button" type="button" class="btn btn-outline-primary" disabled="disabled">Submit to ClinVar</button>
                </span>
                {% else %}
                <span id="tooltip_clinvar_export_button" class="d-inline-block ssl" tabindex="0" data-bs-toggle="tooltip" title="Submit the consensus classification of this variant to ClinVar.">
                    <a id="clinvar_export_button" type="button" class="btn btn-outline-primary" href="{{url_for('variant_io.submit_clinvar', variant_id = variant[0])}}">Submit to ClinVar</a>
                </span>
                {% endif %}

                <div> 
                    {% set status = clinvar_submission['status'] %}
                    {% if status in ['processed'] %}
                        <span class="badge rounded-pill bg-success" style="margin-left:10px" data-bs-toggle="tooltip" title="Most recent ClinVar submission finished at {{ clinvar_submission['date'] }}">ClinVar success</span>
                    {% endif %}
                    {% if status in ['error'] %}
                        <span class="badge rounded-pill bg-danger" style="margin-left:10px" data-bs-toggle="tooltip" title="Most recent ClinVar submission yielded an error at {{ clinvar_submission['date'] }} with error message: {{ clinvar_submission['message'] }}">ClinVar error</span>
                    {% endif %}
                    {% if status in ['submitted', 'processing'] %}
                        <span class="badge rounded-pill bg-secondary" style="margin-left:10px" data-bs-toggle="tooltip" title="Most recent ClinVar submission last updated at {{ clinvar_submission['date'] }}">ClinVar {{ status }}</span>
                    {% endif %}
                    {% if status is none %}
                        <span class="badge rounded-pill bg-secondary" style="margin-left:10px" data-bs-toggle="tooltip" title="This variant was not yet submitted to ClinVar">no ClinVar submission</span>
                    {% endif %}
                </div>
                <span id="tooltip_add_to_list_button" class="d-inline-block ssl" tabindex="0" data-bs-toggle="tooltip"  title="Select a list to add this variant to it. If a list is highlighted in blue the current variant is already in that list">

                    <form id="add-to-list-form" action="{{ url_for('variant.display', variant_id=variant[0], action='add_to_list') }}" method="post" novalidate>
                       <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">Add to list</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            {% for list in lists %}
                                <li><button class="dropdown-item {% if list[3] is not none %}active{% endif %}" name="add-to-list" value="{{ list[0] }}" type="submit">{{ list[2] }}</button></li>
                            {% endfor %}
                        </ul>
                      </div>
                    </form>

                </span>
            </div>
        </div>

        <!-- consensus classification label  at the top right -->
        {% if 'consensus_classification' in annotations %}
            {% set _consensus_class = annotations['consensus_classification'][3] %}
        {% else %}
            {% set _consensus_class = '-' %}
        {% endif %}

        <div class="ms-auto" style="margin-right: 6em; margin-bottom: 1.5em;">
            {{ macros.render_consensus_classification_label(_consensus_class) }}
        </div>
        


    </div>
</div>



<!-- reannotate confirmation panel (it is a bootstrap modal) -->
<div class="modal fade" id="reannotate-modal" tabindex="-1" aria-labelledby="reannotate-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reannotate-modal-label">Confirm (re-)annotation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to (re-)annotate this variant?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="reannotate-submit" type="submit" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>



<div class="row" data-masonry='{"percentPosition": true }'>
    <!--variant identification-->
    <div class="col-sm-6 col-lg-2 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Variant identification</h4>
                <hr>
                <div>
                    <div class="row align-items-start">
                        <div class="col li-label"><abbr title="Variant in VCF style (FORMAT: chromosome -> position in reference genome (GRCh38) -> reference allele -> alternative allele)">VCF</abbr></div>
                        <div class="col li-info">{{ variant[1] }}&nbsp;&nbsp; {{ variant[2] }}&nbsp;&nbsp; {{ variant[3] }}&nbsp;&nbsp; {{ variant[4] }}</div>
                    </div>
                    <div class="row align-items-start">
                        <div class="col li-label"><abbr title="RSID from dbSNP">RSID</abbr></div>
                        <div class="col li-info">
                            {% if 'rsid' in annotations %}
                                <external-link href="https://www.ncbi.nlm.nih.gov/snp/rs{{annotations['rsid'][4]}}">rs{{annotations['rsid'][4]}}</external-link>
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--variant information-->
    <div class="col-lg-3 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Variant information</h4>
                <hr>
                    <div>
                        <table class="table" style="display: inline-block; table-layout: auto; overflow-x:auto; border-collapse: collapse;">
                            <tbody>
                                {% set standard_annotations = annotations['standard_annotations'] %}
                                {% for annotation_group in standard_annotations %}
                                    <tr style="margin-top:100;">
                                        <td class="li-label" style="white-space: nowrap;">{{ annotation_group }}</td>
                                        <td>
                                            {% set current_annotations = standard_annotations[annotation_group] %}
                                            {% for annotation_type in current_annotations %}

                                                {% if annotation_type == 'hexplorer' or annotation_type == 'hexplorer_rev' or annotation_type == 'max_hbond' or annotation_type == 'max_hbond_rev' %} <!-- add details for hexplorer/hbond score -->
                                                    {{ macros.draw_hexplorer_score(annotation_type + '_delta', current_annotations[annotation_type], current_annotations.get(annotation_type + '_wt'), current_annotations.get(annotation_type + '_mut')) }}
                                                {% else %}
                                                {% if 'heredicare' in annotation_type %} <!-- add red exclamation mark for heredicare counts -->
                                                    <div>
                                                        {% if has_multiple_vids  %}
                                                            {{ macros.draw_exclamation_mark('Multiple VIDs in HerediCare for this variant. Thus, these counts might be inaccurate!') }}
                                                        {% endif %}
                                                        <abbr class="ssr" title="{{current_annotations[annotation_type][0]}}"><a class="dashed_underline">{{ annotation_type }}:</a></abbr>{{ current_annotations[annotation_type][4] }}
                                                    </div>
                                                {% else %}
                                                {% if 'spliceai_max_delta' == annotation_type %} <!-- add details for spliceai -->
                                                    <abbr class="ssr" title="{{current_annotations[annotation_type][0]}}"><a class="dashed_underline">{{ annotation_type }}:</a></abbr>{{ current_annotations[annotation_type][4] }}
                                                    <a class="link" tabindex="0" role="button" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus" data-bs-content="{{ current_annotations['spliceai_details'][0] }} <br/> {{ current_annotations['spliceai_details'][4] }}">details</a>
                                                {% else %}
                                                {% if 'cancerhotspots_cancertypes' == annotation_type %} <!-- handle cancerhotspots cancertypes -->
                                                    {% set cancerhotspots_cancertypes = current_annotations['cancerhotspots_cancertypes'][4].split('|') %}
                                                    <div class="table-responsive">
                                                        <table class="table table-hover scroll" style="max-height:15em" id="cancerhotspots_table">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width: 100%; background:white; padding:0;">
                                                                        <div class="sortable"><a class="dashed_underline">cancertypes</a></div>
                                                                        <input type="text" class="form-control form-control-sm column-filter sst" style="max-width:10em" placeholder="search...">
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for cancer in cancerhotspots_cancertypes %}
                                                                    <tr>
                                                                        <td>{{ cancer.replace(':', ': ') }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                {% else %}
                                                {% if '_mut' not in annotation_type and '_wt' not in annotation_type and 'spliceai_details' not in annotation_type %} <!-- standard case -->
                                                    <div style="word-break: break-all;">
                                                        <abbr class="ssr" title="{{current_annotations[annotation_type][0]}}"><a class="dashed_underline">{{ annotation_type }}:</a></abbr>{{ current_annotations[annotation_type][4] }}
                                                    </div>
                                                {% endif %}
                                                {% endif %}
                                                {% endif %}
                                                {% endif %}
                                                {% endif %}

                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

            </div>
        </div>
    </div>



    <!--available classifications-->
    <div class="col-lg-5 col-lg-6 mb-4">
        <div class="card">
            <div class="card-body">
                    
                    {% if 'consensus_classification' in annotations or 'user_classifications' in annotations %}
                    <h4 class="card-title">HerediVar classifications</h4>
                    <hr>
                    <div class="ssl sst">
                        <a href="{{ url_for('variant.classification_history', variant_id=variant[0]) }}">view classification history</a>
                    </div>
                    <!-- HEREDIVAR -->
                    <!-- most recent consensus classification -->
                    {% if 'consensus_classification' in annotations %}
                    <div class="ssl bsb sst">
                        {{ macros.draw_most_recent_consensus_classification(annotations['consensus_classification']) }}
                    </div>
                    {% endif %}
                    <!-- most recentconsensus scheme classification -->
                    {% if 'consensus_scheme_classifications' in annotations %}
                    {% set consensus_scheme_classification = annotations['consensus_scheme_classifications'][0] %}<!-- the consensus scheme classifications should only contain the most recent classification -->
                    
                    <div class="ssl">Most recent consensus scheme classification:</div>
                    <div class="ssl bsb" style="padding-left:1em">
                        <table class="table table-borderless " style="table-layout:auto; margin-bottom:0;">
                            <tbody>
                                <tr style="margin-left:0">
                                    <td style="width:10%;">Class:</td>
                                    <td style="width:100%;">{{ consensus_scheme_classification[11] }}</td>
                                </tr>
                                <tr>
                                    <td>Date:</td>
                                    <td>{{ consensus_scheme_classification[4] }}</td>
                                </tr>
                                <tr>
                                    <td>Scheme:</td>
                                    <td>{{ consensus_scheme_classification[3] }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle">Criteria:</td>
                                    <td>{{ macros.draw_criteria_display(consensus_scheme_classification[10], '4em', '2em') }}</td>
                                </tr>
                            </tbody>   
                        </table>
                    </div>
                    {% endif %}
                    <!-- user classification table -->
                    {% if 'user_classifications' in annotations %}
                    <div class="ssl ssb">User classifications:</div>
                    <div class="ssl bsb" style="padding-left:1em">
                        <div class="table-responsive">
                            <table class="table table-hover scroll" id="userClassificationsTable">
                                <thead>
                                    <tr>
                                        <th><div class="sortable">Class</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th><div class="sortable">Submitter</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th><div class="sortable">Affiliation</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th id="userClassificationsTableDateCol"><div class="sortable">Date</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th style="width: 100%;"><div class="sortable">Comment</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for classification in annotations['user_classifications'] %}
                                    <tr>
                                        <td>{{ classification[1] }}</td>
                                        <td>{{ classification[8] + ' ' + classification[9] }}</td>
                                        <td>{{ classification[10] }}</td>
                                        <td style="white-space:nowrap;">{{ classification[5] }}</td>
                                        <td>{{ classification[4] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}

                    <!-- user scheme classifications-->
                    {% if 'user_scheme_classifications' in annotations %}
                    <div class="ssl ssb">User scheme classifications:</div>
                    <div class="ssl bsb" style="padding-left:1em">
                        <div class="table-responsive">
                            <table class="table table-hover scroll" id="userSchemeClassificationsTable">
                                <thead>
                                    <tr>
                                        <th><div class="sortable">Class</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th><div class="sortable">Submitter</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th><div class="sortable">Affiliation</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th id="userSchemeClassificationsTableDateCol"><div class="sortable">Date</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th><div class="sortable">Scheme</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th style="width: 100%;"><div class="sortable">Selected criteria</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for classification in annotations['user_scheme_classifications'] %}
                                    <tr>
                                        <td>{{classification[10]}}</td>
                                        <td>{{classification[6]}} {{classification[7]}}</td>
                                        <td>{{classification[8]}}</td>
                                        <td>{{classification[4]}}</td>
                                        <td>{{classification[3]}}</td>
                                        <td>{{ macros.draw_criteria_display(classification[9], '4em', '2.5em') }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}

                    <!-- heredicare center classifications -->
                    {% if 'heredicare_center_classifications' in annotations %}
                    <h4 class="card-title">HerediCare center classifications</h4>
                    <hr>
                    <div class="ssl bst bsb">
                        <div class="table-responsive">
                            <table class="table table-hover scroll" id="heredicareCenterClassificationsTable">
                                <thead>
                                    <tr>
                                        <th><div class="sortable">Class</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th><div class="sortable">Center</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th id="heredicareCenterClassificationsTableDateCol"><div class="sortable">Date</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th style="width: 100%;"><div class="sortable">Comment</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for classification in annotations['heredicare_center_classifications'] %}
                                    <tr>
                                        <td>{{ classification[1] }}</td>
                                        <td>{{ classification[3] }}</td>
                                        <td style="white-space:nowrap;">{{ classification[5] }}</td>
                                        <td>{{ classification[4] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}

                    {% if 'clinvar_variant_annotation' in annotations %}
                    <h4 class="card-title">ClinVar classifications</h4>
                    <hr>
                    <!-- CLINVAR -->
                    <div class="ssl sst bsb">
                        <div>
                            <abbr title="The review status from ClinVar"><a class="dashed_underline">review status:</a></abbr>&nbsp;{{annotations['clinvar_variant_annotation'][4]}}
                        </div>

                        <div>
                            <abbr title="A summary of the ClinVar interpretations. The numbers in brackets display the number of ClinVar submissions reporting the specific type of interpretation."><a class="dashed_underline">interpretation summary:</a></abbr>&nbsp;{{annotations['clinvar_variant_annotation'][3]}}
                        </div>
                    </div>
                    <!-- clinvar submission table -->
                    {% if 'clinvar_submissions' in annotations %}
                    <div class="ssl bsb">
                        <div class="table-responsive">
                            <table class="table table-hover scroll" id="clinvarSubmissionsTable">
                                <thead>
                                    <tr>
                                        <th><div class="sortable">Interpretation</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th id="clinvarSubmissionsTableLastEvaluatedCol"><div class="sortable">Last evaluated</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th><div class="sortable">Review status</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th><div class="sortable">Submission condition</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th><div class="sortable">Submitter</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                        <th>Comment<input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for submission in annotations['clinvar_submissions'] %}
                                    <tr>
                                        <td>{{ submission[2] }}</td>
                                        <td style="white-space:nowrap;">{{ submission[3] }}</td>
                                        <td>{{ submission[4] }}</td>
                                        <td>
                                            <external-link href="https://www.ncbi.nlm.nih.gov/medgen/{{submission[5][0]}}">{{ submission[5][1] }}</external-link>
                                        </td>
                                        <td>{{ submission[6] }}</td>
                                        <td style="max-width:500px"><abbr title="{{ submission[7] }}"><div class="Nellipsis" style="max-width:500px">{{ submission[7] }}</div> </abbr></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}

                    {% if 'brca_exchange_clinical_significance' in annotations %}
                    <h4 class="card-title">BRCA exchange classification</h4>
                    <hr>
                    <!-- BRCA-EXCHANGE -->
                    <div class="ssl">
                        {{annotations['brca_exchange_clinical_significance'][4]}}
                    </div>
                    {% endif %}

                    {% if 'arup_classification' in annotations %}
                    <h4 class="card-title">ARUP BRCA classification</h4>
                    <hr>
                    <!-- ARUP -->
                    <div class="ssl">
                        {{annotations['arup_classification'][4]}}
                    </div>
                    {% endif %}

            </div>
        </div>
    </div>


<!-- variant consequence table -->
<!-- 0transcript_name,1hgvs_c,2hgvs_p,3consequence,4impact,5exon_nr,6intron_nr,7symbol,8transcript.gene_id,9source,10pfam_accession,11pfam_description,12length,13is_gencode_basic,14is_mane_select,15is_mane_plus_clinical,16is_ensembl_canonical,17total_flag -->
{% if 'variant_consequences' in annotations %}
<div class="col-lg-5 col-lg-6 mb-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Variant consequences</h4>
            <hr>
            <p class="card-text">
                Preferred transcripts are shown first (longer and more flags) <br>
                COSMIC links might be broken, as you can not search for them, so there might be wrong results...

                <ul class="nav nav-tabs" id="tabs" role="tablist"> <!-- although this uses the styles from a tablist it is essentially not a tablist as it is not linked to the tabContent div below! Changes appear through javascript-->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" aria-selected="true" onclick="filter_consequence_table('ensembl')">Ensembl</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" onclick="filter_consequence_table('refseq')">RefSeq</button>
                    </li>
                </ul>
                <div class="tab-content" id="tabContent">

                    <div class="table-responsive">
                        <table class="table table-hover scroll" id="variantConsequenceTable">
                            <thead>
                                <tr>
                                    <th><div class="sortable">Transcript Name</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th><div class="sortable">HGVS_C</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th><div class="sortable">HGVS_P</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th><div class="sortable">Consequence</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th><div class="sortable">Impact</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th><div class="sortable">Exon Nr.</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th><div class="sortable">Intron Nr.</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th><div class="sortable">Gene Symbol</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th><div class="sortable">Protein Domain</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th><div class="sortable">Flags</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                    <th>Links</th>
                                    <th style="display:none;" id="variant_consequence_source_col">Source</th>
                                    <th id="variant_consequence_length_col" asc="true"><div class="sortable">Length</div></th>
                                    <th style="display:none;" id="variant_consequence_numflags_col" asc="true">NumFlags</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for consequence in annotations['variant_consequences'] %}
                                <tr>
                                    <td style="white-space:nowrap;">{{ consequence[0] }}</td>
                                    <td style="white-space:nowrap;">{{ consequence[1] }}</td>
                                    <td style="white-space:nowrap;">{{ consequence[2] }}</td>
                                    <td>{{ consequence[3] }}</td>
                                    <td>{{ consequence[4] }}</td>
                                    <td>{{ consequence[5] }}</td>
                                    <td>{{ consequence[6] }}</td>
                                    <td>
                                        {% if consequence[7] is not none %}
                                            <a href="{{ url_for('extended_information.gene', gene_id=consequence[8] | int) }}">{{ consequence[7] }}</a>
                                        {% else %}
                                            {{ consequence[7] }}
                                        {% endif %}
                                    </td>
                                    {% if consequence[11] is not none %}
                                    <td>
                                        <external-link href="https://pfam.xfam.org/family/{{ consequence[10] }}">{{ consequence[11] }}</external-link>
                                    </td>
                                    {% else %}
                                    <td>{{ consequence[11] }}</td>
                                    {% endif %}
                                    <td>
                                        {% if consequence[13] %}
                                            <span class="badge bg-secondary"><abbr title="This flag describes a subset of representative transcripts of the GENCODE set of genes.">GENCODE basic</abbr></span>
                                        {% endif %}
                                        {% if consequence[14] %}
                                            <span class="badge bg-secondary"><abbr title="Each MANE (Matched Annotation from the NCBI and EMBL-EBI) transcript represents an exact match in exonic regions between a Refseq transcript and its counterpart in the Ensembl/GENCODE. The MANE Select set consists of one transcript at each protein-coding locus across the genome that is representative of biology at that locus. This set is useful as a universal standard for clinical reporting. MANE Select transcripts are identified using computational methods complemented by manual review and discussion.">MANE select</abbr></span>
                                        {% endif %}
                                        {% if consequence[15] %}
                                            <span class="badge bg-secondary"><abbr title="Each MANE (Matched Annotation from the NCBI and EMBL-EBI) transcript represents an exact match in exonic regions between a Refseq transcript and its counterpart in the Ensembl/GENCODE. The MANE Plus Clinical set includes additional transcripts for genes where MANE Select alone is not sufficient to report all pathogenic or likely pathogenic clinical variants available in public resources.">MANE clin</abbr></span>
                                        {% endif %}
                                        {% if consequence[16] %}
                                            <span class="badge bg-secondary"><abbr title="The Ensembl Canonical transcript is a single, representative transcript identified at every locus using different transcript-traits like the highest coverage of conserved exons, highest expression, longest coding sequence and is represented in other key resources, such as NCBI and UniProt.">ensembl canonical</abbr></span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <variant-google-link hgvs-c="{{ consequence[1] }}" hgvs-p="{{ consequence[2] }}" gene="{{ consequence[7] }}" rsid="{{ annotations['rsid'][4] if 'rsid' in annotations else none }}">google</variant-google-link>
                                        <variant-google-link hgvs-c="{{ consequence[1] }}" hgvs-p="{{ consequence[2] }}" gene="{{ consequence[7] }}" rsid="{{ annotations['rsid'][4] if 'rsid' in annotations else none }}" scholar="true">scholar</variant-google-link>
                                        {% if consequence[7] is not none and consequence[1] is not none %}
                                            <external-link href="https://cancer.sanger.ac.uk/cosmic/search?q={{ consequence[7] }}+{{ consequence[1] | replace('>','%3E') }}">COSMIC</external-link>
                                        {% endif %}
                                        {% if consequence[7] in ['MLH1', 'MSH2', 'MSH6', 'PMS2'] %}
                                            <external-link href="http://www.insight-database.org/classifications/index.html?gene={{ consequence[7] }}&variant={{ consequence[1] | replace('>', '%3E') }}">InSiGHT</external-link>
                                        {% endif %}
                                    </td>
                                    <td style="display:none;">{{ consequence[9] }}</td>
                                    <td >{{ consequence[12] }}</td>
                                    <td style="display:none;">{{ consequence[17] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </p>
        </div>
    </div>
</div>
{% endif %}


<!-- literature table -->
{% if 'literature' in annotations %}
<div class="col-lg-5 col-lg-6 mb-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Literature</h4>
            <hr>
            <p class="card-text">
                <div class="table-responsive">
                    <table class="table table-hover scroll" id="literatureTable">
                        <thead>
                            <tr>
                                <th id="literatureTableYearCol"><div class="sortable">Year</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th style="width:30%"><div class="sortable">Authors</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th style="width: 100%;"><div class="sortable">Title</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th><div class="sortable">Journal / Publisher</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..."></th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for paper in annotations['literature'] %}
                            <tr>
                                <td>{{paper[6]}}</td>
                                <td style="max-width:500px"><abbr title="{{ paper[4] }}"><div class="Nellipsis" style="max-width:500px">{{ paper[4] }}</div> </abbr></td>
                                <td>{{paper[3]}}</td>
                                <td>{{paper[5]}}</td>
                                <td style="text-align:center;">
                                    <external-link href="https://pubmed.ncbi.nlm.nih.gov/{{ paper[2] }}"></external-link>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </p>
        </div>
    </div>
</div>
{% endif %}

    <!-- External Links / Further Information on external websites-->
    <div class="col-sm-6 col-lg-2 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Further information</h4>
                <hr>
                <p class="card-text">
                    <div>
                        <div>
                            <external-link href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=hg38&position=chr2%3A{{variant[2]}}">UCSC</external-link>
                        </div>
                        <div>
                            <external-link href="https://gnomad.broadinstitute.org/variant/{{ variant[1][3:] }}-{{ variant[2] }}-{{ variant[3] }}-{{ variant[4] }}?dataset=gnomad_r3">GnomAD</external-link>
                        </div>
                        <div>
                            <external-link href="https://varsome.com/security-validation/?next=/variant/hg19/{{ variant[1][3:] }}:{{ variant[2] }}:{{ variant[3] }}:{{ variant[4] }}">VarSome</external-link>
                        </div>
                        {% if 'rsid' in annotations %}
                        <div>
                            <external-link href="https://www.ncbi.nlm.nih.gov/snp/rs{{annotations['rsid'][4]}}">dbSNP</external-link>
                        </div>
                        {% endif %}
                        {% if 'clinvar_variant_annotation' in annotations %}
                        <div>
                            <external-link href="https://www.ncbi.nlm.nih.gov/clinvar/variation/{{ annotations['clinvar_variant_annotation'][2] }}">ClinVar</external-link>
                        </div>
                        {% endif %}
                        {% if 'variant_consequences' in annotations %}
                            {% for consequence in annotations['variant_consequences'] %}
                                {% if consequence[0] == ENST00000269305 %} <!-- This transcript is the recommended one for TP53 (see https://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g=ENSG00000141510;r=17:7661779-7687538) and encodes the alpha isoform for this gene -->
                                <div>
                                    <external-link href="https://mutantp53.broadinstitute.org/mutantp53grade/?query={{ consequence[2] }}">PHANTM</external-link>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    </div>
                </p>
            </div>
        </div>
    </div>

</div>


{% endblock %}





{% block special_scripts %}
    <script src="/static/js/variant.js"></script>
    <script src="/static/js/colors.js"></script>
{% endblock%}

<!--
    - variant consequences nach preferred transcripts sortieren und badges (mane select, ....) anzeigen
    - gene page
    - genids durch gennamen ersetzen in variant consequence table
    - nobreak für bestimmte spalten
    ~ minimale seitenbreite angeben
    - beim variant import vcf check laufen lassen
    ~ variant import auch von hgvs möglich machen
    external links karte einfügen
    abbr beschreibungen der flags einfügen
    variant consequence table nach refseq / ensembl filtern (mit toggle)
    transcript table auf gene page einfügen
    refseq transcripts importieren + mapping table enst -> refseq
    - umbruch der last evaluated daten verhindern in clinvar submissions table
    - clinvar submissions standardmäßig nach last evaluated sortieren
    - wenn variante erfolgreich hochgeladen wurde soll der link gleich angezeigt werden in der flashed message

    - add positive feedback if variant was imported successfully
-->