{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} An HTML error occured! {% endblock %} </h1>

<div class="bst">


    <div class="bst">
        Error code:
        <div class="display-1">404: Not Found</div>
    </div>

    <div class="bst">
        Description: The resource you were trying to access is not there. If you wrote the url yourself check for spelling mistakes and try again.
    </div>
    

    
</div>

</div>

{% endblock %}

