{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} An HTML error occured! {% endblock %} </h1>

<div class="bst">


    <div class="bst">
        Error code:
        <div class="display-1">500: Internal Server Error</div>
    </div>

    <div class="bst">
        Description: This was most likely caused by a programming error. Please consider reporting a bug.
    </div>
    
    <div class="bst">
        Original error message: <br>
        {{ e }}
    </div>
    
</div>

</div>

{% endblock %}

