{% extends 'rig.html' %}

{% block headext %} {% endblock %}


{% block header %}
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ssl" href="{{url_for('main.index')}}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('variant.search')}}">Browse variants</a>
                    </li>
                    {% if session.get('user') is not none and 'user' in session['user']['roles'] %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('variant.create')}}">New variant</a>
                    </li>
                    {% endif %}
                    {% if session.get('user') is not none and 'super_user' in session['user']['roles'] %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('user.admin_dashboard')}}">Admin dashboard</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ">
                    <div class="d-flex align-items-center">
                        {% if session.get('user') is not none and 'account_manager' in session['user']['roles'] %}
                            <a class="nav-link" href="{{ url_for('auth.register') }}">create user</a>
                        {% endif %}
                        {% if session.get('user') is not none and 'account_manager' in session['user']['roles'] %}
                            <a class="nav-link" href="{{ url_for('auth.show_users') }}">edit users</a>
                        {% endif %}
                        {% if session.get('user') is none %}
                            <a class="nav-link" href="{{url_for('auth.login')}}">login</a>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ session.get('user').get('preferred_username')}}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" > <!--style="min-width: 1rem;"-->
                                    <li><a class="dropdown-item" href="{{url_for('auth.profile')}}">Profile</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('user.my_lists') }}">My lists</a></li>
                                    <li><a class="dropdown-item" href="https://github.com/GC-HBOC/HerediVar/issues">Feedback</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">logout</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- messages -->
    <div id="messages" class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="bst alert {{ category }} alert-dismissible fade show break_text_all">
                        {{ message }} 
                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <!-- messages end -->
{% endblock %}


{% block content %} {% endblock %}


{% block footer %}
    <!-- footer -->
    <footer class="border-top bg-light sst" height="6rem">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand nopad" href="{{url_for('main.index')}}">HerediVar</a>
                <div class="navbar-nav text-muted">© 2023</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#footerContent" aria-controls="footerContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="footerContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('main.index')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('doc.about')}}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('doc.impressum')}}">Impressum</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('doc.documentation')}}">Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('main.downloads')}}">Downloads</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('doc.changelog')}}">Changelog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="divider"></div>

    </footer>
{% endblock %}


{% block special_scripts %} {% endblock %}