{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1> {% block title %} Welcome to HerediVar {% endblock %} </h1>

<div class="bst">
    <h4>Changelog</h4>
    <div style="text-decoration: underline;">v 1.1 ()</div>
    <div>
        General changes:
        <ul>
            <li>External links now open a new tab on left click.</li>
        </ul>
        Performance changes:
        <ul>
            <li>Added client-side pagination of literature table</li>
        </ul>
        Bugfixes:
        <ul>
            <li>-</li>
        </ul>
    </div>
    <div style="text-decoration: underline;">v 1.0</div>
    <div>
        Initial release
    </div>
</div>

</div>


{% endblock %}

{% block special_scripts %}
{% endblock %}