{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} Welcome to HerediVar {% endblock %} </h1>



<div>
    <strong>Herzlich Willkommen auf der Homepage des HerediVar-Projekts des Deutschen Konsortiums Familiärer Brust- und Eierstockkrebs!</strong>
</div>


<div class="sst">
    Das Deutsche Konsortium Familiärer Brust- und Eierstockkrebs (DK-FBREK) ist ein deutschlandweiter Verbund von universitären Zentren, mit dem Ziel Ratsuchende bzw. 
    Patientinnen mit einer familiären Belastung für Brustkrebs und Eierstockkrebs bundesweit optimal zu betreuen.  Weitere Informationen zum Konsortium erhalten sie 
    auf unserer Homepage unter {{ macros.external_link("DK-FBREK", "https://www.konsortium-familiaerer-brustkrebs.de/") }}.
</div>


<div class="sst">
    Voraussetzung für die bestmögliche Berechnung des persönlichen Risikos für erblich bedingten Brust- und Eierstockkrebs als Voraussetzung für risikoadaptierte 
    Präventionsmaßnahmen und gezielte Therapien im Krankheitsfall ist die eindeutige Klassifikation der im Rahmen der Gendiagnostik identifizierten genetischen Varianten. 
    Eine große Herausforderung stellt dabei die große Zahl der mittels Next-Generation Sequencing (NGS)-basierten Genpanel-Untersuchungen detektierten Keimbahnvarianten 
    mit unklarer Signifikanz (VUS) dar. Dies sind genetische Veränderungen, deren Bedeutung für die Genfunktion und damit die mögliche Ursache der Erkrankung bisher 
    nicht geklärt ist. Denn viele Genvarianten sind Normvarianten, sog. Polymorphismen, d.h. sie beeinflussen die Funktion des Gens nicht.
</div>

<div class="sst">
    Um dieser Herausforderung zu begegnen hat das DK-FBREK seit mehr als 10 Jahren eine Arbeitsgruppe (VUS-Task-Force) etabliert, welche die Klassifizierung der von den 
    Zentren des Konsortiums in die zentrale Datenbank gemeldeten Varianten überprüft und sich um die Klassifizierung von VUS bemüht. Des Weiteren wurden eigene 
    genspezifische Richtlinien für die Variantenklassifizierung auf Grundlage der Richtlinien internationaler Expertengremien entwickelt (IARC, ENIGMA, ClinGen). Diese
    sind in den Publikationen auf {{ macros.external_link("pubmed", "https://pubmed.ncbi.nlm.nih.gov/32322110/") }} und im 
    {{ macros.external_link("thieme verlag", "https://www.thieme-connect.com/products/ejournals/abstract/10.1055/a-1342-5231") }} zu finden.
</div>


<div class="sst">
    Mitglieder des Expertengremiums arbeiten in den internationalen Arbeitsgruppen dieser Konsortien an der Anpassung und Weiterentwicklung der Bewertungsrichtlinien 
    mit. ({{ macros.external_link("ENIGMA", "https://enigmaconsortium.org/") }}, {{ macros.external_link("ClinGen", "https://clinicalgenome.org/affiliation/50087/")}})
    Mittlerweile entsenden alle 23 Zentren des Konsortiums Mitglieder in die VUS-Task-Force, dennoch ist die Anzahl der gemeldeten Varianten und insbesondere VUS so 
    hoch, dass eine händische Bearbeitung von Varianten nicht länger zielführend ist.
</div>

<div class="sst">
    Daher hat das DK-FBREK eine Drittmittelförderung eingeworben. Ziel des für 3 Jahre durch die Deutsche Krebshilfe {{ macros.external_link("Deutsche Krebshilfe", "https://www.krebshilfe.de/") }}
    im Rahmen des Prioritätenprogramms „Translationale Onkologie“ geförderten HerediVar Projektes (Fördernummer: 70114178) ist es, eine Datenbankplattform zu entwickeln, welche 
    die kollaborative Klassifikation von genetischen Varianten unter Automatisierung vieler Annotations- und Arbeitsschritte ermöglicht und so zukünftig die Bearbeitung 
    einer großen Zahl von Varianten und die Einspeisung der konsentierten Variantenbewertung des Konsortiums in die frei zugängliche ClinVar-Datenbank ermöglicht. 
    Weitere Informationen zum HerediVar Projekt und den beteiligten Institutionen finden sie unter der <a href="{{ url_for('main.about') }}">Projektbeschreibung</a>. Für Anfragen nutzen sie bitte das 
    <a href="{{url_for('main.contact')}}">Kontaktformular</a>.
</div>









<div class="bst bsb">
    <h4>Overview</h4>
    Currently, there are {{ total_num_variants }} variants in the HerediVar database of which {{ total_num_classified_variants }} are classified. These are annotated using these databases:
    <div class="table-responsive tableFixHead sst">
        <table class="table table-hover" style="width:100%" id="clinvarSubmissionsTable">
            <thead>
                <tr>
                    <th class="width_very_small"><div class="sortable">Title</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th class="width_medium" id="clinvarSubmissionsTableLastEvaluatedCol"><div class="sortable">Description</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th class="width_minimal"><div class="sortable">Version</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                    <th class="width_very_small"><div class="sortable">Version date</div><input type="text" class="form-control form-control-sm column-filter sst" placeholder="search..." autocomplete="off"></th>
                </tr>
            </thead>
            <tbody>
                {% for annotation_type in annotation_types %}
                <tr>
                    <td>{{ annotation_type.title }}</td>
                    <td>{{ annotation_type.description }}</td>
                    <td>{{ annotation_type.version }}</td>
                    <td>{{ annotation_type.version_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="bst bsb">
    <h4>Changelog</h4>

    <div class="underline">v 1.11 ()</div>
    <div class="btn-pvs">!! Scores from likelihood ratio tests are currently under construction. A simple reannotation is required to show them on HerediVar once they are ready to be downloaded from HerediCaRe.</div>
    <div>
        General changes:
        <ul>
            <li>Update downloads page. Added full data download and database versioning. A new HerediVar full VCF version is calculated every month.</li>
            <li>Added download archive for previous full VCF downloads</li>
        </ul>
        Bugfixes:
        <ul>
            <li>The variant type search would only show small variants even though both, small and structural variants are selected after querying the second search within a user defined list. This issue was resolved.</li>
            <li>Previously, the variant search would result in an error when searching for genomic ranges and ticking at least one variant type.</li>
            <li>Improved genomic range search and its documentation</li>
            <li>The variant list search was not working proerly. This issue was resolved.</li>
            <li>When a variant did not have an annotation, fetching the annotation status would result in an error.</li>
        </ul>
    </div>


    <a class="btn btn-outline-primary" href="{{url_for('main.changelog')}}">previous changelog</a>
</div>


</div>


{% endblock %}

{% block special_scripts %}
{% endblock %}