{% macro render_consensus_classification_label(class, width='6em') %}
<!-- position this element when you use it! -->
    <div name="class-label" style="height:auto;" classification="{{ class }}" >
        <svg id="theC" data-bs-toggle="tooltip" title="" data-bs-placement="left" xmlns="http://www.w3.org/2000/svg" width="{{ width }}" viewBox="0 0 250 250" preserveAspectRatio="xMidYMid meet" style="position: absolute; z-index:1;" fill="currentColor">
            <path d="M212.5,172.3c-16.9,31.1-49.8,52.2-87.6,52.2c-54.9,0-99.5-44.6-99.5-99.5c0-54.9,44.6-99.5,99.5-99.5   c38.3,0,71.6,21.8,88.2,53.6h28C222.9,32.8,177.7,0,125,0C56.1,0,0,56.1,0,125c0,68.9,56.1,125,125,125c52.2,0,97-32.2,115.7-77.7   H212.5z"/>
        </svg>

        {% if class == '1' or class == '2' or class == '3' or class == '4' or class == '5' %}
        <svg name="consensus_class_svg" xmlns="http://www.w3.org/2000/svg" width="{{ width }}" viewBox="-7.6 6.2 30 30" preserveAspectRatio="xMidYMid meet" fill="currentColor">
            {% if class == '1' %}
            <path d="M9.442,30.084H7.333V16.643c-0.508,0.484-1.174,0.969-1.998,1.453s-1.564,0.848-2.221,1.09v-2.039   c1.18-0.555,2.211-1.227,3.094-2.016s1.508-1.555,1.875-2.297h1.359V30.084z"/>
            {% endif %}
            {% if class == '2' %}
            <path d="M12.583,28.057v2.027H1.228c-0.016-0.508,0.066-0.996,0.246-1.465c0.289-0.773,0.752-1.535,1.389-2.285   s1.557-1.617,2.76-2.602c1.867-1.531,3.129-2.744,3.785-3.639s0.984-1.74,0.984-2.537c0-0.836-0.299-1.541-0.896-2.115   s-1.377-0.861-2.338-0.861c-1.016,0-1.828,0.305-2.438,0.914s-0.918,1.453-0.926,2.531l-2.168-0.223   c0.148-1.617,0.707-2.85,1.676-3.697s2.27-1.271,3.902-1.271c1.648,0,2.953,0.457,3.914,1.371s1.441,2.047,1.441,3.398   c0,0.688-0.141,1.363-0.422,2.027s-0.748,1.363-1.4,2.098s-1.736,1.742-3.252,3.023c-1.266,1.063-2.078,1.783-2.438,2.162   s-0.656,0.76-0.891,1.143H12.583z"/>
            {% endif %}
            {% if class == '3' %}
            <path d="M1.509,25.549l2.109-0.281c0.242,1.195,0.654,2.057,1.236,2.584s1.291,0.791,2.127,0.791c0.992,0,1.83-0.344,2.514-1.031   s1.025-1.539,1.025-2.555c0-0.969-0.316-1.768-0.949-2.396s-1.438-0.943-2.414-0.943c-0.398,0-0.895,0.078-1.488,0.234L5.903,20.1   c0.141,0.016,0.254,0.023,0.34,0.023c0.898,0,1.707-0.234,2.426-0.703s1.078-1.191,1.078-2.168c0-0.773-0.262-1.414-0.785-1.922   s-1.199-0.762-2.027-0.762c-0.82,0-1.504,0.258-2.051,0.773s-0.898,1.289-1.055,2.32L1.72,17.288   c0.258-1.414,0.844-2.51,1.758-3.287s2.051-1.166,3.41-1.166c0.938,0,1.801,0.201,2.59,0.604s1.393,0.951,1.811,1.646   s0.627,1.434,0.627,2.215c0,0.742-0.199,1.418-0.598,2.027s-0.988,1.094-1.77,1.453c1.016,0.234,1.805,0.721,2.367,1.459   s0.844,1.662,0.844,2.771c0,1.5-0.547,2.771-1.641,3.814s-2.477,1.564-4.148,1.564c-1.508,0-2.76-0.449-3.756-1.348   S1.649,26.979,1.509,25.549z"/>
            {% endif %}
            {% if class == '4' %}
            <path d="M8.259,30.084v-4.113H0.806v-1.934l7.84-11.133h1.723v11.133h2.32v1.934h-2.32v4.113H8.259z M8.259,24.038v-7.746   L2.88,24.038H8.259z"/>
            {% endif %}
            {% if class == '5' %}
            <path d="M1.497,25.584l2.215-0.188c0.164,1.078,0.545,1.889,1.143,2.432s1.318,0.814,2.162,0.814c1.016,0,1.875-0.383,2.578-1.148   s1.055-1.781,1.055-3.047c0-1.203-0.338-2.152-1.014-2.848s-1.561-1.043-2.654-1.043c-0.68,0-1.293,0.154-1.84,0.463   s-0.977,0.709-1.289,1.201l-1.98-0.258l1.664-8.824h8.543v2.016H5.224l-0.926,4.617c1.031-0.719,2.113-1.078,3.246-1.078   c1.5,0,2.766,0.52,3.797,1.559s1.547,2.375,1.547,4.008c0,1.555-0.453,2.898-1.359,4.031c-1.102,1.391-2.605,2.086-4.512,2.086   c-1.563,0-2.838-0.438-3.826-1.313S1.638,27.03,1.497,25.584z"/>
            {% endif %}
        </svg>
        {% else %}
        <svg name="consensus_class_svg" xmlns="http://www.w3.org/2000/svg" width="{{ width }}" fill="currentColor" class="bi bi-dash" viewBox="5.5 -0.7 16 16" preserveAspectRatio="xMidYMid meet">
            <path  d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
        </svg>
        {% endif %}
        
    </div>

{% endmacro %}




{% macro draw_most_recent_consensus_classification(most_recent_consensus_classification) %}
<div class="classification-gradient left-space-padding" name="consensus_class_display" classification="{{ most_recent_consensus_classification[3] }}">
    {% if most_recent_consensus_classification is not none %}
    <table class="table table-borderless table-slim">       
        <tbody>
            <tr style="margin-left:0">
                <td style="width:6rem;" class="li-label">Data</td>
                <td style="vertical-align:middle;">
                    <ul class="list-group list-group-horizontal-sm list-nopad-td list-nobackground" >
                        <li class="list-group-item noboarder-td">
                            Class: {{ most_recent_consensus_classification[3] }}
                        </li>
                        <li class="list-group-item noboarder-td">
                            Date: {{ most_recent_consensus_classification[5] }}
                        </li>
                        <li class="list-group-item noboarder-td">
                            Evidence document: <a href="{{url_for('download.evidence_document', consensus_classification_id=most_recent_consensus_classification[0]) }}">download</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td class="li-label">Comment</td>
                <td>{{ most_recent_consensus_classification[4] }}</td>
            </tr>

        </tbody>        
    </table>

    {% else %}
    <div class="li-label" style="padding:1em">
        There is no consensus classification for this variant, yet.
    </div>
    {% endif %}

</div>
{% endmacro %}

{% macro draw_criteria_display(criteria, width='6em', height='2.5em') %}
    {% for criterium in criteria %}
    <span class="d-inline-block ssr large-tt" tabindex="0" data-bs-toggle="tooltip" data-bs-html="true" 
        title="Strength: {{ criterium[5] }} <br> Evidence: {{ criterium[4] }}">
        <div class="btn btn-{{ criterium[3] }} light-hover acmg-button" style="width:{{width}}; height:{{height}}">{{ criterium[2] }}</div>
    </span>
    {% endfor %}
{% endmacro %}


{% macro draw_paginated_variant_table(pagination, variants) %}
<div id="tabnav-head" class="row align-items-end">
    <div class="col">{{ pagination.links }}</div>

    <div class="col">
        
        <a class="btn btn-sm btn-primary" data-bs-toggle="collapse" id="searchOptionsToggle" style="float:right" href="#advanced_search" role="button" aria-expanded="false" aria-controls="advanced_search" >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </a>
        

        <a class="btn btn-sm btn-danger" style="margin-right:0.1em; float:right" href="{{ url_for(request.url_rule.endpoint) }}" data-bs-toggle="tooltip" title="Clear all filters.">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                
                <g transform="scale(1.5)">
                    <g transform="translate(-4,-2.5)">
                        <path d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>

                    </g>
                </g>
            </svg>
        </a>
    </div>

    <div class="collapse" id="advanced_search">
        <div class="card card-body">

            <div>
                <form action="" method="GET" novalidate>
        
                    <div class="form-group">
                        <label for="genes" class="form-label">Genes</label>
                        <textarea type="text" name="genes" id="genes"
                               placeholder="BRCA1; BARD1; ..." class="form-control"
                               >{{ request.args.get('genes', '') }}</textarea>
                    </div>
        
                    <div class="form-group sst">
                        <label for="ranges" class="form-label">Ranges</label>
                        <textarea type="text" name="ranges" id="ranges"
                               placeholder="chr1:10295758-17027834; chr11:108229378-108229378; ..." class="form-control"
                               >{{ request.args.get('ranges', '') }}</textarea>
                    </div>
        
                    <div class="form-group sst">
                        <label for="hgvs" class="form-label">HGVS c-dot</label>
                        <textarea type="text" name="hgvs" id="hgvs"
                               placeholder="ENST00000260947:c.1972C>T; ..." class="form-control"
                               >{{ request.args.get('hgvs', '') }}</textarea>
                    </div>
        
                    <div class="form-group sst">
                        {% set selected_consensus = request.args.getlist('consensus') %}
                        <label for="consensus-select" class="form-label">Consensus classification</label>
                        <div id="consensus-select" class="d-flex">
                            <div class="form-check bsr">
                                <input class="form-check-input" type="checkbox" value="1" id="cl1" name="consensus" {% if '1' in selected_consensus %}checked{% endif %}>
                                <label class="form-check-label" for="cl1">1</label>
                            </div>
                            <div class="form-check bsr">
                                <input class="form-check-input" type="checkbox" value="2" id="cl2" name="consensus" {% if '2' in selected_consensus %}checked{% endif %}>
                                <label class="form-check-label" for="cl2">2</label>
                            </div>
                            <div class="form-check bsr">
                                <input class="form-check-input" type="checkbox" value="3" id="cl3" name="consensus" {% if '3' in selected_consensus %}checked{% endif %}>
                                <label class="form-check-label" for="cl3">3</label>
                            </div>
                            <div class="form-check bsr">
                                <input class="form-check-input" type="checkbox" value="4" id="cl4" name="consensus" {% if '4' in selected_consensus %}checked{% endif %}>
                                <label class="form-check-label" for="cl4">4</label>
                            </div>
                            <div class="form-check bsr">
                                <input class="form-check-input" type="checkbox" value="5" id="cl5" name="consensus" {% if '5' in selected_consensus %}checked{% endif %}>
                                <label class="form-check-label" for="cl5">5</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="-" id="cl-" name="consensus" {% if '-' in selected_consensus %}checked{% endif %}>
                                <label class="form-check-label" for="cl-">none</label>
                            </div>
                        </div>
                    </div>

                    {% if request.args.get('view') is not none %}
                        <input type="hidden" name="view" id="view" value="{{request.args.get('view')}}">
                    {% endif %}
                    
        
                    <div class="d-flex justify-content-end align-items-center">
                        <div>
                            <a class="ssr" href="{{url_for('doc.search_help')}}" style="float:right" >Help</a>
                        </div>
                        <button style="float:right" class="btn btn-primary" type="submit">search</button>
                    </div>
        
                </form>
            </div>
        
        </div>
    </div>
</div>
  
  
<div class="table-responsive">
  <table class="table table-hover ssb" id="variantTable">
    <thead id="variantTableHead">
      <tr>
        <th style="display:none;">id</th>
        <th style="width: 7%">CHR</th>
        <th style="width: 10%">POS</th>
        <th style="width: 30%">REF</th>
        <th style="width: 30%">ALT</th>
        <th style="width: 8%">HGVS c.</th>
        <th style="width: 8%">HGVS p.</th>
        <th style="width: 8%;">GENE</th>
        <th style="width:12%; text-align:center;">Your classification</th>
        <th style="width:12%; text-align: center;">Consensus classification</th>
      </tr>
    </thead>
    <tbody id="variantTableBody">
      {% for variant in variants %}
      <tr name="variant_row" style="line-height: 28px;" variant_id="{{ variant[0] }}">
        <td style="display:none;">{{ variant[0] }}</td>
        <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable" style="white-space: nowrap;">{{ variant[1] }}</td>
        <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable" style="white-space: nowrap;">{{ variant[2] }}</td>
        <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable longTextCss"><abbr title="{{ variant[3] }}">{{ variant[3] }}</abbr></td>
        <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable longTextCss"><abbr title="{{ variant[4] }}">{{ variant[4] }}</abbr></td>
        <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable longTextCss" style="white-space: nowrap;">
            <div>
                {% if variant[10] is not none %}
                    <abbr title="{{ variant[10] }}">{{ variant[10] }}</abbr>
                {% else %}
                    -
                {% endif %}
            </div>
        </td>
        <td data-href="{{ url_for('variant.display', variant_id=variant[0]) }}" class="clickable longTextCss" style="white-space: nowrap;">
            <div>
                {% if variant[11] is not none %}
                    <abbr title="{{ variant[11] }}">{{ variant[11] }}</abbr>
                {% else %}
                    -
                {% endif %}
            </div>

        </td>
        <td>
            {% if variant[17] is not none %}
                <div>
                    <a href="{{ url_for('extended_information.gene', gene_id=variant[17] | int) }}">{{ variant[16] }}</a>
                </div>
            {% else %}
                -
            {% endif %}
        </td>
        <td style="text-align:center;">{% if variant[8] is not none %} {{ variant[8] }} {% else %}-{%endif%}</td>
        <!--<td style="text-align:center;">{% if variant[7] is not none %} {{ variant[7] }} {% else %}-{%endif%}</td>-->
        <td style="text-align:center;">{{ render_consensus_classification_label(variant[7], '2em') }}</td>
      </tr>
      {% endfor %}
      {% if variants | length == 0 %}
        <!--<td colspan="4" class="defaultrow">No results found</td>-->
        <caption class="defaultrow">Nothing to show</caption>
      {% endif %}
    </tbody>
  </table>
</div>


<div id="tabnav-bottom" class="ssb">{{ pagination.links }}</div>

<script>
    $(document).ready(function () {
        //save id of collapse to local cookie if it is shown
        $("#advanced_search").on('show.bs.collapse', function () {
            var active = 'advanced_search';
            localStorage.setItem('expandedSearchOptions', active);
          //  alert(active);
        });
        // delte it again if it is not shown anymore
        $("#advanced_search").on('hide.bs.collapse', function () {
            localStorage.removeItem('expandedSearchOptions');
        });
        // get the value from the cookie & update collapse accordingly
        var last = localStorage.getItem('expandedSearchOptions');
        if (last != null) {
            //remove default collapse settings
            $("#advanced_search").removeClass('show');
            //show collapse
            $("#" + last).addClass("show");
        }
        merge_duplicated_rows()
    });

    function merge_duplicated_rows() {
        var table_rows = document.getElementById('variantTableBody').getElementsByTagName('tr')
        var last_row = table_rows[0]
        var rows_to_remove = []
        for (var i = 1; i < table_rows.length; i++) {
            var current_row = table_rows[i]
            

            var current_variant_id = current_row.getAttribute('variant_id')
            var last_variant_id = last_row.getAttribute('variant_id')
        
            if (current_variant_id === last_variant_id) {
                var current_tds = current_row.getElementsByTagName('td')
                var last_tds = last_row.getElementsByTagName('td')
                last_tds[5].innerHTML += current_tds[5].innerHTML
                last_tds[6].innerHTML += current_tds[6].innerHTML
                last_tds[7].innerHTML += current_tds[7].innerHTML
                rows_to_remove.push(current_row)
            } else {
                last_row = current_row
            }

        }

        for (var i = 0; i < rows_to_remove.length; i++) {
            rows_to_remove[i].remove()
        }



    }
</script>

{% endmacro %}


{% macro draw_hexplorer_score(label, delta, wt, mut) %}
<div annotation_id="{{delta[7]}}{% if wt is not none %};{{wt[7]}}{% endif %}{% if mut is not none %};{{mut[7]}}{% endif %}">
    {% if wt is none or mut is none %}
    {{ draw_exclamation_mark('There is no wildtype or mutant score. Thus, one of the sequence is missing the motiv! Be careful with the interpretation of the delta score!') }}
   {% endif %}
   <abbr class="ssr" title="{{delta[0]}}"><a class="dashed_underline">{{ label }}:</a></abbr>{{ delta[4] }}
   <a class="link" tabindex="0" data-bs-html="true" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="reference score: {{wt[4]}} <br/> mutant score: {{mut[4]}}">details</a>
   
</div>

{% endmacro %}



{% macro draw_exclamation_mark(tooltip) %}
<span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="{{tooltip}}">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="red" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
</span>
{% endmacro %}

{% macro add_variant_banner(variant_oi) %}
<div class="w-100 ssb">
    <div class="card variant-banner-color left-space-padding">
        
        <div class="card-text">
            <div class="table-responsive">
                <table class="table table-borderless table-slim">
                    <tbody>
                        <tr>
                            <td style="width:10rem" class="li-label">Variant</td>
                            <td > 
                                <div style="word-break:break-all;">
                                    {{ variant_oi[1] }}-{{ variant_oi[2] }}-{{ variant_oi[3] }}-{{ variant_oi[4] }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="li-label">Gene(s)</td>
                            <td >{{ variant_oi[6] }}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
           
        </div>
    </div>
</div>
{% endmacro %}
