{% extends 'base.html' %}


{% block content %}



  
<h1 class="bst"> {% block title %} Publish variants {% endblock %} </h1>



<h4>
    1. Select variants which should be uploaded
</h4>
<div id="list-content" class="sst ssr ssl">
    {{ macros.draw_paginated_variant_table(pagination, variants, static_information) }}
</div>

<div class="form-check ssl align-items-center d-flex">
    <input class="form-check-input" type="checkbox" id="select_all_variants" checked=''>
    <label class="form-check-label vssl" for="select_all_variants">
        Select all variants
    </label>
</div>

<h4>
    2. Select upload sites
</h4>

<form class="bsb" action="{{ url_for('upload.publish', **request_args) }}" method="post">

    <div class="bst">
        <h5>ClinVar</h5>
        <div class="bsl">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="on" name="publish_clinvar" id="publish_clinvar_check" role="button" aria-expanded="false" autocomplete="off">
                <label class="form-check-label" for="publish_clinvar_check">Publish to ClinVar</label>
            </div>
        </div>
    </div>


    <div class="bst">
        <h5>HerediCaRe</h5>
        <div class="form-check bsl">
            <input class="form-check-input" type="checkbox" value="on" name="publish_heredicare" id="publish_heredicare_check"  data-bs-toggle="collapse" href="#publish_heredicare_collapse" role="button" aria-expanded="false" aria-controls="publish_heredicare_collapse" autocomplete="off">
            <label class="form-check-label" for="publish_heredicare_check">Publish to HerediCaRe</label>
        </div>

        <div class="collapse" id="publish_heredicare_collapse">
            <div class="card card-body">
                <div>Choose which data fields should be uploaded to HerediCaRe</div>
                <div>

                    
                    <div class="form-check bsl">
                        <input class="form-check-input" type="checkbox" value="on" name="post_consensus_classification" id="post_consensus_classification_check" autocomplete="off" checked disabled>
                        <input type="hidden" id="post_consensus_classification_check" name="post_consensus_classification" value="on" /> <!-- remove this if the check above is not disabled -->
                        <label class="form-check-label" for="post_consensus_classification_check">Post consensus classification</label>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="form-group bst">
        <button id="publish_submit_button" type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>











{% endblock %}

{% block special_scripts %}
    <script src="../static/js/search.js"></script>
{% endblock%}