{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} Submit assay {% endblock %} </h1>


<div class="form-group sst">
    <label for="assay_type" class="form-label">Assay type</label>
    <select class="form-select" name="assay_type" id="assay_type" initvalue="{{ request.form['assay_type'] }}" required>
        <option value="" selected="selected" disabled hidden>Choose assay type</option>
        {% for assay_type in possible_assays %}
        <option value="{{assay_type}}" class="color_black">{{assay_type}} assay</option>
        {% endfor %}
    </select>
   <div class="invalid-feedback">
       Please select an assay type.
   </div>
</div>


{% for assay_type in possible_assays %}

<form method="post" class="needs-validation" enctype=multipart/form-data id="{{assay_type}}_assay" novalidate hidden>
    <input type="text" name="assay_type" id="assay_type" value="{{assay_type}}" hidden>

    {% set assay_metadata_types = possible_assays[assay_type]["metadata_types"] %}
    {% for assay_metadata_type_name in assay_metadata_types %}


    
        {% set current_metadata_type = assay_metadata_types[assay_metadata_type_name] %}

        <div id="report_form_group" class="form-group sst">
            <label for="{{current_metadata_type.id}}" class="form-label">{{current_metadata_type.display_title}}</label>

            {% if current_metadata_type.value_type == "float" %}
            <input type="text" pattern="[0-9 ,.]+" name="{{current_metadata_type.id}}"
                placeholder="{{current_metadata_type.title}}" class="form-control validationreq"
                value="{{ request.form.get(current_metadata_type.id | string, '') }}" id="{{current_metadata_type.id}}" {% if current_metadata_type.is_required %} required {% endif %}>
            </input>
            {% endif %}
            {% if current_metadata_type.value_type == "text" %}
            <input type="text" name="{{current_metadata_type.id}}"
                placeholder="{{current_metadata_type.title}}" class="form-control validationreq"
                value="{{ request.form.get(current_metadata_type.id | string, '') }}" id="{{current_metadata_type.id}}" {% if current_metadata_type.is_required %} required {% endif %}>
            </input>
            {% endif %}
            {% if current_metadata_type.value_type == "bool" %}
            <input type="checkbox" name="{{current_metadata_type.id}}"
                placeholder="{{current_metadata_type.title}}" class="form-check-input validationreq"
                value="on" id="{{current_metadata_type.id}}" {% if current_metadata_type.is_required %} required {% endif %} {% if current_metadata_type.id | string in request.form %}checked{% endif %}>
            </input>
            {% endif %}
            {% if "ENUM" in current_metadata_type.value_type %}
            <select class="form-select" name="{{current_metadata_type.id}}" id="{{current_metadata_type.id}}" {% if current_metadata_type.is_required %} required {% endif %}>
                <option value="" selected="selected" disabled hidden>Choose {{current_metadata_type.display_title}}</option>
                {% for possible_value in current_metadata_type.value_type.split(':')[1].split(',') %}
                <option value="{{possible_value}}" class="color_black" {% if request.form.get(current_metadata_type.id | string, '') == possible_value %}selected{% endif %}>{{possible_value}}</option>
                {% endfor %}
            </select>
            {% endif %}
            <div class="invalid-feedback">
                Please provide {{ current_metadata_type.display_title }}
            </div>
        </div>
    
    {% endfor %}

    <div id="report_form_group" class="form-group sst">
        <label for="report" class="form-label">Upload assay report</label>
        <input type="file" name="report" class="form-control validationreq"
               id="report" required>
        </input>
        <div class="invalid-feedback">
            Please provide an assay report.
        </div>
    </div>



    <div class="form-group sst">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endfor %}





</div>

{% endblock %}

{% block special_scripts %}
    <script src="/static/js/submit_assay.js"></script>
{% endblock%}