{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} Disabled in demo mode 😓 {% endblock %} </h1>



<div class="bst">
    Unfortunately, this feature is disabled in the HerediVar demo version, either because it does not make sense or because of security reasons.
</div>

<div class="bst">
    Why don't you try one these awesome features of HerediVar instead:
    <ul>
        <li class="hide_bullet_point"><div class="d-flex"><div class="ssr">🧬 Create variant:</div> <a href="{{ url_for('variant.create') }}">{{ url_for("variant.create", _external=True) }}</a></div></li>
        <li class="hide_bullet_point"><div class="d-flex"><div class="ssr">🔍 Browse variants:</div> <a href="{{ url_for('variant.search') }}">{{ url_for("variant.search", _external=True) }}</a></div></li>
        <li class="hide_bullet_point"><div class="d-flex"><div class="ssr">🧩 Show a classified variant (BRCA1:c.191G>A):</div> <a href="{{ url_for('variant.display', variant_id = 4) }}">{{ url_for("variant.display", variant_id = 4, _external=True) }}</a></div></li>
        <li class="hide_bullet_point"><div class="d-flex"><div class="ssr">🧠 Re-consensus-classify BRCA1:c.191G>A:</div> <a href="{{ url_for('variant.consensus_classify', variant_id = 4) }}">{{ url_for("variant.consensus_classify", variant_id = 4, _external=True) }}</a></div></li>
    </ul>
</div>

</div>

{% endblock %}

