{% extends 'base.html' %}


{% block content %}

<div class="container">

  
<h1 class="bst"> {% block title %} Impressum {% endblock %} </h1>

<div class="bsb">
    <div><span class="underline">Angaben gem. § 5 TMG:</span></div>
    <div class="bsl">Priv.-Doz. Dr. rer. nat. Jan Henning Hauke</div>
    <div class="bsl">Universitätsklinikum Köln (AöR) I CIO - Gebäude 70, Kerpener Str. 62</div>
    <div class="bsl">50937 Köln</div>
    <div class="bsl">Telefon: +49 221 478-30762</div>
    <div class="bsl">Telefax: +49 221 478-86510</div>
    <div class="bsl">E-Mail: jan.hauke@uk-koeln.de</div>
</div>



<div class="bsb">
    <div><span class="underline">Umsatzsteuer-Identifikationsnummer gem. § 27 a Umsatzsteuergesetz:</span></div>    
    <div class="bsl">DE 215 420 431</div>
</div>

<div class="bsb">
    <p><strong>Haftungsausschluss - Disclaimer:</strong></p>

    <p><span class="underline">Haftung für Inhalte</span></p>
    <p>
        Für die Richtigkeit, Aktualität, Vollständigkeit und Qualität der bereitgestellten Informationen wird keine Gewähr übernommen. 
        Das Angebot kann auch jederzeit ohne gesonderte Ankündigung teilweise oder 
        ganz verändert oder gelöscht werden. Haftungsansprüche wegen ideeller oder materieller Schäden durch den Gebrauch 
        der bereitgestellten Informationen sind ausgeschlossen. Nach §§ 8 bis 10 TMG sind wir nicht verpflichtet, übermittelte 
        oder gespeicherte fremde Informationen zu überwachen oder nach rechtswidriger Tätigkeit zu forschen. 
        Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
        Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
        Kenntniserlangung einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden der o.g. Rechtsverletzungen werden diese Inhalte entfernt.
    </p>

    <p><span class="underline">Haftungsbeschränkung für externe Links</span></p>
    <p>
        Diese Webseite enthält Links auf externe Webseiten Dritter. Es wird keinerlei Haftung für Verfügbarkeit oder Inhalte dieser direkt oder indirekt 
        verlinkten Webseiten übernommen. Für Schäden, illegale, fehlerhafte oder unvollständige Inhalte, die aus der Nutzung, bzw. Nichtnutzung dieser 
        Informationen entstehen, haften ausschließlich die Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der 
        über Links auf die jeweilige Veröffentlichung lediglich verweist. Wir bieten lediglich den Zugang zur Nutzung dieser Inhalte. Eine Zustimmung 
        zu den Inhalten den verlinkten Seiten Dritter ist damit nicht verbunden.
    </p>
    <p>
        Bei der erstmaligen Verknüpfung mit einem anderen Internetangebot wurde dessen Inhalt daraufhin überprüft,
        ob durch durch ihn eine mögliche zivilrechtliche oder strafrechtliche Verantwortlichkeit ausgelöst wird. Wir haben keinen Einfluss auf 
        die aktuelle und zukünftige Gestaltung und die Inhalte verlinkter Seiten und distanzieren uns von allen Inhalten, die nach der Verlinkung 
        verändert wurden. Ohne konkrete Anhaltspunkte einer Rechtsverletzung ist es nicht möglich externe Links ständig zu Überprüfen. 
        Wenn wir über rechtswidrige Inhalte auf verlinkten Webseiten Kenntnis erlangen und es uns technisch möglich und zumutbar wäre, 
        wird die Nutzung dieser Inhalte von dieser Webseite verhindert.
    </p>
    <p>
        Sollten uns Rechtsverletzungen bekannt werden, so werden diese externen Links Dritter durch uns unverzüglich entfernt.
    </p>
</div>

<div class="bsb">
    <p><span class="underline">Urheberrecht</span></p>
    <p>
        Copyright © Universitätsklinikum Köln AöR
        Die auf unserer Webseite veröffentlichen Inhalte und Werke unterliegen dem deutschen Urheberrecht 
        (<a href="http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf">http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf</a>). 
        Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung des geistigen Eigentums in ideeller und materieller Sicht des 
        Urhebers außerhalb der Grenzen des Urheberrechtes bedürfen der vorherigen schriftlichen Zustimmung des jeweiligen 
        Urhebers. 
        Downloads und Kopien dieser Seite sind nur für den privaten und nicht kommerziellen Gebrauch erlaubt. 
        Für Inhalte Dritter sind die jeweiligen Urheberrechte dieser Parteien zu beachten. Sollte uns eine Urheberrechtsverletzung
        bekannt werden, werden diese Inhalte unverzüglich entfernt.
    </p>
    <p>
        <em>HerediVar</em> wurde mit viel Sorgfalt entwickelt. Trotzdem können sich Fehler einschleichen. Wir würden uns freuen, wenn Sie 
        uns darauf aufmerksam machen.
    </p>
</div>

<div class="">
    <p><strong>Datenschutzerklärung:</strong></p>
    <p>
        Der Schutz Ihrer personenbezogenen Daten bei der Erhebung, Verarbeitung und Nutzung anlässlich Ihres Besuchs auf unserer Website 
        ist uns ein wichtiges Anliegen. Ihre Daten werden im Rahmen der gesetzlichen Vorschriften geschützt.
    </p>
    <p><span class="underline">Bereitstellung der Webseite</span></p>
    <p>
        Beim Aufrufen unserer Website werden durch den auf Ihrem Endgerät zum Einsatz kommenden Browser automatisch Informationen an den 
        Server unserer Website gesendet. Diese Informationen werden temporär in einem Logfile gespeichert. Folgende Informationen 
        werden dabei bis zur Löschung gespeichert: 
        <ul>
            <li>IP-Adresse des anfragenden Rechners,</li>
            <li>Datum und Uhrzeit des Zugriffs,</li>
            <li>Name und URL der abgerufenen Datei,</li>
            <li>Website, von der aus der Zugriff erfolgt (Referrer-URL),</li>
            <li>verwendeter Browser und ggf. das Betriebssystem Ihres Rechners</li>
            <li>sowie der Name Ihres Access-Providers.</li>
        </ul>
        Diese Daten werden ausschließlich zr gewährleistung eines rebungslosen Verbindungsaufbaus und auswertung der Systemsicherheit und -stabilität überprüft.
    </p>
    <p>
        Die Rechtsgrundlage für die Datenverarbeitung ist Art. 6 Abs. 1 S. 1 lit. f DSGVO. Unser berechtigtes Interesse folgt aus oben 
        aufgelisteten Zwecken zur Datenerhebung. In keinem Fall verwenden wir die erhobenen Daten zu dem Zweck, Rückschlüsse auf Ihre Person zu ziehen.
        Diese Daten werden nicht an Dritte übermittelt.
    </p>
    <p><span class="underline">Cookies</span></p>
    <p>
        Auf <em>HerediVar</em> werden Cookies gesetzt. Das sind kleine Dateien, die der verwendete Browser automatisch erstellt und auf Ihrem Endgerät
        speichert. Diese Cookies richten keinerlei Schaden an und enthalten keine Schadsoftware. In dem Cookie werden Informationen abgelegt, die sich 
        jeweils im Zusammenhang mit dem spezifisch eingesetzten Endgerät ergeben. Dies bedeutet jedoch nicht, dass wir dadurch unmittelbar Kenntnis von 
        Ihrer Identität erhalten. 
    </p>
    <p>
        Diese Webseite verwendet Cookies um Eingaben, die Sie zu einem früheren Zeitpunkt auf unserer Webseite gemacht haben zu speichern. So wird
        die Nutzung des Angebotes erleichert, da Sie Eingaben und Einstellungen sie getätigt haben, nicht noch einmal eingeben zu müssen. Keiner dieser
        Cookies ermöglicht Rückschlüsse auf Ihre Person.
    </p>
    <p>
        Außerdem nutzt diese Webseite Session-Cookies, die Serverseitig gespeichert werden. Diese Cookies dienen dem Zweck, Besuchsspezifische Daten zu speichern,
        die nach dem Verlassen der Webseite automatisch gelöscht werden. 
    </p>
    <p><span class="underline">Datensicherheit</span></p>
    <p>
        Wir verwenden innerhalb des Website-Besuchs das verbreitete TLS-Verfahren (Transport Layer Security) in Verbindung mit der jeweils höchsten 
        Verschlüsselungsstufe, die von Ihrem Browser unterstützt wird. Ob eine einzelne Seite unseres Internetauftrittes verschlüsselt übertragen 
        wird, erkennen Sie an der geschlossenen Darstellung des Schüssel- beziehungsweise Schloss-Symbols in der unteren Statusleiste Ihres Browsers. 
        Wir bedienen uns im Übrigen geeigneter technischer und organisatorischer Sicherheitsmaßnahmen, um Ihre Daten gegen zufällige oder vorsätzliche 
        Manipulationen, teilweisen oder vollständigen Verlust, Zerstörung oder gegen den unbefugten Zugriff Dritter zu schützen. Unsere 
        Sicherheitsmaßnahmen werden entsprechend der technologischen Entwicklung fortlaufend verbessert.
    </p>
    <p><span class="underline">Änderung der Datenschutzerklärung</span></p>
    <p>
        Durch die Weiterentwicklung der Website und Angebote darüber oder aufgrund geänderter gesetzlicher beziehungsweise behördlicher Vorgaben 
        kann es notwendig werden, diese Datenschutzerklärung zu ändern. 
    </p>
</div>


</div>


<!--
<div class="container">

    <h1 class="bst"> Legal notice </h1>

    <div class="bsb">
        <p><span class="underline">Details acc. § 5 TMG:</span></p>
        <p>Vorname, Name</p>
        <p>Adresse</p>
        <p>PLZ</p>
    </div>
    
    
    <div class="bsb">
        <p><span class="underline">Contact information:</span></p>
        <p>Telefon:</p>
        <p>Fax:</p>
        <p>E-Mail:</p>
    </div>
    
    <div class="bsb">
        <p><strong>Sales tax ID</strong></p>
        <p><span class="underline">&nbsp;</span></p>
        <p><span class="underline">USales tax identification number according to § 27 a Sales Tax Act:</span></p>
        
        <p>DE XXX XXX XXX</p>
        <p><strong><span class="underline">&nbsp;</span></strong></p>
    </div>
    
    <div class="bsb">
        <p><strong>Disclaimer:</strong></p>
    
        <p><span class="underline">Liability for contents</span></p>
        <p>
            All contents of our website have been created with the utmost care and to the best of our knowledge. 
            However, we cannot guarantee the accuracy, completeness and timeliness of the content. 
            As a service provider, we are responsible for our own content on these pages in accordance with § 7 para.1 TMG under the general 
            responsible for our own content on these pages. According to §§ 8 to 10 TMG we are not obligated as a service provider to monitor transmitted 
            or stored information or to investigate circumstances that indicate illegal activity. 
            illegal activity. Obligations to remove or block the use of information in accordance with general
            remain unaffected by this.
        </p><p>
            However, any liability in this respect is only possible from the time of
            of knowledge of a concrete infringement of the law. Upon becoming aware of the above-mentioned violations of law 
            we will remove these contents immediately.
        </p>
        <p><span class="underline">Haftungsbeschränkung für externe Links</span></p>
        <p>
            Our website contains links to external websites of third parties. We have no influence on the content of these directly or indirectly linked websites. 
            linked websites we have no influence. Therefore, we can for the "external links" also no guarantee for the accuracy of the 
            contents. For the content of the external links are the respective providers or operators (creators) of the 
            pages are responsible.
        </p><p>
            The external links were checked for possible legal violations at the time the link was set 
            and were free of illegal content at the time of linking. A constant review of the content 
            of the external links is not possible without concrete evidence of a violation of the law. In the case of direct 
            or indirect links to the websites of third parties that lie outside our area of responsibility, 
            liability would only exist in the event that we become aware of the contents and it is technically possible and 
            and it would be technically possible and reasonable for us to prevent the use in case of illegal content.
        </p>
        <p>
            This disclaimer also applies within the own Internet presence "<em>HerediVar</em>" 
            set links and references of questioners, blog contributors, guests of the discussion forum. For illegal, incorrect 
            or incomplete content and in particular for damages resulting from the use or non-use of such information. 
            information, only the service provider of the linked site is liable, not the one who has linked to this site. 
            not the person who merely refers to the respective publication via links.
        </p><p>
            If we become aware of any infringements, we will remove the external links immediately.
        </p>
    </div>
    
    <div>
        <p><span class="underline">Copyright</span></p>
        <p>
            The contents and works published on our website are subject to German copyright law
            (<a href="http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf">http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf</a>). 
            The reproduction, adaptation, distribution and any kind of exploitation of intellectual property in ideal and material view of the 
            author outside the limits of copyright law requires the prior written consent of the respective 
            author in the sense of the copyright law (<a href="http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf">http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf</a>). 
            Downloads and copies of this page are only allowed for private and non-commercial use. If the contents on our website was 
            not created by us, the copyrights of third parties must be observed. The contents of third parties are marked as such
            Should you nevertheless become aware of a copyright infringement, we request that you notify us accordingly. If we become aware of any 
            infringements, we will remove such content immediately.
        </p>
    </div>
    
    <p>This <a href="http://www.jurarat.de/muster-impressum">legal notice</a> was kindly provided by www.jurarat.de.</p>

</div>

-->

{% endblock %}

